USE [OB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CUSTATTRIB_OB]    Script Date: 2026/4/20 下午 02:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*************************************************************
Serve		APYHFC16/SQYHFC07
Database	OB
程式名稱	SP_GET_CUSTATTRIB
系    統 	租賃系統
程式功能	客戶特質資料查詢_OB使用
作    者	SS BEN.HSU
撰寫日期	2010/01/26

SELECT * FROM LL..LLCUSTATTRIBMF WITH(NOLOCK)
EXEC SP_GET_CUSTATTRIB_OB '','01','16'
EXEC SP_GET_CUSTATTRIB_OB '','03','17'
*************************************************************/
ALTER  PROCEDURE [dbo].[SP_GET_CUSTATTRIB_OB]
@MSG 		VARCHAR(50) OUTPUT	--錯誤訊息
,@BIZTYPE	VARCHAR(2)			--業務別
,@SRVTYPE	VARCHAR(4)			--服務類別

AS

SET @MSG=''		
SET NOCOUNT ON

DECLARE @TODAY VARCHAR(8)
SET @TODAY = CONVERT(VARCHAR,GETDATE(),112)

	CREATE TABLE #TMP_OBOUT
	(
		CUSTID	VARCHAR(20)
		,CNTRNO	VARCHAR(20)
		,ATTRIBCD VARCHAR(2)
	)
	
	--IF @BIZTYPE = '01'	--租賃 ==> 可直接查出結果(因分期合約需取用SQYHFC06 CRM中的資料)
	--	BEGIN			
	--		INSERT INTO #TMP_OBOUT (CUSTID,CNTRNO,ATTRIBCD)
	--			--客戶特性的所有合約
	--			SELECT	A.CUSTID,A.CNTRNO,''
	--					FROM LL..LLAPPROMF A WITH(NOLOCK)
	--					JOIN	(	
	--								SELECT CUSTID FROM LL..LLCUSTATTRIBMF WITH(NOLOCK)
	--									WHERE	ATTRIBCD = '01'
	--									AND		BIZTYPE = @BIZTYPE
	--									AND		[TYPE] = @SRVTYPE
	--									AND		OBOUT = 'Y'
	--									AND		@TODAY	BETWEEN STADT AND ENDDT	
	--									AND		CUSTID <> ''
	--							) AS B ON B.CUSTID=A.CUSTID AND A.CNTRNO <> ''
	--			UNION
	--			--合約特性的合約
	--			SELECT	A.CUSTID,A.CNTRNO,''
	--					FROM LL..LLAPPROMF A WITH(NOLOCK)
	--					JOIN	(	
	--								SELECT CNTRNO FROM LL..LLCUSTATTRIBMF WITH(NOLOCK)
	--									WHERE	ATTRIBCD = '02'
	--									AND		BIZTYPE = @BIZTYPE
	--									AND		[TYPE] = @SRVTYPE
	--									AND		OBOUT = 'Y'
	--									AND		@TODAY	BETWEEN STADT AND ENDDT	
	--									AND		CNTRNO <> ''
	--							) AS B ON B.CNTRNO=A.CNTRNO AND A.CNTRNO <> ''
	--	END
		
	IF @BIZTYPE = '03'	--分期 ==> 區分特性資料再處理
		BEGIN
			INSERT INTO #TMP_OBOUT (CUSTID,CNTRNO,ATTRIBCD)
				--客戶特性的所有合約
				SELECT	CUSTID,CNTRNO,'01' FROM SQYHFC07.LL.dbo.LLCUSTATTRIBMF WITH(NOLOCK)
						WHERE	ATTRIBCD = '01'
						AND		BIZTYPE = @BIZTYPE
						AND		[TYPE] = @SRVTYPE
						AND		OBOUT = 'Y'
						AND		@TODAY	BETWEEN STADT AND ENDDT	
						AND		CUSTID <> ''
				UNION
				--合約特性的合約
				SELECT	CUSTID,CNTRNO,'02' FROM SQYHFC07.LL.dbo.LLCUSTATTRIBMF WITH(NOLOCK)
						WHERE	ATTRIBCD = '02'
						AND		BIZTYPE = @BIZTYPE
						AND		[TYPE] = @SRVTYPE
						AND		OBOUT = 'Y'
						AND		@TODAY	BETWEEN STADT AND ENDDT	
						AND		CNTRNO <> ''		
		END
		
	SELECT * FROM #TMP_OBOUT
	DROP TABLE #TMP_OBOUT

--=================================================================================================



