USE [OB]
GO
/****** Object:  StoredProcedure [dbo].[SP_INFOT_ASSIGNEXPORTNAMELIST_st3_emplid_T5]    Script Date: 2026/4/20 上午 11:28:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************
--  程式名稱：SP_INFOT_ASSIGNEXPORTNAMELIST_st3_emplid_T5
--  功能說明：電銷名單人員分配(汽車T5)
--  撰寫人員：MinYann
--  開發日期：
--  修改日期：20210120 MinYann 電銷名單調整。TIER依據人員比例分配
			 20210716 MinYann 非機車名單
			 20220427 MinYann 均分給汽車組和泛廣宣
			 20230425 Rumin 每日案件分派數量平均化
			 20240628 Peter 機車組優先保有T5名單→T5tM (202407名單專用)
			 20240730 Peter 退回舊版
			 20250527 Peter 均分給廣宣
			 20250730 Peter 均分給一般組，不含廣宣
/*
	DECLARE @MSG NVARCHAR(500)='', @LIST_NO VARCHAR(15)='OB202407008'
	EXEC [dbo].[SP_INFOT_ASSIGNEXPORTNAMELIST_st3_emplid_T5] @MSG, @LIST_NO
	SELECT @MSG 
*/
*********************************************************/

ALTER PROCEDURE [dbo].[SP_INFOT_ASSIGNEXPORTNAMELIST_st3_emplid_T5]
(
	@MSG		NVARCHAR(500) OUTPUT,
	@LIST_NO	VARCHAR(15)		--拿來判斷哪一個月份的T1~T4
)
AS


DECLARE @IS_ASSIGNED VARCHAR(1),
		@TIER_LEVEL VARCHAR(5),	--TIER_LEVEL
		@EMP_COUNT INT=0,
		@CASE_COUNT INT=0

-- Rumin 20230425 紀錄剩餘案件用
DECLARE @DIVIDE_LEFT TABLE( EMP_ORD INT, TIER_LEVEL VARCHAR(5), APPL_NO VARCHAR(20), EMPLID VARCHAR(10), OB_DEPT VARCHAR(10), ASSIGNDAY VARCHAR(10))

--取該月份第一個名單作為比例分配基準
SELECT @LIST_NO=MIN(LIST_NO)
  FROM OBMLISTDF
 WHERE LEFT(LIST_NO,8)=LEFT(@LIST_NO,8)
   --AND LIST_NM NOT LIKE '%機車%'			--非機車的第一個名單
    AND PROD_KIND='01' -- 汽車的第一個名單	-- Rumin 20230425 改看產品類別PROD_KIND(01:汽車,02:機車,03:商品)

SELECT TOP 1 @IS_ASSIGNED=IS_ASSIGNED
  FROM OBMLISTDF
 WHERE LIST_NO=@LIST_NO

IF ISNULL( @IS_ASSIGNED,'N')='Y' 
BEGIN 
	SET @MSG=ISNULL(@LIST_NO,'')+'名單已分配'
	RETURN
END

DECLARE @SYS_DT DATETIME 
SET @SYS_DT=(SELECT PROJECT_WORKYM+'01' FROM OBMLISTDF WHERE LIST_NO=@LIST_NO)

--------------------------------------
IF OBJECT_ID('tempdb.dbo.#TIER','U') IS NOT NULL DROP TABLE #TIER
CREATE TABLE #TIER(TIER_LEVEL VARCHAR(5))

INSERT INTO #TIER(TIER_LEVEL)	--改用TIER不用LIST_NO
VALUES ('T51'),
	   ('T52')

--清除上次分配
UPDATE A
   SET OB_EMPLID=''
  FROM OBPOOLDATA_LIST A
  --JOIN OBMLISTDF A2 ON A.LIST_NO=A2.LIST_NO AND A2.LIST_NM NOT LIKE '%機車%'		--非機車
  JOIN OBMLISTDF A2 ON A.LIST_NO=A2.LIST_NO AND A2.PROD_KIND='01' -- 汽車名單 -- Rumin 20230424 改看產品類別PROD_KIND(01:汽車,02:機車,03:商品)
  JOIN #TIER A3 ON A.TIER_LEVEL=A3.TIER_LEVEL
 WHERE LEFT(A.LIST_NO,8) = LEFT(@LIST_NO,8)
   --AND OB_EMPLID<>ISNULL(CR_ID,'')	--只清除非CR業代，因CR業代在部門分配時已優先分配，不能清除(如果之前剛好分配CR業務給非CR客 會判斷錯誤)
   AND ISNULL(IS_CR,'')<>'Y'  -- Rumin 20230424 只清除非CR業代，因CR業代在部門分配時已優先分配，不能清除
--------------------------------------


		PRINT 'SP_INFOT_ASSIGNEXPORTNAMELIST_st3_emplid '+@LIST_NO
		DECLARE @BREAK_EMPL VARCHAR(200)
		--SELECT * FROM OBPOOLDATA_LIST WHERE LIST_NO='OB201905001'

		DECLARE @CHAR_WORKDT VARCHAR(8)
		--SET @CHAR_WORKDT = (SELECT PROJECT_WORKYM FROM OBMLISTDF WHERE LIST_NO=@LIST_NO)
		SELECT @CHAR_WORKDT=PROJECT_WORKYM
		  FROM OBMLISTDF
		 WHERE LIST_NO=@LIST_NO

		
BEGIN TRAN
	BEGIN TRY
		DECLARE cur_tier CURSOR FOR
			SELECT TIER_LEVEL
			  FROM #TIER
		OPEN cur_tier
		FETCH NEXT FROM cur_tier INTO @TIER_LEVEL
		WHILE(@@FETCH_STATUS=0)
		BEGIN
			PRINT '@TIER_LEVEL='+@TIER_LEVEL
			----------------------------------------------------
			-- STEP 01 取得當月準備分派的資料
			----------------------------------------------------
			SET @BREAK_EMPL='STEP 01 取得當月準備分派的資料'
			PRINT @BREAK_EMPL
			IF OBJECT_ID('tempdb..#DIVIDE_TO_EMPL') IS NOT NULL DROP TABLE #DIVIDE_TO_EMPL
			SELECT A.*
			 INTO #DIVIDE_TO_EMPL
			 FROM OBPOOLDATA_LIST A WITH(NOLOCK)
			 --JOIN OBMLISTDF B WITH(NOLOCK) ON A.LIST_NO=B.LIST_NO AND B.LIST_NM NOT LIKE '%機車%'
			 JOIN OBMLISTDF B WITH(NOLOCK) ON A.LIST_NO=B.LIST_NO AND B.PROD_KIND='01' -- Rumin 20230425 改看產品類別PROD_KIND(01:汽車,02:機車,03:商品)
			WHERE LEFT(A.LIST_NO,8)=LEFT(@LIST_NO,8) AND TIER_LEVEL=@TIER_LEVEL
			

			IF (SELECT COUNT(1) FROM #DIVIDE_TO_EMPL) = 0	--無資料不處理分配
			BEGIN
				PRINT '@TIER_LEVEL='+@TIER_LEVEL+' 無資料不處理分配'
				FETCH NEXT FROM cur_tier INTO @TIER_LEVEL
				CONTINUE
			END

			--已CR優先分配者（部門分配時已決定） -- T5名單沒有CR客
			UPDATE A
			   SET EMPLID=''
			  FROM #DIVIDE_TO_EMPL A
			 
			--[案件均分] --20220427 MinYann 均分給汽車及泛廣宣人員
			----------------------------------------------------
			-- STEP 02 取得人員分配比例 (汽車組+廣宣人員均分)
			----------------------------------------------------
			SET @BREAK_EMPL='STEP 02 取得人員分配比例'
			PRINT @BREAK_EMPL
			--中結滿期3年以上，均分給汽車組及泛廣宣
			IF OBJECT_ID('tempdb..#DEPTID_EMPLID_RATION') IS NOT NULL DROP TABLE #DEPTID_EMPLID_RATION
			----汽車組人員 --20250527移除 --20250730加回
			SELECT EMPLID, 0.0 AS RATION, DEPTID_M	--員工代號、比例、電銷單位代號
			  INTO #DEPTID_EMPLID_RATION
			  FROM OBEMPLSETMF A WITH(NOLOCK)
			  JOIN OBMLISTDF B WITH(NOLOCK) ON A.LIST_NO=B.LIST_NO
			 WHERE ISNULL(RATION,0.0) <> 0
			   AND A.LIST_NO = @LIST_NO
			--3.2 泛廣宣人員	--20220320 MinYann 排除泛廣宣 --20220427 MinYann 加入泛廣宣 --20231026 Peter 移除泛廣宣(彥蓉)
			-- UNION
			--20250527 Peter 只派廣宣 --20250730取消廣宣，僅一般組
			--SELECT TBL_DESC2 AS EMPLID, 0.0 AS RATION, TBL_VAL3 AS DEPTID_M		--員工代號、比例、電銷單位代號
			--INTO #DEPTID_EMPLID_RATION
			-- FROM OBMCODEDF WITH(NOLOCK)
			-- -- 20230208 Rumin 廣宣人員離職判斷改用TBL_VAL4<>'Y'
			-- --WHERE TBL_ID='19' AND STADT<=CONVERT(VARCHAR, GETDATE(), 112) AND ISNULL(ENDDT, '20991231')>CONVERT(VARCHAR, GETDATE(), 112)
			-- WHERE TBL_ID='19' AND ISNULL(TBL_VAL4,'N')<>'Y'
       
			----------------
			--案件數均分	--20220427 MinYann 啟用均分
			SELECT @EMP_COUNT=COUNT(1)	--總人數
			  FROM #DEPTID_EMPLID_RATION

			--SELECT @CASE_COUNT=COUNT(1)
			--  FROM #DIVIDE_TO_EMPL

			--UPDATE A
			--   SET RATION=CAST(@CASE_COUNT AS NUMERIC(10,1))/@EMP_COUNT
			--  FROM #DEPTID_EMPLID_RATION A

			IF (SELECT COUNT(1) FROM #DEPTID_EMPLID_RATION)=0
			BEGIN 
				SET @MSG=@BREAK_EMPL+@LIST_NO+'查無員工分配比例'
				PRINT @MSG

				ROLLBACK	--20210831
				RETURN
			END

			SET @BREAK_EMPL='STEP 02.1 隨機平均分配案件'
			PRINT @BREAK_EMPL

			--案件給予隨機編號
			IF OBJECT_ID('tempdb..#CASES_NUM') IS NOT NULL DROP TABLE #CASES_NUM
			SELECT APPL_NO, ROW_NUMBER() OVER(ORDER BY NEWID()) AS ROWNO
			  INTO #CASES_NUM
			  FROM #DIVIDE_TO_EMPL

			--人員給予隨機編號
			IF OBJECT_ID('tempdb..#EMP_NUM') IS NOT NULL
				DROP TABLE #EMP_NUM
			SELECT EMPLID, DEPTID_M, ROW_NUMBER() OVER(ORDER BY NEWID()) AS ROWNO
			  INTO #EMP_NUM
			  FROM #DEPTID_EMPLID_RATION

			--案件依人數給號碼
			UPDATE #CASES_NUM
			   SET ROWNO = ROWNO % @EMP_COUNT + 1

			--以號碼分配給人員
			UPDATE A
			   SET EMPLID=C.EMPLID,
				   OB_DEPT=C.DEPTID_M
			  FROM #DIVIDE_TO_EMPL A
			  JOIN #CASES_NUM B ON A.APPL_NO=B.APPL_NO
			  JOIN #EMP_NUM C ON B.ROWNO=C.ROWNO


			----------------------------------------------------

			/* --[依照比例分配給人員] --20220427 MinYann T5案件均分
			----------------------------------------------------
			-- STEP 02 取得人員分配比例
			----------------------------------------------------
			SET @BREAK_EMPL='STEP 02 取得人員分配比例'
			PRINT @BREAK_EMPL
			--中結滿期3年以上，均分給汽車組及泛廣宣
			IF OBJECT_ID('tempdb..#DEPTID_EMPLID_RATION') IS NOT NULL
				DROP TABLE #DEPTID_EMPLID_RATION
			--汽車組人員
			SELECT EMPLID, RATION, DEPTID_M	--員工代號、比例、電銷單位代號
			  INTO #DEPTID_EMPLID_RATION
			  FROM OBEMPLSETMF A WITH(NOLOCK)
			  JOIN OBMLISTDF B WITH(NOLOCK) ON A.LIST_NO=B.LIST_NO
			 WHERE ISNULL(RATION,0.0) <> 0
			   AND A.LIST_NO = @LIST_NO

			IF (SELECT COUNT(1) FROM #DEPTID_EMPLID_RATION)=0
			BEGIN 
				SET @MSG=@BREAK_EMPL+@LIST_NO+'查無員工分配比例'
				PRINT @MSG

				ROLLBACK	--20210831
				RETURN
			END

			----------------------------------------------------
			-- STEP 03 參數設定 
			----------------------------------------------------
			SET @BREAK_EMPL='STEP 03 參數設定 '
			PRINT @BREAK_EMPL
			DECLARE @count int					--要分配的員工數，該電銷有多少員工要分派
					, @time int = 1				--第幾個員工要分配，預設為1
					, @end_num int = 0			--該員工最大的分配序號，預設為0
					, @add_num int = 0			--該員工需增加的序號，預設為0
					, @count_cr int = 0			--CR案件數大於分配數的人數

			DECLARE @r_DEPTID_M varchar(10)		--電銷單位代號
					, @r_SUM_RATION int			--該電銷比例總和
					, @r_APPL_TOTAL int			--該電銷要分配的案件總數
					, @r_EMPLID varchar(10)		--員工代號
					, @r_EMPLID_RATE varchar(5)	--該員工分配比例
					, @r_EMPLID_CR int = 0		--該員工已分配CR的案件數
					, @r_SUM_CNT int = 0		--員工分配件數總和（原本應分配件數）
					, @r_LEFT_CNT int = 0		--剩餘件數（@r_APPL_TOTAL - @r_SUM_CNT）
					, @r_ADD_CNT int = 0		--每個人應多分配幾件
					, @r_CR_CNT int = 0			--因CR而多拿的件數
					, @r_EMPLID_COUNTS int = 0	--該員工需分配件數

			DECLARE @OVER_EMP VARCHAR(10) = ''	--超出件數的員工
					, @OVER_CNT INT = 0			--超出幾件

			----------------------------------------------------
			-- STEP 04 取得電銷單位代號、該電銷比例總和 進入迴圈
			----------------------------------------------------
			SET @BREAK_EMPL='STEP 04 取得電銷單位代號、該電銷比例總和 進入迴圈'
			PRINT @BREAK_EMPL
			DECLARE CUR_DEPT CURSOR FOR
					SELECT DEPTID_M, SUM(RATION) FROM #DEPTID_EMPLID_RATION	--電銷單位代號、該電銷比例總和
					GROUP BY DEPTID_M

			OPEN CUR_DEPT
			FETCH NEXT FROM CUR_DEPT INTO @r_DEPTID_M, @r_SUM_RATION
			WHILE @@FETCH_STATUS = 0
			BEGIN
				SET @BREAK_EMPL='@r_DEPTID_M='+@r_DEPTID_M+', @r_SUM_RATION='+cast(@r_SUM_RATION as varchar)
				PRINT @BREAK_EMPL
				----------------------------------------------------
				-- STEP 05 取得要分配的電銷案件
				----------------------------------------------------
				SET @BREAK_EMPL='STEP 05 取得要分配的電銷案件'
				PRINT @BREAK_EMPL
				IF OBJECT_ID('tempdb..#DIVIDE_TABLE') IS NOT NULL DROP TABLE #DIVIDE_TABLE
				SELECT ROW_NUMBER() OVER(ORDER BY NEWID()) SEQ	--亂數
					,APPL_NO, ISNULL(OB_EMPLID,'') AS EMPLID
				INTO #DIVIDE_TABLE		--要分配的電銷案件
				FROM #DIVIDE_TO_EMPL
				WHERE OB_DEPT = @r_DEPTID_M
				  --AND ISNULL(OB_EMPLID,'')=''	--未分配		--20210530 MinYann 此條件註解掉，因後面若判斷CR件數已超過應得件數，會移除CR案件
				  --AND ISNULL(EMPLID,'')=''	--未CR業代優先分配

				----------------------------------------------------
				-- STEP 06 取得要分配的員工及比例
				----------------------------------------------------
				SET @BREAK_EMPL='STEP 06 取得要分配的員工及比例'
				PRINT @BREAK_EMPL
				IF OBJECT_ID('tempdb..#EMPLID_RATION') IS NOT NULL DROP TABLE #EMPLID_RATION
				SELECT EMPLID, RATION,	--員工代號、分配比例
					   0 AS CNT_ORIGIN, 0 AS CNT_CR, 0 AS CNT_FINAL,	--20210225 MinYann 原本該分配的件數、已CR優先分配的件數、最終件數
					   ROW_NUMBER() OVER(ORDER BY NEWID()) AS SEQ		--20210225 MinYann 隨機人員順序（用於分配剩餘案件）
				  INTO #EMPLID_RATION
				  FROM #DEPTID_EMPLID_RATION
				 WHERE DEPTID_M = @r_DEPTID_M
				 ORDER BY RATION

				----------------------------------------------------
				-- STEP 09 TIER_LEVEL按照員工比例分配
				/*
					案件分配原則：
					1.先用總件數算每個人應分配幾件
					2.抓出CR優先分配就已經超出應分配件數的人
					3.算出這些人總共多拿幾件
					4.扣除多餘件數並均分給其他人
					5.依每個人件數隨機分配案件
				*/
				----------------------------------------------------
				SELECT @r_APPL_TOTAL = COUNT(1) FROM #DIVIDE_TO_EMPL WHERE OB_DEPT=@r_DEPTID_M	--該電銷要分配的案件總數
				SELECT @count = COUNT(1) FROM #EMPLID_RATION		--要分配的員工數，該電銷課有多少員工要分派
				
				----------------------------
				--1.先用總件數算每個人應分配幾件
				--1-1.計算每個人本來應該分配幾件
				SET @BREAK_EMPL='1-1.計算每個人本來應該分配幾件'
				PRINT @BREAK_EMPL
				UPDATE A
				   SET CNT_ORIGIN = FLOOR(@r_APPL_TOTAL*RATION/100)
				  FROM #EMPLID_RATION A

				--1-2.計算剩幾件
				SET @BREAK_EMPL='1-2.計算剩幾件'
				PRINT @BREAK_EMPL
				SELECT @r_LEFT_CNT = @r_APPL_TOTAL - SUM(CNT_ORIGIN)
				  FROM #EMPLID_RATION

				--1-3.若剩餘件數大於人數，則每個人同時多配幾件（@r_ADD_ANT）
				SET @BREAK_EMPL='1-3.若剩餘件數大於人數，則每個人同時多配幾件（@r_ADD_ANT）'
				PRINT @BREAK_EMPL
				SELECT @r_ADD_CNT = @r_LEFT_CNT / @count
				IF @r_ADD_CNT>0
				BEGIN
					UPDATE #EMPLID_RATION
					   SET CNT_ORIGIN = CNT_ORIGIN + @r_ADD_CNT

					--重新計算剩幾件
					SELECT @r_LEFT_CNT = @r_APPL_TOTAL - SUM(CNT_ORIGIN)
					  FROM #EMPLID_RATION
				END

				--1-4.剩餘件數直接分配給前幾個人
				SET @BREAK_EMPL='1-4.剩餘件數直接分配給前幾個人'
				PRINT @BREAK_EMPL
				UPDATE A
				   SET CNT_ORIGIN = CNT_ORIGIN + 1
				  FROM #EMPLID_RATION A
				 WHERE SEQ <= @r_LEFT_CNT
				----------------------------
				--2.抓出CR優先分配就已經超出應分配件數的人
				SET @BREAK_EMPL='2.抓出CR優先分配就已經超出應分配件數的人'
				PRINT @BREAK_EMPL
				;WITH TMP AS
				(
					SELECT EMPLID, COUNT(1) AS CNT
					  FROM #DIVIDE_TO_EMPL
					 WHERE OB_DEPT = @r_DEPTID_M
					 GROUP BY EMPLID
				)
				UPDATE A
				   SET CNT_CR = CNT
				  FROM #EMPLID_RATION A
				  JOIN TMP B ON A.EMPLID=B.EMPLID

				--3.超出應分配件數的人，計算超出幾件
				IF OBJECT_ID('tempdb..#OVER') IS NOT NULL DROP TABLE #OVER
				SELECT EMPLID, CNT_CR-CNT_ORIGIN AS OVER_CNT
				  INTO #OVER
				  FROM #EMPLID_RATION
				 WHERE CNT_CR>CNT_ORIGIN

				--4.超出的件數隨機移除
				DECLARE cur_over CURSOR FOR
					SELECT EMPLID, OVER_CNT FROM #OVER
				OPEN cur_over
				FETCH NEXT FROM cur_over INTO @OVER_EMP, @OVER_CNT
				WHILE @@FETCH_STATUS = 0
				BEGIN
					--隨機挑案件移除
					IF OBJECT_ID('tempdb..#TEMP') IS NOT NULL DROP TABLE #TEMP
					SELECT EMPLID, APPL_NO, ROW_NUMBER() OVER(ORDER BY NEWID()) AS SEQ
					  INTO #TEMP
					  FROM #DIVIDE_TABLE
					 WHERE EMPLID=@OVER_EMP

					UPDATE A
					   SET EMPLID=''
					  FROM #DIVIDE_TABLE A
					  JOIN #TEMP B ON A.EMPLID=B.EMPLID AND A.APPL_NO=B.APPL_NO
					 WHERE B.SEQ<=@OVER_CNT

					FETCH NEXT FROM cur_over INTO @OVER_EMP, @OVER_CNT
				END
				CLOSE cur_over
				DEALLOCATE cur_over
				----------------------------
				--最終件數=初始件數-CR件數
				UPDATE A
				   SET CNT_FINAL=CASE WHEN CNT_ORIGIN-CNT_CR<=0 THEN 0 ELSE CNT_ORIGIN-CNT_CR END
				  FROM #EMPLID_RATION A

				----------------------------
				--5.依每個人件數隨機分配案件（超過應分配者不進行分配）
				SET @BREAK_EMPL='5.依每個人件數隨機分配案件（超過應分配者不進行分配）'
				PRINT @BREAK_EMPL
				DECLARE CUR_DIVIDE CURSOR FOR
						SELECT EMPLID, CNT_FINAL FROM #EMPLID_RATION WHERE SEQ>0

				OPEN CUR_DIVIDE
				FETCH NEXT FROM CUR_DIVIDE INTO @r_EMPLID, @r_EMPLID_COUNTS
				WHILE @@FETCH_STATUS = 0
				BEGIN
					--直接TOP進行分配
					;WITH TMP AS
					(
						SELECT TOP (@r_EMPLID_COUNTS) APPL_NO
						  FROM #DIVIDE_TABLE
						 WHERE ISNULL(EMPLID,'')=''
						 ORDER BY SEQ
					)
					UPDATE A
					   SET EMPLID=@r_EMPLID
					  FROM #DIVIDE_TABLE A
					  JOIN TMP B ON A.APPL_NO=B.APPL_NO

					FETCH NEXT FROM CUR_DIVIDE INTO @r_EMPLID, @r_EMPLID_COUNTS
				END
				CLOSE CUR_DIVIDE
				DEALLOCATE CUR_DIVIDE

	PRINT 'A'	
				----------------------------------------------------
				-- STEP 09 更新派件的員工代號
				----------------------------------------------------

				SET @BREAK_EMPL='STEP 09 更新派件的員工代號'
				UPDATE A
				   SET A.EMPLID = B.EMPLID
				  FROM #DIVIDE_TO_EMPL A
				  JOIN #DIVIDE_TABLE B ON A.APPL_NO = B.APPL_NO

				FETCH NEXT FROM CUR_DEPT INTO @r_DEPTID_M, @r_SUM_RATION	--下一個要分派的單位及總比例
			END
			CLOSE CUR_DEPT
			DEALLOCATE CUR_DEPT
			*/

			----------------------------------------------------
			-- STEP 10 名單分次分派(承翰) Add By Eric 20170425
			----------------------------------------------------

			SET @BREAK_EMPL='STEP 10 調整案件分派順序'
			PRINT @BREAK_EMPL
			-- 依員工編號排序
			/*-- C8、C9最先分配(靜華) 20180530 Mod By Eric
			IF OBJECT_ID('tempdb..#ORDER_EMPL') IS NOT NULL DROP TABLE #ORDER_EMPL
			SELECT ROW_NUMBER() OVER (PARTITION BY EMPLID ORDER BY CASE WHEN LEFT(APPL_NO, 2) IN ('C8', 'C9') THEN 1 ELSE 2 END) EMP_ORD,
				   APPL_NO, EMPLID, OB_DEPT, CAST('' AS VARCHAR(10)) ASSIGNDAY
			  INTO #ORDER_EMPL
			  FROM #DIVIDE_TO_EMPL */
			  -- 取消優先分配C8、C9，打散分派(彥蓉) 20250114 Peter
			IF OBJECT_ID('tempdb..#ORDER_EMPL') IS NOT NULL DROP TABLE #ORDER_EMPL
			SELECT ROW_NUMBER() OVER (PARTITION BY EMPLID ORDER BY NEWID()) EMP_ORD, --打散分派順序
				   APPL_NO, EMPLID, OB_DEPT, CAST('' AS VARCHAR(10)) ASSIGNDAY
			  INTO #ORDER_EMPL
			  FROM #DIVIDE_TO_EMPL

			-- 每個員工的最大筆數
			IF OBJECT_ID('tempdb..#ORDER_EMPL_MAX') IS NOT NULL DROP TABLE #ORDER_EMPL_MAX
			SELECT EMPLID, MAX(EMP_ORD) M_EMP_ORD
			  INTO #ORDER_EMPL_MAX
			  FROM #ORDER_EMPL
			 GROUP BY EMPLID
	PRINT 'C'	
			SET @BREAK_EMPL='STEP 11 分配案件指派日'
			PRINT @BREAK_EMPL
			DECLARE @r_CASEDT VARCHAR(10)
					, @r_RATIO_RATE INT
					, @cur_CNT INT
					, @cur_TIME INT
			-- 預計分配的比例資料有幾筆
			SELECT @cur_CNT = COUNT(1) FROM OBASSIGNSET WHERE WORKDT = @CHAR_WORKDT+'01' and  LIST_NO=@LIST_NO
			SET @cur_TIME = 0
	PRINT 'D'	

			-- 迴圈-每一筆比例細
			DECLARE CUR_ASSIGN CURSOR FOR
				SELECT CASEDT, RATIO_RATE FROM OBASSIGNSET WHERE WORKDT = @CHAR_WORKDT+'01' and  LIST_NO=@LIST_NO ORDER BY CASEDT

			OPEN CUR_ASSIGN
			FETCH NEXT FROM CUR_ASSIGN INTO @r_CASEDT, @r_RATIO_RATE	-- 案件日、比率(千分比)

			WHILE @@FETCH_STATUS = 0
			BEGIN
			PRINT 'E'	

				SET @cur_TIME = @cur_TIME + 1	-- 分配到第幾筆的比例
				print '@r_CASEDT='+@r_CASEDT
				print '@r_RATIO_RATE='+cast(@r_RATIO_RATE as varchar)
				print '@cur_TIME='+cast(@cur_TIME as varchar)
				print '@cur_CNT='+cast(@cur_CNT as varchar)
				IF @cur_TIME = @cur_CNT			-- 最後一筆，剩餘資料皆設定為最後的案件日
					BEGIN
						/*
						PRINT '最後一筆，剩餘資料皆設定為最後的案件日'
						UPDATE #ORDER_EMPL SET
							ASSIGNDAY = @r_CASEDT
						WHERE ASSIGNDAY = ''
						*/
						-- Rumin 20230425 最後一筆分配後，剩餘案件先存至 @DIVIDE_LEFT
						PRINT 'STEP 11.1 最後一筆分配後，剩餘案件先存至 @DIVIDE_LEFT'
						UPDATE A 
						   SET A.ASSIGNDAY = @r_CASEDT
						  FROM #ORDER_EMPL A														-- 員工編號排序
						  JOIN #ORDER_EMPL_MAX B ON A.EMPLID = B.EMPLID								-- 每個員工的最大筆數
						  JOIN (SELECT EMPLID
									 , SUM(CASE WHEN ASSIGNDAY = '' THEN 0 ELSE 1 END) CNT
								  FROM #ORDER_EMPL GROUP BY EMPLID) C ON A.EMPLID = C.EMPLID		-- 每個員工已經分配的筆數
						 WHERE A.EMP_ORD <= FLOOR(B.M_EMP_ORD * CAST(@r_RATIO_RATE AS NUMERIC(9,5)) / 1000) + C.CNT
						   AND A.ASSIGNDAY = ''

						-- 剩餘案件先存至 @DIVIDE_LEFT
						INSERT INTO @DIVIDE_LEFT (EMP_ORD, TIER_LEVEL, APPL_NO, EMPLID, OB_DEPT, ASSIGNDAY)
							 SELECT A.EMP_ORD, @TIER_LEVEL, A.APPL_NO, A.EMPLID, OB_DEPT,A.ASSIGNDAY 
							   FROM #ORDER_EMPL A 
							  WHERE A.ASSIGNDAY=''

					PRINT 'F'	
					END
					ELSE BEGIN						-- 依比率設定案件日
					
						-- 20230425 Rumin 每日採無條件捨去				
						UPDATE A 
						   SET A.ASSIGNDAY = @r_CASEDT
						  FROM #ORDER_EMPL A															-- 員工編號排序
						  JOIN #ORDER_EMPL_MAX B ON A.EMPLID = B.EMPLID								-- 每個員工的最大筆數
						  JOIN (SELECT EMPLID
									 , SUM(CASE WHEN ASSIGNDAY = '' THEN 0 ELSE 1 END) CNT
								  FROM #ORDER_EMPL GROUP BY EMPLID) C ON A.EMPLID = C.EMPLID			-- 每個員工已經分配的筆數
						 WHERE A.EMP_ORD <= FLOOR(B.M_EMP_ORD * CAST(@r_RATIO_RATE AS NUMERIC(9,5)) / 1000) + C.CNT
						   AND A.ASSIGNDAY = ''		
						
					PRINT 'G'	
					END

				FETCH NEXT FROM CUR_ASSIGN INTO @r_CASEDT, @r_RATIO_RATE
			END
			CLOSE CUR_ASSIGN
			DEALLOCATE CUR_ASSIGN

			SET @BREAK_EMPL='更新員工分配資料'
			PRINT @BREAK_EMPL

			UPDATE A SET
				   A.ASSIGNDAY = B.ASSIGNDAY
			  FROM #DIVIDE_TO_EMPL A
			  JOIN #ORDER_EMPL B ON A.EMPLID = B.EMPLID AND A.APPL_NO = B.APPL_NO
			PRINT 'H'	

			UPDATE A
			   SET A.ASSIGNDAY=B.ASSIGNDAY,
				   A.OB_DEPT=B.OB_DEPT,
				   A.OB_EMPLID=B.EMPLID
			  FROM OBPOOLDATA_LIST A
			  JOIN #DIVIDE_TO_EMPL B ON A.APPL_NO = B.APPL_NO 
			 WHERE LEFT(A.LIST_NO,8)=LEFT(@LIST_NO,8)
			PRINT 'I'	

		--print 'Total Exec Time: ' + cast(DATEDIFF(millisecond,@SYS_DT,GETDATE()) AS varchar) + ' ms('+ cast(cast((DATEDIFF(millisecond,@SYS_DT,GETDATE())/1000.0) as numeric(18,2)) AS varchar) + 's) - ' + +cast(@@ROWCOUNT AS varchar) + ' record updated.' +CHAR(10)

		FETCH NEXT FROM cur_tier INTO @TIER_LEVEL
		END 
		CLOSE cur_tier
		DEALLOCATE cur_tier

	-- 20230424 Rumin 分配各Tier剩餘案件
	SET @BREAK_EMPL='STEP 13 TIER迴圈跑完，平均分配剩餘案件'
	PRINT @BREAK_EMPL

	-- 取日曆檔
	IF OBJECT_ID('tempdb..#OBASSIGNSET') IS NOT NULL DROP TABLE #OBASSIGNSET
	SELECT CASEDT, RATIO_RATE, ROW_NUMBER() OVER (ORDER BY CASEDT) SEQ
	INTO #OBASSIGNSET
	FROM OBASSIGNSET WITH (NOLOCK) 
	WHERE WORKDT = @CHAR_WORKDT+'01' and  LIST_NO=@LIST_NO 
	--SELECT * FROM #OBASSIGNSET

	-- 剩餘案件依照員編分類，TIER排序
	IF OBJECT_ID('tempdb..#DIVIDE_LEFT_ORDER') IS NOT NULL DROP TABLE #DIVIDE_LEFT_ORDER
	SELECT A.*,
	ROW_NUMBER() OVER (PARTITION BY EMPLID ORDER BY TIER_LEVEL, EMP_ORD) ASSIGN_ORDER
	INTO #DIVIDE_LEFT_ORDER
	FROM @DIVIDE_LEFT A

	-- 計算當月工作天
	DECLARE @WORKDAYS INT = (SELECT COUNT(1) FROM #OBASSIGNSET)

	-- 分配指派日
	UPDATE A 
	SET A.ASSIGNDAY=B.CASEDT
	FROM #DIVIDE_LEFT_ORDER A
	JOIN #OBASSIGNSET B ON B.SEQ = ((A.ASSIGN_ORDER-1)%@WORKDAYS)+1

	SET @BREAK_EMPL='STEP 13.2 更新剩餘案件分配至OBPOOLDATA_LIST'
	PRINT @BREAK_EMPL

	UPDATE A
	SET A.ASSIGNDAY=B.ASSIGNDAY,
		A.OB_DEPT=B.OB_DEPT,
		A.OB_EMPLID=B.EMPLID
	FROM OBPOOLDATA_LIST A
	JOIN #DIVIDE_LEFT_ORDER B ON A.APPL_NO = B.APPL_NO 
	WHERE LEFT(A.LIST_NO,8)=LEFT(@LIST_NO,8)

	END TRY
	BEGIN CATCH
		IF CURSOR_STATUS('global','CUR_DIVIDE')>=-1
		BEGIN
			CLOSE CUR_DIVIDE
			DEALLOCATE CUR_DIVIDE
		END
		IF CURSOR_STATUS('global','CUR_DEPT')>=-1
		BEGIN
			CLOSE CUR_DEPT
			DEALLOCATE CUR_DEPT
		END
		IF CURSOR_STATUS('global','cur_tier')>=-1
		BEGIN
			CLOSE cur_tier
			DEALLOCATE cur_tier
		END
		IF CURSOR_STATUS('global','cur_over')>=-1
		BEGIN
			CLOSE cur_over
			DEALLOCATE cur_over
		END

		--print 'catch1 - @@TRANCOUNT='+cast(@@TRANCOUNT as varchar)
		IF @@TRANCOUNT>=0
			ROLLBACK

		 SET @MSG = '錯誤行：'+ ISNULL(CAST(ERROR_LINE() AS VARCHAR(4)),'')
				+ ',錯誤階段：'+ @BREAK_EMPL
				+ ',錯誤訊息：'+ ISNULL(ERROR_MESSAGE(),'')

		PRINT @MSG
		RAISERROR(@MSG, 16, 10)

		EXEC msdb.dbo.sp_send_dbmail @profile_name='SQLADMIN' , 
			  @recipients ='MINYANN@hfcfinance.com.tw;PETERLEE@hfcfinance.com.tw',--'JOANLIN@HFCFINANCE.com.tw;TRISHTA@hfcfinance.com.tw',--SEAN1209@mail.hotaimotor.com.tw;',--UPDATE BY SIMON 20190425 移除DEMICHANG@mail.hotaimotor.com.tw; 
			  @copy_recipients='',--'cherry@mail.hotaimotor.com.tw;YC20893@mail.hotaimotor.com.tw', --YC 20170109 IT管理者信箱移除(僅接收錯誤MAIL) 
			  @subject='OB分案失敗SP_INFOT_ASSIGNEXPORTNAMELIST_st3_emplid_T5', @body=@MSG
		RETURN
	END CATCH

IF @@TRANCOUNT>0
	COMMIT
