USE [OB]
GO
/****** Object:  StoredProcedure [dbo].[SP_INFOT_ASSIGNEXPORTNAMELIST_st1_list]    Script Date: 2026/4/20 上午 11:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_INFOT_ASSIGNEXPORTNAMELIST_st1_list]
@MSG VARCHAR(200) OUTPUT,
@LIST_NO nvarchar(100)
AS

	DECLARE @TmpTbl TABLE (
		Data varchar(100)
		)
		DECLARE @LIST_PERIOD_START INT
		DECLARE @LIST_PERIOD_END INT
		DECLARE @LIST_INTERVAL INT
		DECLARE @WORKDT VARCHAR(8)
		DECLARE @IS_ASSIGNED VARCHAR(1)
		DECLARE @CASEYM NVARCHAR(10)
		DECLARE @U_USERID VARCHAR(20)

		SELECT @LIST_PERIOD_START = LIST_PERIOD_START,@LIST_PERIOD_END = LIST_PERIOD_END,@LIST_INTERVAL = LIST_INTERVAL,
				@WORKDT=PROJECT_WORKYM+'01',
				@IS_ASSIGNED=IS_ASSIGNED,
				@CASEYM=CASEYEARNM,
				@U_USERID=RIGHT(OBMLISTDF.LIST_NM,6)
		FROM OBMLISTDF WHERE OBMLISTDF.LIST_NO = @LIST_NO

		IF ISNULL( @IS_ASSIGNED,'N')='Y' or @WORKDT<getdate()    
		BEGIN 
			RETURN
		END

		--判斷【開始撈取期數】的期間【間隔期數】直至【結束撈取期數】*****
		while @LIST_PERIOD_START<=@LIST_PERIOD_END
		begin
			--PRINT('參考期數: '+CAST(@LIST_PERIOD_START AS nvarchar))
			insert @TmpTbl (Data) values (@LIST_PERIOD_START)
			set @LIST_PERIOD_START=@LIST_PERIOD_START+@LIST_INTERVAL
		END

		
		IF OBJECT_ID('tempdb.dbo.#TargetCase','U') is not NULL  drop TABLE #TargetCase
		
		SELECT o.APPL_NO ,o.CUSTO_NO,o.LIST_TYPE,o.SPEC_NAME,o.PAYT_NUM,o.PAYT_TERM,o.DEAL_NUM,o.YEAR_PRODU
		INTO #TargetCase
		FROM OBPOOLDATA o
		JOIN 
		(SELECT * FROM  OBMLISTDF WHERE LIST_NO=@LIST_NO) as
		OBMLISTDF ON o.PROD_KIND IN (SELECT field FROM [fn_SplitString_cte] (OBMLISTDF.PROD_KIND,'$$'))   --PROD_KIND=產品類別 01汽車、02機車、03一般商品
							AND o.LIST_TYPE IN (SELECT field FROM [fn_SplitString_cte] (OBMLISTDF.LIST_TYPE,'$$'))	--LIST_TYPE=名單類別 01期中、02中結、03滿期
							--AND CAST(o.PAYT_TERM AS INT) IN (select Data from @TmpTbl)     --已繳期數需要符合 【開始撈取期數】與【結束撈取期數】的期間【間隔期數】*****
							AND o.BEST_CASE  IN (SELECT field FROM [fn_SplitString_cte] (OBMLISTDF.PROD_BEST,'$$'))   
							--AND o.YEAR_PRODU = OBMLISTDF.CASEYEAR   --MARK BY JOAN 20190408
							AND o.SPEC_TP IN (SELECT field FROM [fn_SplitString_cte] (OBMLISTDF.SPEC_TP,'$$'))
							--20240625 修改 "全選" 邏輯 
							AND(	o.YEAR_CNT>=0 AND o.YEAR_CNT< (CASE WHEN OBMLISTDF.CASEYEAR LIKE '%99%' THEN 15 ELSE 0 END)
										OR o.YEAR_CNT IN (SELECT field FROM [fn_SplitString_cte] (OBMLISTDF.CASEYEAR,'$$')) )  --進件／中結／滿期年數 1,2,3,4,5,6,7,8,...      
							--AND (o.YEAR_CNT>=(CASE WHEN OBMLISTDF.CASEYEAR LIKE '%99%' THEN 15 ELSE 0 END)  
							--	 OR o.YEAR_CNT IN (SELECT field FROM [fn_SplitString_cte] (OBMLISTDF.CASEYEAR,'$$')))  --指進件／中結／滿期年數 1,2,3,4,5,6,7,8,...              
							AND o.SETTLE_SRC IN (SELECT field FROM [fn_SplitString_cte] (OBMLISTDF.SETTLE_SRC,'$$'))
			WHERE o.MONTH_CNT IN (select Data from @TmpTbl)     --UPD BY JOAN 20190502 　期中／中結／滿期的期數概念不同 【開始撈取期數】與【結束撈取期數】的期間【間隔期數】*****
			
			--特殊機車白牌案件刪除期中
			DELETE FROM #TargetCase
			WHERE LIST_TYPE='01' AND SPEC_NAME LIKE '%白牌%'



			--刪除近4期已派
			DECLARE @Q_ASSIGNDAY_S VARCHAR(10) = CONVERT (VARCHAR,DATEADD(MONTH, -3, @WORKDT),112)
			DECLARE @Q_ASSIGNDAY_E VARCHAR(10) =CONVERT(VARCHAR,DATEADD(DD,-1,@WORKDT),112)
			SELECT @Q_ASSIGNDAY_E=ISNULL(MAX(o.CASEDT),@Q_ASSIGNDAY_E) FROM OBASSIGNSET o WHERE o.WORKDT<@WORKDT --20260309 調整分派起訖日時需要檢核 Peter
			;WITH TMP AS
			(
				SELECT DISTINCT CUSTO_NO
				  FROM OBPOOLDATA_LIST
				 WHERE ASSIGNDAY>=@Q_ASSIGNDAY_S
				   --AND ASSIGNDAY<@WORKDT
				   AND ASSIGNDAY<=@Q_ASSIGNDAY_E
			)
			DELETE A
			  FROM #TargetCase  A
			  JOIN TMP B ON A.CUSTO_NO=B.CUSTO_NO

			  --刪除機車期中件滿期前3個月件
			IF EXISTS (SELECT * FROM OBMLISTDF WHERE LIST_NO = @LIST_NO AND LIST_NM LIKE '%期中%機車%')
			BEGIN 
				DELETE #TargetCase
				WHERE  (PAYT_TERM >=DEAL_NUM -3)
				   OR  (APPL_NO LIKE'T%' OR APPL_NO LIKE 'Y%') --20221027 Rumin 判斷誤刪案件修正
			END

			--20191101林靜華 小資專案 最後七期不分派 (客服會call打)
			IF EXISTS (SELECT * FROM OBMLISTDF WHERE LIST_NO = @LIST_NO AND LIST_NM LIKE '%期中%')
			BEGIN 
				delete from #TargetCase WHERE ( PAYT_NUM >DEAL_NUM -8) AND SPEC_NAME LIKE '%小資%'
			END 

			
			--ADD BY JOAN 20190911 靜華新增專案   期中、中結5年以內、滿期5年以內名單車齡年限   本牌及雙B車齡延長至20年 /  非本牌及非雙B車齡延長至17年
			--原五年以上名單  開放15年照舊 SP_INFOT_ASSIGNEXPORTNAMELIST_st1_list處理
			if EXISTS (SELECT * FROM OBMLISTDF WITH(NOLOCK) WHERE LIST_NO = @LIST_NO AND LIST_NM LIKE '%年以上%')
			BEGIN 
				delete from #TargetCase WHERE (ISNULL(YEAR_PRODU,'1900')<DATEPART(YEAR,@WORKDT)-15) 
			END 


BEGIN TRAN
	BEGIN TRY
			DELETE FROM OBPOOLDATA_LIST WHERE LIST_NO=@LIST_NO  --重跑

			--名單資料
			INSERT OBPOOLDATA_LIST([A_PRGID], [A_USERID], [A_SYSDT], [U_PRGID], [U_USERID], [U_SYSDT], [LIST_NO], [ORGNO],
								   [APPL_NO], [CUSTO_NO], [CUST_NAME], [LIC_NO], [STA_CODE_NA], [PROJECT_TP], [SPEC_NO], [SPEC_NAME],
								   [DEPT_NAME], [PAY_RESOUC_CODE], [BREAK_PCT], [EXTEND_DAY], [PAY_RESOUC], [COMMUTE], [CYCLE_PAY_NA],
								   [CYCLE_PAY_VAL], [DEAL_NUM], [PRO_RATE], [B_CASE_IRR], [FIRST_PAY_DT], [FAPCON_DT], [MATURITY_DT],
								   [DEAL_MARK], [PAY_WAY], [LOAN_TOTAMT], [LOAN_CAPITAL], [LOAN_ODDAMT], [COMMISSION], [SETTLE_DATE],
								   [LOAN_RATE], [STA_CODE], [OFI_DATE], [DEPT_ID], [PAY_WAY_NA], [BRNH_NO], [DLR_NO], [BROKER],
								   [SALES_NO], [BROKER_AGENT], [HFS_SALES], [SALES], [AGENT_HEAD_ID], [PROMOTER_DEPT], [AGENT_ID],
								   [PROMOTER], [BRAND_NO], [BRAND_NAME], [CAR_NAME], [INQUIRY], [APPROVAL], [MANAGER_LIMIT], [SPEC_MK_NA],
								   [SPEC_TYPE_NA], [ATM_BUSINESS], [NO_DUTY], [YEAR_PRODU], [DLR_NAME], [BRNH_NAME], [PROJECT_TP_CD],
								   [APPL_DATE], [APMACC_MEMO], [SALES_STS_NA], [SUB_CODE], [CC_NBR], [THROU_MON], [FUND_SRC], [SECRET_FLG],
								   [RATE_CHOICE], [PER_INFO], [TIE_DOWN_NUM], [REST_AMT], [OVER_TIE_NUM], [OPEN_CODE], [EMPLID],
								   [EMPLID_DEPTID], [CASE_TYPE], [HOTAI_AGREE], [CALL_DEPT], [C_CLASS], [PAYT_NUM], [LIST_TYPE],
								   [PROD_TYPE], [PROD_TYPE_NAME], [PROD_CLASS], [PROD_CLASS_NAME], [PROD_KIND], [PROD_KIND_NAME],
								   [BEST_CASE], [ACC_DATE], [ORDER1], [ORDER2], [PAYT_TERM], [TERM_AMT], [NONPAYT_TERM], [OVERDUE_AMT],
								   [OVERDUE_DAY], [COLL_EMPL], [CAR_MODEL], [PAY_USER], [PAY_ADD], [FLEET_CAR], [PROMOTER_TEL], [SALES_TEL],
								   [MEMO1], [CASEYEAR], [OB_DEPT], [OB_EMPLID], [LAST_PAY_DATE], [MONTH_CNT], [YEAR_CNT], [SETTLE_SRC], [ASSIGNDAY], [SPEC_TP],
								   [CUS_LEVEL], [CARD_LEVEL],
								   [TIER_LEVEL], [HOT_RECYCLE],
								   [CR_ID],
								   [CR_NM],
								   [IS_CR])


			SELECT  DISTINCT 'OBDATA', @CASEYM, GETDATE(), @WORKDT, @U_USERID, GETDATE(), @LIST_NO, A.[ORGNO],
			A.[APPL_NO], A.[CUSTO_NO], A.[CUST_NAME], A.[LIC_NO], A.[STA_CODE_NA], A.[PROJECT_TP], A.[SPEC_NO], A.[SPEC_NAME],
			A.[DEPT_NAME], A.[PAY_RESOUC_CODE], A.[BREAK_PCT], A.[EXTEND_DAY], A.[PAY_RESOUC], A.[COMMUTE], A.[CYCLE_PAY_NA],
			A.[CYCLE_PAY_VAL], A.[DEAL_NUM], A.[PRO_RATE], A.[B_CASE_IRR], A.[FIRST_PAY_DT], A.[FAPCON_DT], A.[MATURITY_DT],
			A.[DEAL_MARK], A.[PAY_WAY], A.[LOAN_TOTAMT], A.[LOAN_CAPITAL], A.[LOAN_ODDAMT], A.[COMMISSION], A.[SETTLE_DATE], 
			A.[LOAN_RATE], A.[STA_CODE], A.[OFI_DATE], A.[DEPT_ID], A.[PAY_WAY_NA], A.[BRNH_NO], A.[DLR_NO], A.[BROKER], 
			A.[SALES_NO], A.[BROKER_AGENT], A.[HFS_SALES], A.[SALES], A.[AGENT_HEAD_ID], A.[PROMOTER_DEPT], A.[AGENT_ID], 
			A.[PROMOTER], A.[BRAND_NO], A.[BRAND_NAME], A.[CAR_NAME], A.[INQUIRY], A.[APPROVAL], A.[MANAGER_LIMIT], A.[SPEC_MK_NA],
			A.[SPEC_TYPE_NA], A.[ATM_BUSINESS], A.[NO_DUTY], A.[YEAR_PRODU], A.[DLR_NAME], A.[BRNH_NAME],A.[PROJECT_TP_CD], 
			A.[APPL_DATE], A.[APMACC_MEMO], A.[SALES_STS_NA], A.[SUB_CODE], A.[CC_NBR],A.[THROU_MON], A.[FUND_SRC],A.[SECRET_FLG], 
			A.[RATE_CHOICE], A.[PER_INFO], A.[TIE_DOWN_NUM], A.[REST_AMT],A.[OVER_TIE_NUM], A.[OPEN_CODE], A.[EMPLID], 
			A.[EMPLID_DEPTID], A.[CASE_TYPE], A.[HOTAI_AGREE], A.[CALL_DEPT], A.[C_CLASS], A.[PAYT_NUM], A.[LIST_TYPE], 
			A.[PROD_TYPE],A.[PROD_TYPE_NAME], A.[PROD_CLASS], A.[PROD_CLASS_NAME], A.[PROD_KIND],A.[PROD_KIND_NAME], 
			A.[BEST_CASE], A.[ACC_DATE], A.[ORDER1], A.[ORDER2], A.[PAYT_TERM],A.[TERM_AMT], A.[NONPAYT_TERM], A.[OVERDUE_AMT], 
			A.[OVERDUE_DAY], A.[COLL_EMPL], A.[CAR_MODEL],A.[PAY_USER], A.[PAY_ADD], A.[FLEET_CAR], A.[PROMOTER_TEL], A.[SALES_TEL], 
			A.[MEMO1], A.[CASEYEAR], A.OB_DEPT, A.OB_EMPLID, A.LAST_PAY_DATE, A.MONTH_CNT, A.YEAR_CNT, A.SETTLE_SRC, '', A.SPEC_TP,
			A.[CUS_LEVEL], '',
			'', 'N',																--2021/01/14 MinYann電銷名單機制調整(TIER_LEVEL, HOT_RECYCLE)
			CASE WHEN C.EMPLID IS NOT NULL THEN '' ELSE B.EMP_ID END,				--2021/01/14 MinYann電銷名單機制調整(CR_ID)，若承辦人曾經被抽案則拔除CR業代資格
			CASE WHEN C.EMPLID IS NOT NULL THEN '' ELSE 'CR'+B.EMP_NM END,			--2021/01/14 MinYann電銷名單機制調整(CR_NM)，若承辦人曾經被抽案則拔除CR業代資格
			'N'
			FROM OBPOOLDATA A with(nolock)
			INNER JOIN #TargetCase tc ON A.CUSTO_NO = tc.CUSTO_NO AND A.APPL_NO = tc.APPL_NO
			LEFT JOIN OBEMPHIRE B ON A.AGENT_ID=B.ID AND RESIGN_DATE>=GETDATE()
			LEFT JOIN OBCASE_LIST_RECYCLE C ON A.APPL_NO=C.APPL_NO AND B.EMP_ID=C.EMPLID AND C.IS_HOT_RECYCLE<>'Y'	--不是因為HOT被抽案者，承辦人要拔除CR業代資格

	END TRY
	BEGIN CATCH
		SET @MSG=ERROR_MESSAGE()
		PRINT @MSG
		RAISERROR(@MSG, 16, 10)

		IF @@TRANCOUNT>0
			ROLLBACK

		RETURN
	END CATCH

IF @@TRANCOUNT>0
	COMMIT