USE [OB]
GO
/****** Object:  StoredProcedure [dbo].[SP_INFOT_ASSIGNEXPORTNAMELIST_st2_dept]    Script Date: 2026/4/20 上午 11:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************
--  程式名稱：SP_INFOT_ASSIGNEXPORTNAMELIST_st2_dept
--  功能說明：電銷名單部門分配(汽車)
--  撰寫人員：MinYann
--  開發日期：
--  修改日期：20210120 MinYann 電銷名單調整。TIER依據部門比例分配
			20210716 MinYann 非機車名單

/*
	DECLARE @MSG NVARCHAR(500)='', @LIST_NO VARCHAR(15)='OB202108001'
	EXEC [dbo].[SP_INFOT_ASSIGNEXPORTNAMELIST_st2_dept] @MSG OUTPUT, @LIST_NO
	SELECT @MSG
*/
*********************************************************/
ALTER PROCEDURE [dbo].[SP_INFOT_ASSIGNEXPORTNAMELIST_st2_dept]
(
	@MSG		NVARCHAR(500) OUTPUT,
	@LIST_NO	VARCHAR(15)		--拿來判斷哪一個月份的T1~T4
)
AS
SET NOCOUNT ON

DECLARE @IS_ASSIGNED VARCHAR(1)
DECLARE @CASE_CNT_LIST INT=0,	--POOLDATA_LIST總筆數
		@CASE_CNT_SUM INT=0,	--分配總筆數
		@CASE_CNT_DEPT INT=0,	--部門筆數
		@DEPT_ID VARCHAR(5)='',	--部門編號
		@DEPT_NO INT=0,			--部門號碼
		@TIER_LEVEL VARCHAR(5),	--TIER_LEVEL
		@SYS_DT DATETIME,		--名單日期
		@LIST_NO_CUR VARCHAR(20)--迴圈內名單

DECLARE @D VARCHAR(10), @L VARCHAR(20), @T VARCHAR(10), @C INT
DECLARE @DIFF INT=0
DECLARE @DD VARCHAR(10), @LL VARCHAR(20), @TT VARCHAR(10), @OBDD VARCHAR(10), @OBCNT INT

DECLARE @BREAK VARCHAR(200)=''

--取該月份第一個名單作為比例分配基準
SELECT @LIST_NO=MIN(LIST_NO)
  FROM OBMLISTDF
 WHERE LEFT(LIST_NO,8)=LEFT(@LIST_NO,8)
   --AND LIST_NM NOT LIKE '%機車%'	--非機車的第一個名單
   AND PROD_KIND='01' -- 汽車名單	-- Rumin 20230426 改看產品類別PROD_KIND(01:汽車,02:機車,03:商品)

SELECT @SYS_DT=(SELECT PROJECT_WORKYM+'01' FROM OBMLISTDF WHERE LIST_NO=@LIST_NO)

SELECT TOP 1 @IS_ASSIGNED=IS_ASSIGNED
  FROM OBMLISTDF
 WHERE LIST_NO=@LIST_NO

IF ISNULL( @IS_ASSIGNED,'N')='Y' 
BEGIN 
	SET @MSG=ISNULL(@LIST_NO,'')+'更新失敗!該名單已分派'
	RETURN
END

IF NOT EXISTS(SELECT * FROM [dbo].[OBMDEPTPCT] A WITH (NOLOCK)  WHERE LIST_NO=@LIST_NO)
BEGIN 
	SET @MSG='失敗!查無名單'+ISNULL(@LIST_NO,'')+'部門分配比例'
	RETURN
END

--***
print 'BEGIN_TRAN'
--***

BEGIN TRAN
	BEGIN TRY
		CREATE TABLE #TIER(TIER_LEVEL VARCHAR(5))

		INSERT INTO #TIER(TIER_LEVEL)	--改用TIER不用LIST_NO
		VALUES ('T1'),
			   --('T1M'),
			   ('T2'),
			   ('T3'),
			   --('T3M'),
			   ('T32'),
			   ('T4')
			   --('T1HM'),
			   --('T2HM'),
			   --('T3HM')
		
		/*
		DECLARE cur_tier CURSOR FOR
			SELECT DISTINCT ISNULL(C.TIER_LEVEL,'')	--取得該名單有哪些TIER
			  FROM OBMLISTDF B
			  LEFT JOIN OBTIER C ON CASE WHEN B.CARD_TYPE='M' AND CHARINDEX('期中', B.LIST_NM)>0 THEN 'H' ELSE B.CARD_TYPE END=C.CARD_TYPE	--期中機車=期中
			 WHERE B.LIST_NO=@LIST_NO 
		*/
		-- 20230427 Rumin 清空上一次分配
		UPDATE A
		   SET OB_DEPT = NULL
			 , OB_EMPLID = NULL
			 , ASSIGNDAY = ''
		  FROM OBPOOLDATA_LIST A
		  JOIN OBMLISTDF B ON A.LIST_NO=B.LIST_NO AND B.PROD_KIND ='01' -- 汽車名單
		  JOIN #TIER C ON A.TIER_LEVEL=C.TIER_LEVEL
		 WHERE LEFT(A.LIST_NO,8)=LEFT(@LIST_NO,8) 

		DECLARE cur_tier CURSOR FOR
			SELECT TIER_LEVEL
			  FROM #TIER
		OPEN cur_tier
		FETCH NEXT FROM cur_tier INTO @TIER_LEVEL
		WHILE(@@FETCH_STATUS=0)
		BEGIN
			SET @BREAK ='分配CR業代'
			
			--取得名單分配比例
			IF OBJECT_ID('tempdb..#DIST_RATION') IS NOT NULL DROP TABLE #DIST_RATION
			SELECT LIST_NO, OBDEPTID, RATION, CAST(0 AS INT) AS CNT
				   , ROW_NUMBER() OVER(PARTITION BY LIST_NO ORDER BY OBDEPTID) AS DEPT_NO
			  INTO #DIST_RATION
			  FROM OBMDEPTPCT
			  --JOIN OBMLISTDF B ON LEFT(A.LIST_NO,8)=LEFT(B.LIST_NO,8) AND B.LIST_NM NOT LIKE '%機車%'	--非機車名單
			 WHERE LIST_NO=@LIST_NO
			   AND RATION>0
			------------------------------------
			--CR業代先填入，分配部門案件時扣掉這些案件量（CR業代優先分配）
			IF OBJECT_ID('tempdb..#OBPOOLDATA_LIST') IS NOT NULL DROP TABLE #OBPOOLDATA_LIST
			SELECT A.LIST_NO, APPL_NO, APPL_DATE, OB_DEPT, OB_EMPLID
					, ISNULL(CR_ID,'') AS CR_ID, ISNULL(CR_NM,'') AS CR_NM,  ISNULL(IS_CR,'') AS IS_CR
			  INTO #OBPOOLDATA_LIST
			  FROM OBPOOLDATA_LIST A
			  JOIN OBMLISTDF B ON A.LIST_NO=B.LIST_NO 
			   --AND B.LIST_NM NOT LIKE '%機車%'	--非機車名單
			   AND B.PROD_KIND ='01' -- 汽車名單	-- Rumin 20230426 改看產品類別PROD_KIND(01:汽車,02:機車,03:商品)
			 WHERE LEFT(A.LIST_NO,8)=LEFT(@LIST_NO,8) AND TIER_LEVEL=@TIER_LEVEL

			--1. 距上次成交逾兩年，CR業代清空	20210121 MinYann
			UPDATE A
			   SET CR_ID='',
				   CR_NM='',
				   IS_CR='N'
			  FROM #OBPOOLDATA_LIST A
			 WHERE DATEADD(YEAR, -2, @SYS_DT)>APPL_DATE	--以名單日期為主

			--2. CR業代已離職，CR業代清空
			UPDATE A
			  SET CR_ID='',
				  CR_NM='',
				  IS_CR='N'
			 FROM #OBPOOLDATA_LIST A
			 JOIN OBEMPHIRE B ON A.CR_ID=B.EMP_ID
			WHERE B.RESIGN_DATE<@SYS_DT					--以名單日期為主

			-----------------------
			--3. CR業代優先分配
			IF OBJECT_ID('tempdb..#DEPTID_EMPLID_RATION') IS NOT NULL DROP TABLE #DEPTID_EMPLID_RATION
			SELECT EMPLID, RATION, DEPTID_M		--員工代號、比例、電銷單位代號
			  INTO #DEPTID_EMPLID_RATION
			  FROM OBEMPLSETMF WITH(NOLOCK)
			  --JOIN OBMLISTDF B ON LEFT(A.LIST_NO,8)=LEFT(B.LIST_NO,8) AND B.LIST_NM NOT LIKE '%機車%'	--非機車名單
			 WHERE ISNULL(RATION,0) <> 0
			   AND LIST_NO = @LIST_NO --產品類別第一個名單

			UPDATE A
			  SET OB_EMPLID=A.CR_ID,
				  OB_DEPT=B.DEPTID_M,
				  IS_CR='Y'
			 FROM #OBPOOLDATA_LIST A
			 --JOIN tblCfg_Person A2 ON A.CR_ID=A2.ACCOUNT		--20210121 MinYann 是電銷人員才分配
			 JOIN #DEPTID_EMPLID_RATION B ON A.CR_ID=B.EMPLID 	--20210217 MinYann 有被設定比例者才會進行優先分配
			WHERE A.CR_ID<>''
			-----------------------

			--4. 回寫
			UPDATE A
			   SET OB_DEPT=B.OB_DEPT,
				   OB_EMPLID=B.OB_EMPLID,
				   IS_CR=B.IS_CR
			  FROM OBPOOLDATA_LIST A
			  JOIN #OBPOOLDATA_LIST B ON A.APPL_NO=B.APPL_NO AND A.LIST_NO=B.LIST_NO
			------------------------------------

			FETCH NEXT FROM cur_tier INTO @TIER_LEVEL
		END 
		CLOSE cur_tier
		DEALLOCATE cur_tier
		--***
		PRINT 'CR業代分配完畢'	--20210525
		--***
		------------------------------------
		--***
		PRINT '依營業分處、汽機車名單、TIER等級，依比例計算各電銷課應分配數量'	--20210525
		--***

		SET @BREAK ='依營業分處、汽機車名單、TIER等級，依比例計算各電銷課應分配數量'
		-- Rumin 20230426 取出要分配的案件
		IF OBJECT_ID('tempdb..#DIVIDE_TABLE') IS NOT NULL DROP TABLE #DIVIDE_TABLE
		SELECT A.*
		  INTO #DIVIDE_TABLE
		  FROM OBPOOLDATA_LIST A WITH(NOLOCK)
		  JOIN OBMLISTDF B WITH(NOLOCK) ON A.LIST_NO=B.LIST_NO AND B.PROD_KIND ='01' -- 汽車名單	
		  JOIN #TIER C on A.TIER_LEVEL=C.TIER_LEVEL 
		 WHERE LEFT(A.LIST_NO,8)=LEFT(@LIST_NO,8)

		--[依營業分處、名單、TIER等級分類案件數，並依比例計算各電銷課應分配數量]
		--依營業分處、名單、TIER等級歸類，計算各類別總件數
		IF OBJECT_ID('tempdb..#DEPT') IS NOT NULL DROP TABLE #DEPT
		SELECT DEPT_ID, A.LIST_NO, TIER_LEVEL, COUNT(1) AS CNT
		  INTO #DEPT
		  FROM #DIVIDE_TABLE A
		 GROUP BY DEPT_ID, A.LIST_NO, TIER_LEVEL

		--依營業分處、名單、TIER等級歸類，計算各類別電銷課應分配件數(依比例)
		IF OBJECT_ID('tempdb..#RATION') IS NOT NULL DROP TABLE #RATION
		SELECT A.DEPT_ID, A.LIST_NO, A.TIER_LEVEL, A.CNT
			 , B.OBDEPTID, B.RATION, FLOOR(A.CNT*B.RATION/100) AS OB_DEPT_CNT	--20220530 MinYann 把四捨五入改為無條件捨去
		  INTO #RATION
		  FROM #DEPT A
		  JOIN #DIST_RATION B on 1=1 and B.LIST_NO=@LIST_NO		---產品類別第一個名單
		 ORDER BY A.DEPT_ID, A.LIST_NO, A.TIER_LEVEL, B.OBDEPTID

		SET @BREAK ='補各電銷課比例分配後之差額件數'
		--[補差額件數]
		DECLARE cur_dept CURSOR FOR
			SELECT DEPT_ID, LIST_NO, TIER_LEVEL, CNT FROM #DEPT
		OPEN cur_dept
		FETCH NEXT FROM cur_dept INTO @D, @L, @T, @C
		WHILE(@@FETCH_STATUS=0)
		BEGIN
			--若該分類總件數>電銷課應分配總件數 (@DIFF=總件數-應分配)
			SELECT @DIFF=0
			SELECT @DIFF=@C-(SELECT SUM(OB_DEPT_CNT) FROM #RATION WHERE DEPT_ID=@D AND LIST_NO=@L AND TIER_LEVEL=@T)
			IF @DIFF>0
			BEGIN
				--差額件數隨機補給電銷課
				IF OBJECT_ID('tempdb..#TEMP') IS NOT NULL DROP TABLE #TEMP
				SELECT OBDEPTID, ROW_NUMBER() OVER(ORDER BY NEWID()) AS SEQ
				  INTO #TEMP
				  FROM #RATION
				 WHERE DEPT_ID=@D AND LIST_NO=@L AND TIER_LEVEL=@T
				
				UPDATE A
				   SET OB_DEPT_CNT=OB_DEPT_CNT+1
				  FROM #RATION A
				  JOIN #TEMP B ON A.OBDEPTID=B.OBDEPTID
				 WHERE A.DEPT_ID=@D AND LIST_NO=@L AND A.TIER_LEVEL=@T AND B.SEQ<=@DIFF
			END

			FETCH NEXT FROM cur_dept INTO @D, @L, @T, @C
		END
		CLOSE cur_dept
		DEALLOCATE cur_dept
		--***
		PRINT '各課件數計算完畢'
		--***
		------------------------------
		SET @BREAK ='扣掉已CR分配數，計算出最終應分配數'
		--[扣掉已CR分配]
		--取出已CR分配件數
		SELECT DEPT_ID, A.LIST_NO, TIER_LEVEL, OB_DEPT, COUNT(1) AS CNT
		  INTO #CR_CNT
		  FROM #DIVIDE_TABLE A
		 WHERE IS_CR='Y'
		 GROUP BY DEPT_ID, A.LIST_NO, TIER_LEVEL, OB_DEPT

		--更新案件量(扣除已CR分配)
		UPDATE A
		   SET OB_DEPT_CNT=OB_DEPT_CNT-B.CNT
		  FROM #RATION A
		  JOIN #CR_CNT B ON A.DEPT_ID=B.DEPT_ID AND A.LIST_NO=B.LIST_NO AND A.TIER_LEVEL=B.TIER_LEVEL AND A.OBDEPTID=B.OB_DEPT
		------------------------------
		SET @BREAK ='案件依照 分處、名單、TIER等級分類，分配給各電銷課'
		--案件依照 分處、名單、TIER等級 分配給各電銷課
		DECLARE cur_assign CURSOR FOR
			SELECT DEPT_ID, LIST_NO, TIER_LEVEL, OBDEPTID, OB_DEPT_CNT FROM #RATION
		OPEN cur_assign 
		FETCH NEXT FROM cur_assign INTO @DD, @LL, @TT, @OBDD, @OBCNT
		WHILE(@@FETCH_STATUS=0)
		BEGIN
			--[隨機取案件並指派]
			--沒有CR分配的
			IF OBJECT_ID('tempdb..#TMP') IS NOT NULL DROP TABLE #TMP
			SELECT APPL_NO, ROW_NUMBER() OVER(ORDER BY NEWID()) AS SEQ
			  INTO #TMP
			  FROM #DIVIDE_TABLE
			 WHERE DEPT_ID=@DD AND LIST_NO=@LL AND TIER_LEVEL=@TT AND IS_CR<>'Y' AND ISNULL(OB_DEPT,'')='' --未分派

			-- Rumin 20230426 更新#DIVIDE_TABLE，下一圈才不會有問題
			UPDATE A
			   SET OB_DEPT=@OBDD
			  FROM #DIVIDE_TABLE A
			  JOIN #TMP B ON A.APPL_NO=B.APPL_NO
			 WHERE A.DEPT_ID=@DD AND A.LIST_NO=@LL AND TIER_LEVEL=@TT AND IS_CR<>'Y'
			   AND B.SEQ<=@OBCNT

			UPDATE A
			   SET OB_DEPT=@OBDD --分派部門
			  FROM OBPOOLDATA_LIST A
			  JOIN #TMP B ON A.APPL_NO=B.APPL_NO
			 WHERE A.DEPT_ID=@DD AND A.LIST_NO=@LL AND TIER_LEVEL=@TT AND IS_CR<>'Y'
			   AND B.SEQ<=@OBCNT --分派的數量

			FETCH NEXT FROM cur_assign INTO @DD, @LL, @TT, @OBDD, @OBCNT
		END
		CLOSE cur_assign
		DEALLOCATE cur_assign
		--***
		PRINT '分配完畢'
		--***
	END TRY
	BEGIN CATCH

		IF CURSOR_STATUS('global','cur_list')>=-1
		BEGIN
			CLOSE cur_list
			DEALLOCATE cur_list
		END

		IF CURSOR_STATUS('global','cur_tier')>=-1
		BEGIN
			CLOSE cur_tier
			DEALLOCATE cur_tier
		END

		IF CURSOR_STATUS('global','cur_assign')>=-1
		BEGIN
			CLOSE cur_assign
			DEALLOCATE cur_assign
		END

		IF @@TRANCOUNT>0
			ROLLBACK TRAN

	
		SET @MSG = '錯誤行：'+ ISNULL(CAST(ERROR_LINE() AS VARCHAR(4)),'')
				+ ',錯誤階段：'+ @BREAK
				+ ',錯誤訊息：'+ ISNULL(ERROR_MESSAGE(),'')

		PRINT @MSG
		RAISERROR(@MSG, 16, 10)

		EXEC msdb.dbo.sp_send_dbmail @profile_name='SQLADMIN' , 
			  @recipients ='MINYANN@hfcfinance.com.tw;RUMIN@hfcfinance.com.tw',
			  @copy_recipients='',
			  @subject='OB行銷分案失敗SP_INFOT_ASSIGNEXPORTNAMELIST_st2_dept', @body=@MSG
		
		RETURN

	END CATCH

IF @@TRANCOUNT>0
	COMMIT
