USE [OB]
GO
/****** Object:  StoredProcedure [dbo].[SP_INFOT_ASSIGNEXPORTNAMELIST_st4_exchange]    Script Date: 2026/4/20 上午 11:30:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/**********************************************************
--  程式名稱：SP_INFOT_ASSIGNEXPORTNAMELIST_st4_exchange
--  功能說明：*汽車組*課長主任當月總數10%的期中名單（T1、T2、T3）等量且平均交換專員的中結五年內滿期三年內名單（T32、T4） (浩銓)
--  撰寫人員：Rumin
--  開發日期：2023/02/20
--  修改日期： 2023/11/02 九月份電銷職位代碼修改DEBUG Peter
						   202408起 取消交換 Peter

交換邏輯:
汽車組的課長、主任當月總數10%的期中名單（T1、T2、T3）等量且平均交換專員的中結五年內滿期三年內名單（T32、T4）
排除北電二、CR客

作法:
找出要交換的案件(T1,T2,T3)=> 分配給同處專員=> 在該專員身上找與分配案件相同分派日的T32,T4案件，作為交換=> 整理出交換表，作為回寫用TABLE
最後回寫至OBPOOLDATA_LIST

/*
	DECLARE @MSG NVARCHAR(500)='', @LIST_NO VARCHAR(15)='OB202305001'
	EXEC [dbo].[SP_INFOT_ASSIGNEXPORTNAMELIST_st4_exchange] @MSG, @LIST_NO
	SELECT @MSG 
*/

**********************************************************/
ALTER PROCEDURE [dbo].[SP_INFOT_ASSIGNEXPORTNAMELIST_st4_exchange]
(
	@MSG		NVARCHAR(500) OUTPUT,
	@LIST_NO	VARCHAR(15)	
)
AS

	DECLARE @IS_ASSIGNED VARCHAR(1)
	DECLARE @LIST_YEAR_MONTH VARCHAR(6)=SUBSTRING(@LIST_NO,3,6)
	DECLARE @NOW DATETIME=GETDATE()
	DECLARE @BREAK NVARCHAR(30)=''

	IF @LIST_YEAR_MONTH>='202408' 
	BEGIN
		PRINT '202408起停止交換'
		RETURN
	END

	--取該月份第一個汽車名單
	SELECT @LIST_NO=MIN(LIST_NO)
	  FROM OBMLISTDF
	 WHERE LEFT(LIST_NO,8)=LEFT(@LIST_NO,8)
	   --AND LIST_NM NOT LIKE '%機車%'			--非機車的第一個名單
	   AND PROD_KIND ='01' -- Rumin 20240428 汽車名單
	
	SELECT TOP 1 @IS_ASSIGNED=IS_ASSIGNED
	  FROM OBMLISTDF
	 WHERE LIST_NO=@LIST_NO
	
	IF ISNULL( @IS_ASSIGNED,'N')='Y' 
	BEGIN 
		SET @MSG=ISNULL(@LIST_NO,'')+'名單已分配!不可再變更'
		RETURN
	END

	SET @BREAK='計算汽車組資深業務名單應交換數量'
	PRINT @BREAK
	-- 該月份汽車組業務名單，並計算每個人當月的案件數量取10%
	IF OBJECT_ID('tempdb..#ASSIGN_EMP') IS NOT NULL DROP TABLE #ASSIGN_EMP
	SELECT DISTINCT ROW_NUMBER() OVER (PARTITION BY A.DEPTID_M, B.TITLE_CODE ORDER BY A.EMPLID) RN
					, A.DEPTID_M, A.EMPLID, A.LIST_NO
					, B.EMP_NM, B.TITLE_CODE, B.TITLE_NAME, B.JFUN_ID, B.JFUN_NM
					, C.TOTAL_COUNT, ROUND(C.TOTAL_COUNT*0.1,0) AS CHANGE_COUNT
	INTO #ASSIGN_EMP
	FROM OBEMPLSETMF A  WITH (NOLOCK)
	JOIN OBEMPHIRE B WITH (NOLOCK) ON A.EMPLID=B.EMP_ID AND B.JFUN_ID='N03' --2023/11/02 所有營業一般職人員，不含助理、行政主管
	--B.TITLE_CODE IN ('H09','I07','K02') -- I07: 電話行銷主任/ H09: 電話行銷課長/ K02: 電話行銷專員
	JOIN (	SELECT OB_EMPLID, COUNT(1) AS TOTAL_COUNT
			FROM OBPOOLDATA_LIST  WITH (NOLOCK)
			WHERE LIST_NO LIKE '%'+@LIST_YEAR_MONTH+'%' 
			GROUP BY OB_EMPLID
	) C ON A.EMPLID=C.OB_EMPLID
	WHERE A.LIST_NO LIKE '%'+@LIST_YEAR_MONTH+'%' 
	AND A.PROD_TYPE='01' AND A.RATION<>0 -- 有設定比例的汽車組人員
	ORDER BY A.DEPTID_M, B.TITLE_CODE, RN
	
	/*----
	SELECT * FROM #ASSIGN_EMP ORDER BY DEPTID_M, TITLE_CODE, RN
	SELECT * FROM OBEMPHIRE WHERE EMP_ID IN ('21279','21296')
	SELECT * FROM OBEMPLSETMF A WHERE A.LIST_NO LIKE '%202301%'  AND A.PROD_TYPE='01'  AND A.RATION<>0
	----*/

	SET @BREAK='取汽車組資深業務名單非CR案件'
	PRINT @BREAK
	-- 汽車組的課長、主任當月總數10%的期中非CR名單（T1、T2、T3）
	IF OBJECT_ID('tempdb..#CHANGE_CASES') IS NOT NULL DROP TABLE #CHANGE_CASES
	;WITH TEMP AS (
	SELECT A.LIST_NO,A.APPL_NO,A.TIER_LEVEL,A.OB_DEPT,A.OB_EMPLID,A.ASSIGNDAY,B.TITLE_NAME,A.IS_CR
		 , ROW_NUMBER() OVER (PARTITION BY A.OB_DEPT,A.OB_EMPLID ORDER BY NEWID()) SEQ --亂數排序，用來抓應分配數量
	FROM OBPOOLDATA_LIST A with (nolock)
	JOIN #ASSIGN_EMP B with (nolock) ON A.OB_EMPLID=B.EMPLID AND B.TITLE_CODE<='I01' --'I01':主任以上(含課長、襄理、副理)
	--B.TITLE_CODE IN ('I07','H09') -- I07: 電話行銷主任/ H09: 電話行銷課長
	WHERE 1=1
	AND A.LIST_NO LIKE '%'+@LIST_YEAR_MONTH+'%' 
	AND A.TIER_LEVEL IN ('T1','T2','T3') AND IS_CR='N'
	AND A.OB_DEPT<>'XVE3' -- 北電二不執行交換
	)
	SELECT A.*
		  , ROW_NUMBER() OVER (PARTITION BY A.OB_DEPT ORDER BY A.ASSIGNDAY) AS CHANGE_RN -- 分派順序
		  , CAST('' AS VARCHAR(5)) AS CHG_DEPT
		  , CAST('' AS VARCHAR(5)) AS CHG_EMPLID
	INTO #CHANGE_CASES
	FROM TEMP A
	JOIN #ASSIGN_EMP B with (nolock) ON A.OB_EMPLID=B.EMPLID AND A.SEQ<=B.CHANGE_COUNT -- 抓應交換的案件數量(總數10%)
	--ORDER BY A.OB_DEPT, CHANGE_RN
	--ORDER BY A.OB_DEPT,A.OB_EMPLID,RN

	-- SELECT * FROM #CHANGE_CASES ORDER BY OB_DEPT, CHANGE_RN

	SET @BREAK='平分案件給同處專員'
	PRINT @BREAK
	-- 輪流平分案件給同處專員(代號K02)
	DECLARE @OB_DEPT VARCHAR(5) --部門迴圈
	DECLARE CUR CURSOR FOR
	SELECT DISTINCT DEPTID_M
	FROM #ASSIGN_EMP
	OPEN CUR
	FETCH NEXT FROM CUR INTO @OB_DEPT
	WHILE (@@FETCH_STATUS <> -1)
	BEGIN
	PRINT @OB_DEPT
		DECLARE @CNT_EMP INT = (SELECT MAX(RN) FROM #ASSIGN_EMP WHERE DEPTID_M=@OB_DEPT AND TITLE_CODE='J01') -- 該處電話行銷專員人數
		PRINT @CNT_EMP 
	
		UPDATE A
		SET  CHG_DEPT=B.DEPTID_M
			,CHG_EMPLID=B.EMPLID
		FROM #CHANGE_CASES A
		JOIN #ASSIGN_EMP B ON B.DEPTID_M=@OB_DEPT AND B.TITLE_CODE='J01' AND B.RN=(A.CHANGE_RN%@CNT_EMP)+1 -- 分配給同處專員
		WHERE A.OB_DEPT=@OB_DEPT
	
		FETCH NEXT FROM CUR INTO @OB_DEPT
	END
	CLOSE CUR
	DEALLOCATE CUR	

	/*----
	SELECT * FROM #CHANGE_CASES ORDER BY OB_DEPT,CHANGE_RN
	SELECT * FROM #ASSIGN_EMP WHERE DEPTID_M='XVE4' AND TITLE_CODE='K02' ORDER BY RN--WHERE OB_EMPLID='22259'
	-----*/

	SET @BREAK='取汽車組專員非CR案件'
	PRINT @BREAK
	-- 電話行銷專員(J01)的T32、T4等級非CR客案件
	IF OBJECT_ID('tempdb..#OBPOOLDATA_LIST_T4') IS NOT NULL DROP TABLE #OBPOOLDATA_LIST_T4
	SELECT A.LIST_NO,A.APPL_NO,A.TIER_LEVEL,A.OB_DEPT,A.OB_EMPLID,A.ASSIGNDAY,B.TITLE_NAME,A.IS_CR
	,ROW_NUMBER() OVER (PARTITION BY A.ASSIGNDAY,A.OB_EMPLID ORDER BY A.OB_EMPLID) AS SEQ_T4 --配對用
	INTO #OBPOOLDATA_LIST_T4
	FROM OBPOOLDATA_LIST A WITH (NOLOCK)
	JOIN #ASSIGN_EMP B WITH (NOLOCK) ON A.OB_EMPLID=B.EMPLID AND B.TITLE_CODE='J01'
	WHERE 1=1
	AND A.LIST_NO LIKE '%'+@LIST_YEAR_MONTH+'%' 
	AND A.TIER_LEVEL IN ('T32','T4') AND IS_CR='N'
	
	SET @BREAK='整理交換明細'
	PRINT @BREAK
	-- 利用 相同業務、指派日做排序(SEQ_T4) 來避免同一案重複被交換到不同業務身上
	IF OBJECT_ID('tempdb..#EXCHANGE_APPL') IS NOT NULL DROP TABLE #EXCHANGE_APPL
	;WITH TEMP AS (
	SELECT A.LIST_NO	AS LIST_NO1		
		 , A.APPL_NO	AS APPLNO1		-- 課長、主任的T1、T2、T3案件
		 , A.TIER_LEVEL AS TIER_LEVEL1
		 , A.OB_DEPT	AS OB_DEPT1
		 , A.OB_EMPLID	AS OB_EMPLID1
		 , A.ASSIGNDAY	AS ASSIGNDAY1
		 , A.CHG_DEPT	AS OB_DEPT2
		 , A.CHG_EMPLID AS OB_EMPLID2
		 , ROW_NUMBER() OVER (PARTITION BY A.ASSIGNDAY,A.CHG_EMPLID ORDER BY A.CHG_EMPLID) AS SEQ --配對用
	FROM #CHANGE_CASES A WITH (NOLOCK)
	WHERE 1=1
	)
	SELECT A.*
		 , ISNULL(B.LIST_NO,'')		AS LIST_NO2
		 , ISNULL(B.APPL_NO,'')		AS APPLNO2		-- 電話行銷專員T32、T4等級案件
		 , ISNULL(B.TIER_LEVEL,'')	AS TIER_LEVEL2
		 , ISNULL(B.ASSIGNDAY,'')	AS ASSIGNDAY2
		 , @NOW						AS CHANGE_DT	-- 紀錄
	INTO #EXCHANGE_APPL
	FROM TEMP A
	LEFT JOIN #OBPOOLDATA_LIST_T4 B WITH (NOLOCK) ON A.ASSIGNDAY1=B.ASSIGNDAY AND A.OB_EMPLID2=B.OB_EMPLID AND A.SEQ=B.SEQ_T4 --避免同一案重複被交換到不同業務身上

	-- 交換配對結果
	-- SELECT * FROM #EXCHANGE_APPL ORDER BY ASSIGNDAY1,OB_EMPLID2,SEQ

	SET @BREAK='檢查交換是否有問題'
	PRINT @BREAK
	-- 檢查配對結果，如果有問題就不執交換
	DECLARE @CNT INT = 0
	SELECT @CNT += COUNT(1) FROM #EXCHANGE_APPL WHERE APPLNO2='' --是否有配對不到的
	SELECT @CNT += COUNT(1) FROM #EXCHANGE_APPL GROUP BY APPLNO2 HAVING COUNT(1)>1 --是否有案件重複被交換到不同業務
	SELECT @CNT += COUNT(1) FROM #EXCHANGE_APPL GROUP BY APPLNO1 HAVING COUNT(1)>1 --是否有案件重複被交換到不同業務
	
	IF @CNT>0 
	BEGIN
	
		SET @MSG=ISNULL(@LIST_YEAR_MONTH,'')+' 交換名單數量有誤! 至[OBPOOLDATA_LIST_EXCHANGE_LOG]查看(CHANGE_DT=' + CONVERT(varchar(30),@NOW,20) + ')'
	
		-- 紀錄LOG
		INSERT INTO [dbo].[OBPOOLDATA_LIST_EXCHANGE_LOG] (
		[LIST_NO1], [APPLNO1], [TIER_LEVEL1], [OB_DEPT1], [OB_EMPLID1], [ASSIGNDAY1], 
		[OB_DEPT2], [OB_EMPLID2], [SEQ], [LIST_NO2], [APPLNO2], [TIER_LEVEL2], [ASSIGNDAY2], [INSERT_DATE]
		)
		SELECT
		LIST_NO1, APPLNO1, TIER_LEVEL1, OB_DEPT1, OB_EMPLID1, ASSIGNDAY1,
		OB_DEPT2, OB_EMPLID2, SEQ, LIST_NO2, APPLNO2, TIER_LEVEL2, ASSIGNDAY2, CHANGE_DT 
		FROM #EXCHANGE_APPL
	
		EXEC msdb.dbo.sp_send_dbmail @profile_name='SQLADMIN' , 
			  @recipients ='PETERLEE@hfcfinance.com.tw',
			  @copy_recipients='',
			  @subject='OB分案失敗SP_INFOT_ASSIGNEXPORTNAMELIST_st4_exchange', @body=@MSG
	
		RETURN
	END

	SET @BREAK='交換明細回寫至OBPOOLDATA_LIST，做交換'
	PRINT @BREAK
	-- **回寫至OBPOOLDATA_LIST**
	BEGIN TRAN
	BEGIN TRY
	-- 紀錄LOG
	INSERT INTO [dbo].[OBPOOLDATA_LIST_EXCHANGE_LOG] (
	[LIST_NO1], [APPLNO1], [TIER_LEVEL1], [OB_DEPT1], [OB_EMPLID1], [ASSIGNDAY1], 
	[OB_DEPT2], [OB_EMPLID2], [SEQ], [LIST_NO2], [APPLNO2], [TIER_LEVEL2], [ASSIGNDAY2], [INSERT_DATE]
	)
	SELECT
	LIST_NO1, APPLNO1, TIER_LEVEL1, OB_DEPT1, OB_EMPLID1, ASSIGNDAY1,
	OB_DEPT2, OB_EMPLID2, SEQ, LIST_NO2, APPLNO2, TIER_LEVEL2, ASSIGNDAY2, CHANGE_DT 
	FROM #EXCHANGE_APPL
	
	-- 將課長、主任的T1,T2,T3換成同處專員
	UPDATE A
	SET  A.OB_DEPT= B.OB_DEPT2,
		 A.OB_EMPLID= B.OB_EMPLID2
	FROM OBPOOLDATA_LIST A 
	JOIN #EXCHANGE_APPL B ON A.LIST_NO=B.LIST_NO1 AND A.APPL_NO=B.APPLNO1 AND B.APPLNO2<>''
	
	-- 將專員的T32,T4案件換成 課長、主任
	UPDATE A
	SET  A.OB_DEPT= B.OB_DEPT1,
		 A.OB_EMPLID= B.OB_EMPLID1
	FROM OBPOOLDATA_LIST A 
	JOIN #EXCHANGE_APPL B ON A.LIST_NO=B.LIST_NO2 AND A.APPL_NO=B.APPLNO2
	
	END TRY
	BEGIN CATCH
		ROLLBACK

		SET @MSG ='執行階段:' + @BREAK + ', ' 
				 + ISNULL(@LIST_YEAR_MONTH,'')+' 更新交換名單失敗!至[OBPOOLDATA_LIST_EXCHANGE_LOG]查看(CHANGE_DT=' + @NOW + ')'
		
		PRINT @MSG
		RAISERROR(@MSG, 16, 10)

		EXEC msdb.dbo.sp_send_dbmail @profile_name='SQLADMIN' , 
				  @recipients ='PETERLEE@hfcfinance.com.tw',
				  @copy_recipients='',
				  @subject='OB行銷分案失敗SP_INFOT_ASSIGNEXPORTNAMELIST_st4_exchange', @body=@MSG
		RETURN
	END CATCH

IF @@TRANCOUNT>0	
	COMMIT
