USE [OB]
GO
/****** Object:  StoredProcedure [dbo].[SP_INFOT_ASSIGNEXPORTNAMELIST_st2_dept_T5M]    Script Date: 2026/4/20 上午 11:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*********************************************************
--  程式名稱：SP_INFOT_ASSIGNEXPORTNAMELIST_st2_dept_T5M
--  功能說明：電銷名單部門分配(機車T5)
--  撰寫人員：MinYann
--  開發日期：
--  修改日期：20210120 MinYann 電銷名單調整。TIER依據部門比例分配
			 20210716 MinYann 機車名單

/*
	DECLARE @MSG NVARCHAR(500)='', @LIST_NO VARCHAR(15)='OB202204008'
	EXEC [dbo].[SP_INFOT_ASSIGNEXPORTNAMELIST_st2_dept_T5M] @MSG OUTPUT, @LIST_NO
	SELECT @MSG
*/
*********************************************************/

ALTER PROCEDURE [dbo].[SP_INFOT_ASSIGNEXPORTNAMELIST_st2_dept_T5M]
(
	@MSG		NVARCHAR(500) OUTPUT,
	@LIST_NO	VARCHAR(15)		--拿來判斷哪一個月份的T1~T4
	--@TIER_LEVEL VARCHAR(5)
)
AS
SET NOCOUNT ON

DECLARE @IS_ASSIGNED VARCHAR(1)
DECLARE @CASE_CNT_LIST INT=0,	--POOLDATA_LIST總筆數
		@CASE_CNT_SUM INT=0,	--分配總筆數
		@CASE_CNT_DEPT INT=0,	--部門筆數
		@DEPT_ID VARCHAR(5)='',	--部門編號
		@DEPT_NO INT=0,			--部門號碼
		@TIER_LEVEL VARCHAR(5),	--TIER_LEVEL
		@SYS_DT DATETIME,		--名單日期
		@LIST_NO_CUR VARCHAR(20)--迴圈內名單

DECLARE @D VARCHAR(10), @L VARCHAR(20), @T VARCHAR(10), @C INT
DECLARE @DIFF INT=0
DECLARE @DD VARCHAR(10), @LL VARCHAR(20), @TT VARCHAR(10), @OBDD VARCHAR(10), @OBCNT INT
--DECLARE @DEPT_RATE NUMERIC(5,2)=100.0/4		--電銷課比例

DECLARE @BREAK VARCHAR(200)=''

--取該月份第一個名單作為比例分配基準
SELECT @LIST_NO=MIN(LIST_NO)
  FROM OBMLISTDF
 WHERE LEFT(LIST_NO,8)=LEFT(@LIST_NO,8)
   --AND LIST_NM LIKE '%機車%'		--機車的第一個名單
   AND PROD_KIND='02' -- 機車的第一個名單 	-- Rumin 20230428 改看產品類別PROD_KIND(01:汽車,02:機車,03:商品)

SELECT @SYS_DT=(SELECT PROJECT_WORKYM+'01' FROM OBMLISTDF WHERE LIST_NO=@LIST_NO)

SELECT TOP 1 @IS_ASSIGNED=IS_ASSIGNED
  FROM OBMLISTDF
 WHERE LIST_NO=@LIST_NO

IF ISNULL( @IS_ASSIGNED,'N')='Y' 
BEGIN 
	SET @MSG=ISNULL(@LIST_NO,'')+'更新失敗!該名單已分派'
	RETURN 1
END

IF NOT EXISTS(SELECT * FROM [dbo].[OBMDEPTPCT] A WITH (NOLOCK)  WHERE LIST_NO=@LIST_NO)
BEGIN 
	SET @MSG='失敗!查無名單'+ISNULL(@LIST_NO,'')+'部門分配比例'
	RETURN 1
END

--***
print 'BEGIN_TRAN'
--***

BEGIN TRAN
	BEGIN TRY
		CREATE TABLE #TIER(TIER_LEVEL VARCHAR(5))

		INSERT INTO #TIER(TIER_LEVEL)	--改用TIER不用LIST_NO
		VALUES ('T5M')
		
		-- 20230428 Rumin 清空上一次分配
		UPDATE A
		   SET OB_DEPT = NULL
			 , OB_EMPLID = NULL
			 , ASSIGNDAY = ''
		  FROM OBPOOLDATA_LIST A
		  JOIN OBMLISTDF B ON A.LIST_NO=B.LIST_NO AND B.PROD_KIND ='02' -- 機車名單
		  JOIN #TIER C ON A.TIER_LEVEL=C.TIER_LEVEL
		 WHERE LEFT(A.LIST_NO,8)=LEFT(@LIST_NO,8) 

		DECLARE cur_tier CURSOR FOR
			SELECT TIER_LEVEL
			  FROM #TIER
		OPEN cur_tier
		FETCH NEXT FROM cur_tier INTO @TIER_LEVEL
		WHILE(@@FETCH_STATUS=0)
		BEGIN
			SET @BREAK ='分配CR業代'

			--取得名單分配比例
			PRINT '取得名單分配比例'
			IF OBJECT_ID('tempdb..#DIST_RATION') IS NOT NULL DROP TABLE #DIST_RATION
			/*
			SELECT @LIST_NO AS LIST_NO, TBL_VAL4 AS OBDEPTID, @DEPT_RATE AS RATION, CAST(0 AS INT) AS CNT, ROW_NUMBER() OVER(ORDER BY TBL_VAL4) AS DEPT_NO
			  INTO #DIST_RATION
			  FROM OBMCODEDF
			 --WHERE TBL_ID='10' AND TBL_VAL4='XVE3'
			*/
			SELECT A.LIST_NO, OBDEPTID, RATION, CAST(0 AS INT) AS CNT, ROW_NUMBER() OVER(PARTITION BY A.LIST_NO ORDER BY OBDEPTID) AS DEPT_NO
			  INTO #DIST_RATION
			  FROM OBMDEPTPCT A
			  --JOIN OBMLISTDF B ON A.LIST_NO=B.LIST_NO AND B.LIST_NM LIKE '%機車%'	--機車名單
			 WHERE A.LIST_NO=@LIST_NO
			   AND ISNULL(A.RATION,0)>0

			------------------------------------
			--CR業代先填入，分配部門案件時扣掉這些案件量（CR業代優先分配）
			PRINT 'CR業代先填入，分配部門案件時扣掉這些案件量（CR業代優先分配）'
			IF OBJECT_ID('tempdb..#OBPOOLDATA_LIST') IS NOT NULL DROP TABLE #OBPOOLDATA_LIST
			SELECT A.LIST_NO, APPL_NO, APPL_DATE, OB_DEPT, OB_EMPLID, ISNULL(CR_ID,'') AS CR_ID, ISNULL(CR_NM,'') AS CR_NM,
				   ISNULL(IS_CR,'') AS IS_CR
			  INTO #OBPOOLDATA_LIST
			  FROM OBPOOLDATA_LIST A
			  JOIN OBMLISTDF B ON A.LIST_NO=B.LIST_NO 
			   --AND B.LIST_NM LIKE '%機車%'	--機車名單
			   AND B.PROD_KIND ='02' -- 機車名單	-- Rumin 20230428 改看產品類別PROD_KIND(01:汽車,02:機車,03:商品)
			 WHERE LEFT(A.LIST_NO,8)=LEFT(@LIST_NO,8) AND TIER_LEVEL=@TIER_LEVEL

			--1. 距上次成交逾兩年，CR業代清空	20210121 MinYann
			PRINT '距上次成交逾兩年，CR業代清空'
			UPDATE A
			   SET CR_ID='',
				   CR_NM='',
				   IS_CR='N'
			  FROM #OBPOOLDATA_LIST A
			 WHERE DATEADD(YEAR, -2, @SYS_DT)>APPL_DATE	--以名單日期為主

			--2. CR業代已離職，CR業代清空
			PRINT 'CR業代已離職，CR業代清空'
			UPDATE A
			  SET CR_ID='',
				  CR_NM='',
				  IS_CR='N'
			 FROM #OBPOOLDATA_LIST A
			 JOIN OBEMPHIRE B ON A.CR_ID=B.EMP_ID
			WHERE B.RESIGN_DATE<@SYS_DT					--以名單日期為主

			-----------------------
			--3. CR業代優先分配
			--機車中結滿期3年以上，只分給機車組
			PRINT '機車中結滿期3年以上，只分給機車組'
			IF OBJECT_ID('tempdb..#DEPTID_EMPLID_RATION') IS NOT NULL
				DROP TABLE #DEPTID_EMPLID_RATION
			SELECT EMPLID, RATION, DEPTID_M		--員工代號、比例、電銷單位代號
			  INTO #DEPTID_EMPLID_RATION
			  FROM OBEMPLSETMF WITH(NOLOCK)
			 WHERE ISNULL(RATION,0) <> 0
			   AND LIST_NO = @LIST_NO

			UPDATE A
			  SET OB_EMPLID=A.CR_ID,
				  OB_DEPT=B.DEPTID_M,
				  IS_CR='Y'
			 FROM #OBPOOLDATA_LIST A
			 --JOIN tblCfg_Person A2 ON A.CR_ID=A2.ACCOUNT		--20210121 MinYann 是電銷人員才分配
			 JOIN #DEPTID_EMPLID_RATION B ON A.CR_ID=B.EMPLID --AND A.OB_DEPT=B.DEPTID_M	--20210217 MinYann 有被設定比例者才會進行優先分配
			WHERE A.CR_ID<>''
			-----------------------

			--4. 回寫
			UPDATE A
			   SET OB_DEPT=B.OB_DEPT,
				   OB_EMPLID=B.OB_EMPLID,
				   IS_CR=B.IS_CR
			  FROM OBPOOLDATA_LIST A
			  JOIN #OBPOOLDATA_LIST B ON A.APPL_NO=B.APPL_NO AND A.LIST_NO=B.LIST_NO
			------------------------------------
			
			FETCH NEXT FROM cur_tier INTO @TIER_LEVEL
		END 
		CLOSE cur_tier
		DEALLOCATE cur_tier
		--***
		PRINT 'CR業代分配完畢'	--20210525
		--***
		------------------------------------
		--***
		PRINT '依營業分處、汽機車名單、TIER等級，依比例計算各電銷課應分配數量'	--20210525
		--***

		SET @BREAK ='依營業分處、汽機車名單、TIER等級，依比例計算各電銷課應分配數量'
		-- Rumin 20230428 取出要分配的案件
		IF OBJECT_ID('tempdb..#DIVIDE_TABLE') IS NOT NULL DROP TABLE #DIVIDE_TABLE
		SELECT A.*
		  INTO #DIVIDE_TABLE
		  FROM OBPOOLDATA_LIST A WITH(NOLOCK)
		  JOIN OBMLISTDF B WITH(NOLOCK) ON A.LIST_NO=B.LIST_NO AND B.PROD_KIND ='02' -- 機車名單	
		  JOIN #TIER C on A.TIER_LEVEL=C.TIER_LEVEL 
		 WHERE LEFT(A.LIST_NO,8)=LEFT(@LIST_NO,8)

		--[依營業分處、名單、TIER等級分類案件數，並依比例計算各電銷課應分配數量]
		--依營業分處、名單、TIER等級歸類，計算各類別總件數
		IF OBJECT_ID('tempdb..#DEPT') IS NOT NULL DROP TABLE #DEPT
			SELECT DEPT_ID, A.LIST_NO, A.TIER_LEVEL, COUNT(1) AS CNT
			  INTO #DEPT
			  FROM #DIVIDE_TABLE A
			 GROUP BY DEPT_ID, A.LIST_NO, A.TIER_LEVEL

		--依營業分處、名單、TIER等級歸類，計算各類別電銷課應分配件數(依比例)
		IF OBJECT_ID('tempdb..#RATION') IS NOT NULL DROP TABLE #RATION
			SELECT A.DEPT_ID, A.LIST_NO, A.TIER_LEVEL, A.CNT, B.OBDEPTID, B.RATION, FLOOR(A.CNT*B.RATION/100) AS OB_DEPT_CNT
			  INTO #RATION
			  FROM #DEPT A
			  JOIN #DIST_RATION B on 1=1 and B.LIST_NO=@LIST_NO		--產品類別第一個名單
			  JOIN #TIER C on A.TIER_LEVEL=C.TIER_LEVEL
			 ORDER BY A.DEPT_ID, A.LIST_NO, A.TIER_LEVEL, B.OBDEPTID

		SET @BREAK ='補各電銷課比例分配後之差額件數'
		--[補差額件數]
		DECLARE cur_dept CURSOR FOR
			SELECT DEPT_ID, LIST_NO, TIER_LEVEL, CNT FROM #DEPT
		OPEN cur_dept
		FETCH NEXT FROM cur_dept INTO @D, @L, @T, @C
		WHILE(@@FETCH_STATUS=0)
		BEGIN
			--若該分類總件數>電銷課應分配總件數 (@DIFF=總件數-應分配)
			SELECT @DIFF=0
			SELECT @DIFF=@C-(SELECT SUM(OB_DEPT_CNT) FROM #RATION WHERE DEPT_ID=@D AND LIST_NO=@L AND TIER_LEVEL=@T)
			IF @DIFF>0
			BEGIN
				--差額件數隨機補給電銷課
				IF OBJECT_ID('tempdb..#TEMP') IS NOT NULL DROP TABLE #TEMP
				SELECT OBDEPTID, ROW_NUMBER() OVER(ORDER BY NEWID()) AS SEQ
				  INTO #TEMP
				  FROM #RATION
				 WHERE DEPT_ID=@D AND LIST_NO=@L AND TIER_LEVEL=@T
				
				UPDATE A
				   SET OB_DEPT_CNT=OB_DEPT_CNT+1
				  FROM #RATION A
				  JOIN #TEMP B ON A.OBDEPTID=B.OBDEPTID
				 WHERE A.DEPT_ID=@D AND LIST_NO=@L AND A.TIER_LEVEL=@T AND B.SEQ<=@DIFF
			END

			FETCH NEXT FROM cur_dept INTO @D, @L, @T, @C
		END
		CLOSE cur_dept
		DEALLOCATE cur_dept
		--***
		PRINT '各課件數計算完畢'
		--***
		------------------------------
		SET @BREAK ='扣掉已CR分配數，計算出最終應分配數'
		--[扣掉已CR分配]
		--取出已CR分配件數
		SELECT DEPT_ID, A.LIST_NO, A.TIER_LEVEL, OB_DEPT, COUNT(1) AS CNT
		  INTO #CR_CNT
		  FROM #DIVIDE_TABLE A
		 WHERE IS_CR='Y'
		 GROUP BY DEPT_ID, A.LIST_NO, A.TIER_LEVEL, OB_DEPT

		--更新案件量(扣除已CR分配)
		UPDATE A
		   SET OB_DEPT_CNT=OB_DEPT_CNT-B.CNT
		  FROM #RATION A
		  JOIN #CR_CNT B ON A.DEPT_ID=B.DEPT_ID AND A.LIST_NO=B.LIST_NO AND A.TIER_LEVEL=B.TIER_LEVEL AND A.OBDEPTID=B.OB_DEPT
		------------------------------
		SET @BREAK ='案件依照 分處、名單、TIER等級分類，分配給各電銷課'
		--案件依照 分處、名單、TIER等級 分配給各電銷課
		DECLARE cur_assign CURSOR FOR
			SELECT DEPT_ID, LIST_NO, TIER_LEVEL, OBDEPTID, OB_DEPT_CNT FROM #RATION
		OPEN cur_assign 
		FETCH NEXT FROM cur_assign INTO @DD, @LL, @TT, @OBDD, @OBCNT
		WHILE(@@FETCH_STATUS=0)
		BEGIN
			--[隨機取案件並指派]
			--沒有CR分配的
			IF OBJECT_ID('tempdb..#TMP') IS NOT NULL DROP TABLE #TMP
			SELECT APPL_NO, ROW_NUMBER() OVER(ORDER BY NEWID()) AS SEQ
			  INTO #TMP
			  FROM #DIVIDE_TABLE
			 WHERE DEPT_ID=@DD AND LIST_NO=@LL AND TIER_LEVEL=@TT AND IS_CR<>'Y' AND ISNULL(OB_DEPT,'')=''
			
			-- Rumin 20230428 更新#DIVIDE_TABLE，下一圈才不會有問題
			UPDATE A
			   SET OB_DEPT=@OBDD
			  FROM #DIVIDE_TABLE A
			  JOIN #TMP B ON A.APPL_NO=B.APPL_NO
			 WHERE A.DEPT_ID=@DD AND A.LIST_NO=@LL AND TIER_LEVEL=@TT AND IS_CR<>'Y'
			   AND B.SEQ<=@OBCNT
			
			UPDATE A
			   SET OB_DEPT=@OBDD
			  FROM OBPOOLDATA_LIST A
			  JOIN #TMP B ON A.APPL_NO=B.APPL_NO
			 WHERE A.DEPT_ID=@DD AND A.LIST_NO=@LL AND TIER_LEVEL=@TT AND IS_CR<>'Y'
			   AND B.SEQ<=@OBCNT

			FETCH NEXT FROM cur_assign INTO @DD, @LL, @TT, @OBDD, @OBCNT
		END
		CLOSE cur_assign
		DEALLOCATE cur_assign
		--***
		PRINT '分配完畢'
		--***
	END TRY
	BEGIN CATCH

		IF CURSOR_STATUS('global','cur_list')>=-1
		BEGIN
			CLOSE cur_list
			DEALLOCATE cur_list
		END

		IF CURSOR_STATUS('global','cur_tier')>=-1
		BEGIN
			CLOSE cur_tier
			DEALLOCATE cur_tier
		END

		IF CURSOR_STATUS('global','cur_assign')>=-1
		BEGIN
			CLOSE cur_assign
			DEALLOCATE cur_assign
		END

		IF @@TRANCOUNT>0
			ROLLBACK TRAN

		SET @MSG = '錯誤行：'+ ISNULL(CAST(ERROR_LINE() AS VARCHAR(4)),'')
				+ ',錯誤階段：'+ @BREAK
				+ ',錯誤訊息：'+ ISNULL(ERROR_MESSAGE(),'')

		PRINT @MSG
		RAISERROR(@MSG, 16, 10)

		EXEC msdb.dbo.sp_send_dbmail @profile_name='SQLADMIN' , 
			  @recipients ='MINYANN@hfcfinance.com.tw;PETERLEE@hfcfinance.com.tw',
			  @copy_recipients='',
			  @subject='OB行銷分案失敗SP_INFOT_ASSIGNEXPORTNAMELIST_st2_dept_T5M', @body=@MSG
		
		RETURN

	END CATCH

IF @@TRANCOUNT>0
	COMMIT

--以下為舊版 => 依部門比例和案件年份分配
/*
--SET LANGUAGE 'English'; SET LANGUAGE 'Traditional Chinese'
declare @VAR_WORKDT varchar(16)
IF ISNULL(@VAR_WORKDT,'')='' SET @VAR_WORKDT=CONVERT(VARCHAR(10),DATEADD(mm, 1, DATEADD(mm, DATEDIFF(mm,0,getdate()),0)),121)	--下個月一日
						ELSE SET @VAR_WORKDT=SUBSTRING(@VAR_WORKDT,1,7)+'-01'													--指定年月一日	
DECLARE @WORKDT DATETIME = CONVERT(datetime, @VAR_WORKDT, 121)
DECLARE @WORKYM VARCHAR(6)  =(SELECT TOP 1 PROJECT_WORKYM FROM OBMLISTDF WHERE LIST_NO=@LIST_NO)
PRINT @WORKYM
DECLARE @SYS_DT DATETIME = GETDATE()


--已分配至個人，不可再分配
--IF EXISTS(SELECT TOP 1 CNTRNO FROM CRMDAILYOBMF WHERE BIZTYPE='03' AND SRVTYPE='18' AND DLRCD='02'AND SUBSTRING(CASEDT,1,6)=@WORKYM)
/*IF EXISTS(SELECT TOP 1 APPL_NO FROM OBPOOLDATA_LIST WHERE LIST_NO =@LIST_NO )
	BEGIN
		SET @O_NVA_MSG = 'Error 錯誤: ' + CAST(@WORKYM  AS VARCHAR)+ ' OUT BOUND資料(OBPOOLDATA_LIST)已分配至個人，不可再次分配！'
		print @O_NVA_MSG
		RETURN 1
	END
*/
--案件年分區間 LIST temp table
	IF OBJECT_ID('tempdb..#CASEYEARS') IS NOT NULL DROP TABLE #CASEYEARS
	CREATE TABLE #CASEYEARS (CASEYEAR INT, CASEYEARNM NVARCHAR(20))
	INSERT INTO #CASEYEARS (CASEYEAR, CASEYEARNM) EXEC OB..SP_OBCRC100_Q '' ,'3' --,@VAR_WORKDT	--案件年分 EXEC from SP_CRC100_Q01
	DECLARE @yrMin INT ,@yrMax INT
	SELECT @yrMin=MIN(CASEYEAR) ,@yrMax=MAX(CASEYEAR) FROM #CASEYEARS

PRINT '@@'
	--根據 BRNHCD, CTYPE, CASEYEAR 算出SUB_TOTAL
	IF OBJECT_ID('tempdb..#CASEOB_TOTAL') IS NOT NULL DROP TABLE #CASEOB_TOTAL
	SELECT DEPT_ID
			,CASEYEAR=(CASE WHEN CASEYEAR<=@yrMin THEN @yrMin WHEN CASEYEAR>=@yrMax THEN @yrMax ELSE CASEYEAR END)
			,OB_CNT=COUNT(APPL_NO)
	  INTO #CASEOB_TOTAL
	  FROM OBPOOLDATA_LIST WITH(NOLOCK)
	 WHERE LIST_NO = @LIST_NO --AND DEPT_ID <>'XVF3'
	 GROUP BY DEPT_ID,  (CASE WHEN CASEYEAR<=@yrMin THEN @yrMin WHEN CASEYEAR>=@yrMax THEN @yrMax ELSE CASEYEAR END)
	 ORDER BY DEPT_ID, (CASE WHEN CASEYEAR<=@yrMin THEN @yrMin WHEN CASEYEAR>=@yrMax THEN @yrMax ELSE CASEYEAR END)

PRINT '##'
	--根據 上面SUB_TOTAL * RATION 算出 CASE_DIVIDE_CNT
	IF OBJECT_ID('tempdb..#CRMOBDEPTSETMF') IS NOT NULL DROP TABLE #CRMOBDEPTSETMF
	SELECT DISTINCT
		   A.PROJECT_WORKYM AS WORKYM
		  ,A.LIST_NO 	--CR別
		  ,A.BRNHCD	--分處別
		  ,A.CASEYEAR --案件年分
		  ,A.OBDEPTID	--分配對象
		  ,A.RATION 	--分配比例
		  ,CASE_TOTAL_CNT=ISNULL(D.OB_CNT,0)
		  ,CASE_DIVIDE_CNT = FLOOR(ISNULL(D.OB_CNT,0) * A.RATION / 100)
	  INTO #CRMOBDEPTSETMF
	  FROM [dbo].[OBMDEPTPCT] A WITH (NOLOCK) 
	  --LEFT JOIN (SELECT CIdx=CAST(MVALUE AS INT),MCODE FROM LC..LCCODEMF B WITH (NOLOCK) WHERE SYSCD='CR' AND DATAID='63') B ON B.MCODE=A.CTYPE
	  LEFT JOIN (SELECT BIdx=TBL_CD ,TBL_DESC1 FROM OB.[dbo].[OBMCODEDF1]  WITH (NOLOCK) WHERE SYSTEM_ID='OB' AND TBL_ID='07') C ON C.TBL_DESC1=A.BRNHCD
	  LEFT JOIN (SELECT OIdx=TBL_CD ,TBL_DESC1 FROM OB.[dbo].[OBMCODEDF1]  WITH (NOLOCK) WHERE SYSTEM_ID='OB' AND TBL_ID='10') E ON E.TBL_DESC1=A.OBDEPTID
	  LEFT JOIN #CASEOB_TOTAL D ON A.BRNHCD=D.DEPT_ID  AND A.CASEYEAR=D.CASEYEAR
	 WHERE A.PROJECT_WORKYM=@WORKYM AND A.LIST_NO=@LIST_NO --單一名單類別專案派
	 ORDER BY A.PROJECT_WORKYM, A.BRNHCD, A.CASEYEAR, OBDEPTID 

PRINT '$$'
	--比率RATION為 100% 時，未分配案子再分配
	IF OBJECT_ID('tempdb..#NEW_DIVIDE_CNT') IS NOT NULL DROP TABLE #NEW_DIVIDE_CNT
	SELECT WORKYM,BRNHCD,LIST_NO ,CASEYEAR,OBDEPTID,CASE_DIVIDE_CNT,NOT_DIV_CNT ,NEW_DIVIDE_CNT=(CASE_DIVIDE_CNT+NOT_DIV_CNT) 
	INTO #NEW_DIVIDE_CNT 
	FROM (
	SELECT A.WORKYM,A.BRNHCD,A.LIST_NO,A.CASEYEAR,A.OBDEPTID,A.RATION,A.CASE_DIVIDE_CNT,NOT_DIV_CNT=(A.CASE_TOTAL_CNT-B.CASE_DIV) ,DIVP=((RATION*CASE_TOTAL_CNT)/100.0)%1
		   ,RNO=ROW_NUMBER() OVER(PARTITION BY A.WORKYM,A.BRNHCD,A.LIST_NO,A.CASEYEAR ORDER BY (((RATION*CASE_TOTAL_CNT)/100.0)%1) desc) 
	FROM #CRMOBDEPTSETMF A
	INNER JOIN (SELECT WORKYM,BRNHCD,LIST_NO,CASEYEAR,SUM_RATION=SUM(RATION),CASE_DIV=SUM(CASE_DIVIDE_CNT)
				FROM #CRMOBDEPTSETMF WHERE WORKYM=@WORKYM
				GROUP BY WORKYM,BRNHCD,LIST_NO,CASEYEAR HAVING SUM(RATION)>=100) B
	ON A.WORKYM=B.WORKYM AND A.BRNHCD=B.BRNHCD AND A.LIST_NO=B.LIST_NO AND A.CASEYEAR=B.CASEYEAR
	WHERE (A.CASE_TOTAL_CNT-B.CASE_DIV)>0
	) Ins WHERE Ins.RNO=1

	--SELECT * from #NEW_DIVIDE_CNT
	UPDATE A SET A.CASE_DIVIDE_CNT = B.NEW_DIVIDE_CNT
	FROM #CRMOBDEPTSETMF A				
	INNER JOIN #NEW_DIVIDE_CNT B 
	ON A.WORKYM=B.WORKYM AND A.BRNHCD=B.BRNHCD AND A.LIST_NO=B.LIST_NO AND A.CASEYEAR=B.CASEYEAR AND A.OBDEPTID=B.OBDEPTID
	print 'CASE_DIVIDE_CNT 100% Changed: '+cast(@@ROWCOUNT AS varchar)+CHAR(10)
	IF OBJECT_ID('tempdb..#NEW_DIVIDE_CNT') IS NOT NULL DROP TABLE #NEW_DIVIDE_CNT
	IF OBJECT_ID('tempdb..#CASEOB_TOTAL') IS NOT NULL DROP TABLE #CASEOB_TOTAL
	IF OBJECT_ID('tempdb..#CASEYEARS') IS NOT NULL DROP TABLE #CASEYEARS

	--SELECT * FROM #CRMOBDEPTSETMF

--  CRMOBDEPTSETMF 列出 @WORKYM 管理分配電銷名單 RATION...
--DECLARE @WORKYM VARCHAR(6)='201905'
	DECLARE @op_ids VARCHAR(90) 
	SELECT @op_ids = COALESCE(@op_ids + ', ', '') + '[' + TBL_CD + ']' FROM OB.[dbo].[OBMCODEDF1]  WITH (NOLOCK) WHERE SYSTEM_ID='OB' AND TBL_ID='10' ORDER BY TBL_CD
	print (@op_ids)
	IF OBJECT_ID('tempdb..#PIVOT') IS NOT NULL DROP TABLE #PIVOT
	CREATE TABLE #PIVOT (BIdx INT ,BRNHCD VARCHAR(6) ,LIST_NO VARCHAR(20) ,CASEYEAR VARCHAR(4) ,TOTAL INT ,OP1 INT ,OP2 INT ,OP3	INT,OP4	INT)
	DECLARE @SQL VARCHAR(1000) 
	set @SQL = 'SELECT * FROM ( SELECT BIdx=D.TBL_VAL1,A.BRNHCD,A.LIST_NO,A.CASEYEAR,A.OBDEPTID,TOTAL=A.CASE_TOTAL_CNT,DIV=A.CASE_DIVIDE_CNT '
		     +					'FROM #CRMOBDEPTSETMF A WITH (NOLOCK) '
			 +					'LEFT JOIN OB.[dbo].[OBMCODEDF1] D  WITH (NOLOCK) ON D.SYSTEM_ID=''OB'' AND D.TBL_ID=''07'' AND  D.TBL_CD=A.BRNHCD '
		     +					'INNER JOIN (SELECT BRNHCD ,LIST_NO  ,CASEYEAR ,OBDEPTID FROM [dbo].[OBMDEPTPCT] WHERE PROJECT_WORKYM=''' + @WORKYM + ''' '
			 +								'GROUP BY BRNHCD,LIST_NO,CASEYEAR,OBDEPTID '
			 +					') C ON A.BRNHCD=C.BRNHCD AND A.LIST_NO=C.LIST_NO AND A.CASEYEAR=C.CASEYEAR AND A.OBDEPTID=C.OBDEPTID AND WORKYM=''' + @WORKYM + ''' '
			 +				 ') AS p '
			 +				 'PIVOT ( SUM(DIV) FOR OBDEPTID IN (' + @op_ids + ')) pt '
			 +				 'ORDER BY BIdx  ,CASEYEAR '			 
	--PRINT @SQL
	--EXEC  (@SQL)
	--DECLARE @SQL VAR
PRINT '0'	
	INSERT INTO #PIVOT EXEC (@SQL)
    IF OBJECT_ID('tempdb..#OPID') IS NOT NULL DROP TABLE #OPID
	IF OBJECT_ID('tempdb..#tmpOPDIV') IS NOT NULL DROP TABLE #tmpOPDIV
PRINT 'A'


    CREATE TABLE #OPID (DATAID VARCHAR(6) ,OP1ID VARCHAR(6) ,OP2ID VARCHAR(6) ,OP3ID VARCHAR(6) ,OP4ID VARCHAR(6))
    INSERT INTO #OPID EXEC ('SELECT * FROM (SELECT SYSTEM_ID,TBL_CD FROM OB.[dbo].[OBMCODEDF1]  WITH (NOLOCK) WHERE SYSTEM_ID=''OB'' AND TBL_ID=''10'') p '
			               +'PIVOT (MAX(TBL_CD) FOR TBL_CD IN (' + @op_ids + ')) B ')
    SELECT A.* ,OP1_epos=0, OP2_epos=0, OP3_epos=0 , OP4_epos=0 ,B.OP1ID ,B.OP2ID ,B.OP3ID,B.OP4ID
	INTO #tmpOPDIV FROM #PIVOT A LEFT JOIN #OPID B ON 1=1 ORDER BY A.BIdx  ,A.CASEYEAR

	SELECT * FROM #PIVOT
	SELECT * FROM #OPID

	DROP TABLE #PIVOT ,#OPID
PRINT 'B'
	UPDATE #tmpOPDIV SET OP1_epos=ISNULL(OP1,0) 
						,OP2_epos=ISNULL(OP1,0)+ISNULL(OP2,0) 
						,OP3_epos=ISNULL(OP1,0)+ISNULL(OP2,0)+ISNULL(OP3,0)
						,OP4_epos=ISNULL(OP1,0)+ISNULL(OP2,0)+ISNULL(OP3,0)+ISNULL(OP4,0)
	--SELECT * FROM #tmpOPDIV
	--SELECT * FROM CTYPE
	--SELECT TOP 10 * FROM OBPOOLDATA_LIST
PRINT 'C'



--CRM分期案件分配檔 @WORKYM月 LIST temp table
	IF OBJECT_ID('tempdb..#CRMCASEOBMF') IS NOT NULL DROP TABLE #CRMCASEOBMF
	SELECT BIdx,C.DEPT_ID  ,C.CASEYEAR ,C.CASEYEAR_SET ,C.APPL_NO ,OBDEPTID='      '
		  --,RNO=ROW_NUMBER() OVER (PARTITION BY BIdx,CASEYEAR_SET ORDER BY BIdx,CASEYEAR_SET,APPL_NO)
		  ,RNO=ROW_NUMBER() OVER (PARTITION BY BIdx,CASEYEAR_SET ORDER BY BIdx,CASEYEAR_SET,NEWID()) --隨機排序
		  ,OP1_epos ,OP2_epos ,OP3_epos,OP4_epos ,OP1ID ,OP2ID ,OP3ID ,OP4ID,TOTAL 
	INTO #CRMCASEOBMF
	FROM (SELECT BIdx=C.TBL_VAL1,A.DEPT_ID,A.CASEYEAR ,A.APPL_NO 
				,CASEYEAR_SET=CASE WHEN A.CASEYEAR<=@yrMin THEN @yrMin WHEN A.CASEYEAR>=@yrMax THEN @yrMax ELSE A.CASEYEAR END
				,D.OP1_epos ,D.OP2_epos ,D.OP3_epos ,D.OP4_epos ,D.OP1ID ,D.OP2ID ,D.OP3ID ,D.OP4ID ,D.TOTAL
			FROM OBPOOLDATA_LIST A
			--LEFT JOIN SELECT * FROM LC..LCCODEMF B WITH (NOLOCK) WHERE B.MCODE='18' AND B.SYSCD='CR' AND B.DATAID='63'
			LEFT JOIN  OB.[dbo].[OBMCODEDF1] C WITH (NOLOCK) ON SYSTEM_ID='OB' AND TBL_ID='07' AND C.TBL_CD=A.DEPT_ID 
			INNER JOIN #tmpOPDIV D ON D.BRNHCD=A.DEPT_ID AND D.LIST_NO=@LIST_NO
									 AND D.CASEYEAR=CASE WHEN A.CASEYEAR<=@yrMin THEN @yrMin WHEN A.CASEYEAR>=@yrMax THEN @yrMax ELSE A.CASEYEAR END
			WHERE  A.LIST_NO=@LIST_NO
		 ) C 
	ORDER BY C.BIdx ,C.CASEYEAR_SET
PRINT 'D'

--SELECT * FROM #CRMCASEOBMF

-- 分派電銷部門 to Temp table #CRMCASEOBMF
	UPDATE #CRMCASEOBMF
	SET OBDEPTID = CASE WHEN RNO<= OP1_epos THEN OP1ID
						WHEN RNO<= OP2_epos THEN OP2ID
						WHEN RNO<= OP3_epos THEN OP3ID
						WHEN RNO<= OP4_epos THEN OP4ID
						ELSE '' END
	--SELECT * FROM #CRMCASEOBMF ORDER BY BIdx ,CIdx ,CASEYEAR_SET
PRINT 'E'	
-- 	更新 CRMCASEOBMF 分期案件分配檔 from #CRMCASEOBMF
	UPDATE A
	SET A.OB_DEPT=B.OBDEPTID
	FROM OBPOOLDATA_LIST A
	INNER JOIN #CRMCASEOBMF B ON A.DEPT_ID=B.DEPT_ID  AND A.CASEYEAR=B.CASEYEAR AND A.APPL_NO=B.APPL_NO
	WHERE LIST_NO=@LIST_NO
PRINT 'D'
	IF @@ROWCOUNT >0
	BEGIN 
		UPDATE OBMLISTDF
		SET ASSIGNED_DATE=GETDATE(),
			TOTAL_AMOUNT =(SELECT COUNT(1) FROM OBPOOLDATA_LIST WHERE LIST_NO=@LIST_NO AND ISNULL(OB_DEPT,'')<>'')
		WHERE LIST_NO=@LIST_NO
	END

	print 'Total Exec Time: ' + cast(DATEDIFF(millisecond,@SYS_DT,GETDATE()) AS varchar) + ' ms('+ cast(cast((DATEDIFF(millisecond,@SYS_DT,GETDATE())/1000.0) as numeric(18,2)) AS varchar) + 's) - ' + +cast(@@ROWCOUNT AS varchar) + ' record updated.' +CHAR(10)
	


DROP TABLE #CRMCASEOBMF
DROP TABLE #tmpOPDIV
*/






