USE [OB]
GO
/****** Object:  StoredProcedure [dbo].[SP_OBLEVELCARD_HM]    Script Date: 2026/4/20 上午 11:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--EXEC SP_OBLEVELCARD_HM 'OB201909004'
/*********************************************
* Serve: 	APYHFC16/SQYHFC07
* Database:	OB
* 程式名稱:	SP_OBLEVELCARD_HM
* 系統: 	OB系統
* 程式功能:	電銷客戶等級卡_期中機車
* 備註: 直接複製機車M的邏輯
* 作者:		MinYann
  修改時間: 20210610
*********************************************/
ALTER        PROCEDURE [dbo].[SP_OBLEVELCARD_HM]
@LIST_NO VARCHAR(20)
AS
BEGIN 

DECLARE @ERR VARCHAR(1000)
	IF NOT EXISTS(SELECT * FROM OBMLISTDF  WITH(NOLOCK)  WHERE LIST_NO=@LIST_NO AND CARD_TYPE='HM')
	BEGIN 
		GOTO ERRORMAIL
		RETURN
    END
		BEGIN TRY
	    BEGIN TRAN

			IF OBJECT_ID('tempdb..#CASE_CUS') IS NOT NULL DROP TABLE #CASE_CUS

			SELECT D.APPL_NO,D.SPEC_NAME,D.SPEC_TP,D.YEAR_PRODU,E.REMAINING_AMT,D.MONTH_CNT,
				 CASE WHEN ISNULL(CUS.CUS_SEX,'')='' THEN '1'
						ELSE CUS.CUS_SEX
						END AS CUS_SEX,
				CUS.CUSTO_NO ,CUS.CAREA_NO1 ,CUS.CAREA_NO2 ,DATEDIFF(YEAR,CUS.BITBE_DATE ,GETDATE())AS BITBE_DATE,CUS.EDUCAT_BACK
				,LEFT(POST.POSTAL_ADD,3) AS POSTAL_ADD
				,LEFT(POST_H.POSTAL_ADD,3) AS HPOSTAL_ADD
				,LEFT(POST_C.POSTAL_ADD,3) AS CPOSTAL_ADD
			INTO #CASE_CUS
			FROM OBPOOLDATA_LIST D WITH(NOLOCK) 
				 LEFT JOIN SQYHFC07.ZZIPPROD.[dbo].[ARSTATISMF] E  WITH(NOLOCK)  ON D.APPL_NO=E.CONTNO 
				 JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_BAMCUST_M  CUS  WITH(NOLOCK) ON D.CUSTO_NO =CUS.CUSTO_NO
				 LEFT JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_BAMPOST_M  POST WITH(NOLOCK) ON POST.POSTAL_NO  =CUS.CO_NUM
				 LEFT JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_BAMPOST_M  POST_H WITH(NOLOCK) ON POST_H.POSTAL_NO  =CUS.HPOST_NUM
				 LEFT JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_BAMPOST_M  POST_C WITH(NOLOCK) ON POST_C.POSTAL_NO  =CUS.CPOST_NUM
			WHERE LIST_NO=@LIST_NO


			IF OBJECT_ID('tempdb..#GUARD') IS NOT NULL DROP TABLE #GUARD
			SELECT #CASE_CUS.APPL_NO,MIN(GUARD.GUARD_SEQ) SEQ
			INTO #GUARD
			FROM #CASE_CUS　
			JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_BAMGUARD_M GUARD ON #CASE_CUS.APPL_NO=GUARD.APPL_NO
			GROUP BY #CASE_CUS.APPL_NO

			IF OBJECT_ID('tempdb..#FINAL') IS NOT NULL DROP TABLE #FINAL
			SELECT CUS.*, GUARD.SEQ ,GUARD_APPL.GUARD_NO,GUARD_DATA.CAREA_NO1 AS CAREA_NO1_GUARD ,GUARD_DATA.CAREA_NO2 AS CAREA_NO2_GUARD, DATEDIFF(YEAR,GUARD_DATA.BITBE_DATE ,GETDATE()) AS BITBE_DATE_GUARD,GUARD_DATA.EDUCAT_BACK AS  EDUCAT_BACK_GUARD
			INTO #FINAL
			FROM #CASE_CUS CUS
				LEFT JOIN #GUARD GUARD ON CUS.APPL_NO=GUARD.APPL_NO
				LEFT JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_BAMGUARD_M GUARD_APPL ON GUARD_APPL.APPL_NO=GUARD.APPL_NO AND GUARD_APPL.GUARD_SEQ=GUARD.SEQ 
				LEFT JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_BAMCUST_M GUARD_DATA ON GUARD_APPL.GUARD_NO =GUARD_DATA.CUSTO_NO 
			
			IF OBJECT_ID('tempdb..#PRE_FINAL') IS NOT NULL DROP TABLE #PRE_FINAL
			SELECT  D.APPL_NO, C.COLUNM ,D.SPEC_NAME,ISNULL(CAST(D.SPEC_TP  AS VARCHAR),'01')+CASE WHEN D.SPEC_NAME LIKE '%借新還舊%'THEN'A'ELSE '' END SPEC,C.SCORE ,A.CARD_TYPE, A.CARD_VERSION
			INTO #PRE_FINAL
			FROM [dbo].[OBLEVELCARD_VERSION] A WITH(NOLOCK)
					JOIN [dbo].[OBLEVELCARD_COLUNM] B  WITH(NOLOCK) ON A.CARD_TYPE =B.CARD_TYPE AND A.CARD_VERSION =B.CARD_VERSION 
					JOIN [dbo].[OBLEVELCARD_SCORE] C  WITH(NOLOCK) ON B.CARD_TYPE =C.CARD_TYPE AND B.CARD_VERSION =C.CARD_VERSION AND B.COLUNM =C.COLUNM
					JOIN #FINAL D WITH(NOLOCK) ON 1=1
			WHERE GETDATE() BETWEEN SDATE AND EDATE 
				AND  A.CARD_TYPE='M'
				AND ((C.COLUNM='AGE' AND CASE WHEN  D.CUS_SEX NOT IN ('1','2') THEN CASE WHEN ISNULL(D.BITBE_DATE_GUARD,'')='' OR D.BITBE_DATE_GUARD >100 OR  D.BITBE_DATE_GUARD < 0 THEN 0 ELSE D.BITBE_DATE_GUARD END ELSE  CASE WHEN ISNULL(D.BITBE_DATE,'')='' OR D.BITBE_DATE >100 OR  D.BITBE_DATE < 0  THEN 0 ELSE BITBE_DATE END END BETWEEN LEVEL2_S AND LEVEL2_E)
				OR (C.COLUNM='CAREA_NO1' AND CASE WHEN  D.CUS_SEX NOT IN ('1','2') THEN CASE WHEN ISNULL(D.CAREA_NO1_GUARD,'')='' THEN 0 ELSE 1 END ELSE  CASE WHEN ISNULL(D.CAREA_NO1,'')='' THEN 0 ELSE 1 END END BETWEEN LEVEL2_S AND LEVEL2_E)
				OR (C.COLUNM='CAREA_NO2' AND CASE WHEN  D.CUS_SEX NOT IN ('1','2') THEN CASE WHEN ISNULL(D.CAREA_NO2_GUARD,'')='' THEN 0 ELSE 1 END ELSE  CASE WHEN ISNULL(D.CAREA_NO2,'')='' THEN 0 ELSE 1 END END BETWEEN LEVEL2_S AND LEVEL2_E)
				OR (C.COLUNM='CO_NUM_NM' AND CASE WHEN ISNULL(D.POSTAL_ADD,'')='' THEN '高雄市' ELSE D.POSTAL_ADD  END =LEVEL1)
				OR (C.COLUNM='HPOST_NUM_NM' AND CASE WHEN ISNULL(D.HPOSTAL_ADD,'')='' THEN '臺北市' ELSE D.HPOSTAL_ADD  END =LEVEL1) 
				OR (C.COLUNM='CPOST_NUM_NM' AND CASE WHEN ISNULL(D.CPOSTAL_ADD,'')='' THEN '臺南市' ELSE D.CPOSTAL_ADD  END =LEVEL1) 
			)
	
			DELETE FROM OBLEVELCARD_SCORE_TEST-- WHERE LIST_NO=@LIST_NO
			INSERT INTO  OBLEVELCARD_SCORE_TEST  SELECT @LIST_NO,*    FROM #PRE_FINAL ORDER BY APPL_NO,COLUNM
			IF EXISTS(SELECT APPL_NO,COUNT(1) FROM #PRE_FINAL GROUP BY APPL_NO HAVING COUNT(1)<>
			(SELECT COUNT(1) FROM [dbo].[OBLEVELCARD_VERSION] A
							 JOIN [dbo].[OBLEVELCARD_COLUNM]  B ON A.CARD_TYPE =B.CARD_TYPE AND A.CARD_VERSION =B.CARD_VERSION 
							 WHERE GETDATE() BETWEEN SDATE AND EDATE 
							 AND A.CARD_TYPE='M')) 
			BEGIN 
				SET @ERR='評分參數數量有誤'
				ROLLBACK
				GOTO ERRORMAIL
				RETURN
			END

			IF OBJECT_ID('tempdb..#SCORE') IS NOT NULL DROP TABLE #SCORE
			SELECT APPL_NO ,SUM(SCORE) SCORE , CARD_TYPE, CARD_VERSION
			INTO #SCORE
			FROM (SELECT * FROM #PRE_FINAL)t
			GROUP BY APPL_NO, CARD_TYPE, CARD_VERSION


			DELETE FROM OBLEVELCARD WHERE LIST_NO=@LIST_NO
			INSERT INTO OBLEVELCARD
			([LIST_NO]	      ,[TURN_DATE]     ,[CARD_LEVEL]      ,[SCORE]			,[APPL_NO]
		  ,[SPEC_NAME]        ,[SPEC_TP]       ,[YEAR_PRODU]     ,[ADD_UN_CAPITAL]     ,[LIST_MONTH]
		  ,[CUS_SEX]          ,[CUSTO_NO]      ,[CAREA_NO1]      ,[CAREA_NO2]		 ,[SEQ]
		  ,[GUARD_NO]         ,[CAREA_NO1_GUARD]				 ,[CAREA_NO2_GUARD]
		  ,AGE	, AGE_GUARD	 ,EDUCAT_BACK	,EDUCAT_BACK_GUARD)
			
			SELECT 
			@LIST_NO 	      ,GETDATE()     ,OBLEVELCARD_LEVEL.[CARD_LEVEL]      ,[SCORE]			,#FINAL.[APPL_NO]
		  ,#FINAL.[SPEC_NAME]        ,#FINAL.[SPEC_TP]       ,#FINAL.[YEAR_PRODU]     ,[REMAINING_AMT]    ,#FINAL.[MONTH_CNT]
		  ,[CUS_SEX]          ,#FINAL.[CUSTO_NO]      ,[CAREA_NO1]      ,[CAREA_NO2]		 ,[SEQ]
		  ,[GUARD_NO]         ,[CAREA_NO1_GUARD]				 ,[CAREA_NO2_GUARD]	
		  ,#FINAL.BITBE_DATE	, BITBE_DATE_GUARD	 ,EDUCAT_BACK	,EDUCAT_BACK_GUARD
			FROM #FINAL 
			JOIN #SCORE ON #FINAL.APPL_NO=#SCORE.APPL_NO 
			JOIN OBPOOLDATA_LIST WITH(NOLOCK) ON #FINAL.APPL_NO=OBPOOLDATA_LIST.APPL_NO AND LIST_NO=@LIST_NO
			JOIN OBLEVELCARD_LEVEL WITH(NOLOCK) ON OBLEVELCARD_LEVEL.CARD_TYPE= #SCORE.CARD_TYPE 
												AND OBLEVELCARD_LEVEL.CARD_VERSION= #SCORE.CARD_VERSION   
												AND #SCORE.SCORE BETWEEN OBLEVELCARD_LEVEL.SCORE_S AND  OBLEVELCARD_LEVEL.SCORE_E 
			ORDER BY #SCORE.SCORE
		
		DELETE FROM OBLEVELCARD_TEST --WHERE LIST_NO=@LIST_NO
		INSERT INTO  OBLEVELCARD_TEST   SELECT *  FROM OBLEVELCARD WHERE LIST_NO=@LIST_NO

		UPDATE OBPOOLDATA_LIST
		SET  CARD_LEVEL=A.CARD_LEVEL
		FROM OBLEVELCARD A
			 JOIN OBPOOLDATA_LIST B ON A.LIST_NO =B.LIST_NO  AND A.APPL_NO=B.APPL_NO
		WHERE B.LIST_NO=@LIST_NO

		COMMIT
		RETURN
		END TRY
		BEGIN  CATCH
			SET @ERR=@ERR+ERROR_MESSAGE()
			ROLLBACK
			DELETE FROM OBLEVELCARD WHERE LIST_NO=@LIST_NO
			DELETE FROM OBLEVELCARD_TEST WHERE LIST_NO=@LIST_NO
			DELETE FROM OBLEVELCARD_SCORE_TEST WHERE LIST_NO=@LIST_NO
			GOTO ERRORMAIL
			RETURN
		END CATCH

		--檢核
		IF (SELECT COUNT(1) FROM  OBLEVELCARD WITH(NOLOCK) WHERE LIST_NO=@LIST_NO)<>
		   (SELECT COUNT(1) FROM  OBPOOLDATA_LIST  WITH(NOLOCK) WHERE LIST_NO=@LIST_NO)
		BEGIN 
			SET @ERR=@ERR+'OBLEVELCARD與OBPOOLDATA_LIST筆數不符'
			DELETE FROM OBLEVELCARD WHERE LIST_NO=@LIST_NO
			GOTO ERRORMAIL
			RETURN
		END

END

ERRORMAIL:
DECLARE @MAILMSG VARCHAR(200)='行銷系統客戶等級評分錯誤_期中機車<BR>SP_OBLEVELCARD_HM '+@LIST_NO+'<br>'+@ERR
	EXEC msdb.dbo.sp_send_dbmail @profile_name='SQLADMIN' , @recipients ='PETERLEE@hfcfinance.com.tw' , @subject= '行銷系統客戶等級評分' , @body=@MAILMSG,
		@body_format='HTML'





