USE [OB]
GO
/****** Object:  StoredProcedure [dbo].[USP_OB_OBPOOLDATA]    Script Date: 2026/4/20 下午 02:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/****************************************************************
* Server   : SQYHFC07 
* ERDatabase : OB
* 程式名稱 : USP_OB_OBPOOLDATA
* 系    統 : OB 新電銷系統
* 功    能 : OB 名單撈取POOL資料INSERT
* 撰寫日期 : 2018/11/16
* 撰寫者   : JOAN
* 修改日期 : 2019/01/22 新增必要欄位
* 修改者   : 黃宥嘉
--20220513 MinYann 汽車案件都改為排除>20年，機車不設車齡限制
--20220824 MinYann 因效能問題，改寫成日期25號以後才會異動POOLDATA，否則只新增法催件（POOLDATA_LAW）
--20221123 Rumin 客戶不曾 91.扣回車 92.呆帳 (BUG修正)、改成日期20號以後才會異動POOLDATA
--20231101 Peter 移除本裁案件
--20231219 Peter 併入執行地籍持有資料更新
--20231222 Peter 移除 [非原融營業車專案] 且 [借款人為法人] 且 [非靠行車] 案件，電銷不能承做 (彥蓉)
--20240319 Peter 和泰集團勿行銷名單
--20240626 Peter 原融件高成數借款比例篩選已繳期數比例 單號：AS000000003169
--20240722 Peter 優勢案件以汽車優先，無汽車才派機車、商品 (彥蓉)
--20241231 Peter 排除機車6年(含)以上車齡案件
--20250214 Peter 因微型電動車(電動自行車)無法設定，應視為商品類案件，調整車牌號碼為：電動車
--20251230 Peter 尾付專案即將滿期不分派，改由分期系統後送
*****************************************************************/
	
--EXEC [dbo].[USP_OB_OBPOOLDATA] '20240801'
ALTER PROCEDURE [dbo].[USP_OB_OBPOOLDATA]
(@WORKDT VARCHAR(10)
)
AS
BEGIN


	DECLARE @STR VARCHAR(300)
	DECLARE @EXEC_DT DATETIME 
	DECLARE @DAY INT=DAY(GETDATE())
	IF (ISNULL(@WORKDT,'')='' AND DATEPART(D,GETDATE())<>'01')
	BEGIN 
		SET @WORKDT=LEFT(CONVERT(VARCHAR(10),DATEADD(MONTH,1,GETDATE()),112),6)+'01'
	END
	ELSE BEGIN 
		IF ISNULL(@WORKDT,'')='' SET @WORKDT=CONVERT(VARCHAR(10),GETDATE(),112)
	END
 
	/*
--	SET @STR='STEP1 查出所有有法催案件#TEMP_ARRETURNDF'		SET @EXEC_DT = GETDATE()
	IF OBJECT_ID('tempdb..#TEMP_ARRETURNDF') IS NOT NULL DROP TABLE #TEMP_ARRETURNDF
	SELECT A.CUSTID --JOAN 20190625取客戶ID
	  INTO #TEMP_ARRETURNDF 
	  FROM SQYHFC07.ZZIPPROD.dbo.ARRETURNDF A  WITH(NOLOCK)
	  JOIN SQYHFC07.ZZIPPROD.dbo.APPLNO_M_CRM B  WITH(NOLOCK) ON A.APPL_NO=B.APPL_NO
	 WHERE DELAY_DAY>30 
	UNION 
	SELECT C.CUSTO_NO  --JOAN 20190625取客戶ID
	  FROM SQYHFC07.ZZIPPROD.dbo.ARSTATISMF D  WITH(NOLOCK)
	  JOIN SQYHFC07.ZZIPPROD.dbo.APPLNO_M_CRM C  WITH(NOLOCK) ON C.APPL_NO =D.CONTNO
	 WHERE D.OVERDUE_DAY>30 
	   AND D.ORGNO ='02'	
	--print @STR+space(@len-datalength(@STR))+STR(@@ROWCOUNT,8)+STR(DATEDIFF(millisecond,@EXEC_DT,GETDATE()),8)+'ms'
	*/

	--先抓曾經法催過的(1.)，之後只抓當天進法催的(2.)，table只insert into
	--1.曾經法催過(30天)
	/*	POOLDATA_LAW剛建立裡面沒資料時，第一次在做才要這一段
	INSERT INTO POOLDATA_LAW	
	SELECT DISTINCT CUSTID
	  FROM SQYHFC07.ZZIPPROD.dbo.ARRETURNDF  WITH(NOLOCK)
	 WHERE DELAY_DAY>30 
	*/
	--2.現在剛進法催且不存在table內(若隔天有繳款，日期會變回0)
	INSERT INTO POOLDATA_LAW
	SELECT B.CUSTO_NO
	  --FROM ARSTATISMF A  --20220825 JIMMY
	  FROM CRM..ARSTATISMF A WITH(NOLOCK) 
	  JOIN ZZIPPROD.dbo.APPLNO_M_CRM B WITH(NOLOCK) ON A.CONTNO = B.APPL_NO
	  LEFT JOIN POOLDATA_LAW C WITH(NOLOCK) ON B.CUSTO_NO=C.CUSTO_NO --ON A.CONTNO = C.CUSTO_NO 語法錯誤
	 WHERE A.OVERDUE_DAY>30
	   AND C.CUSTO_NO IS NULL

	--地籍持有資料更新
	--20231219 Peter 由手動執行改為每日執行
	EXEC [dbo].[USP_OB_APMREAL_M]


	-- 20221123 Rumin 改成20號開始更新，因月中~月底 企劃會先設定名單統計案件數量
IF (@DAY BETWEEN 20 AND 31) OR (GETDATE() BETWEEN '20240101' AND '20240106') --惠涼說二月名單要派去一月，所以一月初先滾名單 
	BEGIN
		--SET @STR='STEP2 查出所有案件已繳期數INTO #TEMP02'		--SET @EXEC_DT = GETDATE()
		/* 20220825 JIMMY , 過TEMP TABLE 意義不大,直接改用ARSTATISMF
		IF OBJECT_ID('tempdb..#TEMP02') IS NOT NULL DROP TABLE #TEMP02
		SELECT A.APPL_NO, MAX(A.DEAL_NUM) AS PAYT_NUM
		  INTO #TEMP02 
		  FROM SQYHFC07.ZZIPPROD.dbo.ARRETURNDF A WITH(NOLOCK)
		  --JOIN SQYHFC07.ZZIPPROD.dbo.APPLNO_M_CRM B  WITH(NOLOCK) ON A.APPL_NO=B.APPL_NO
		 WHERE A.ORGNO='02'
		   AND ISNULL(A.PAY_DATE,'')<>''
		   AND A.AR_AMOUNT<=A.PAY_AMOUNT
		 GROUP BY A.APPL_NO
		 */
		 --20220815 不用#TEMP02 , 直接使用ARSTATISMF 替代
		IF OBJECT_ID('tempdb..#CASE_PRE') IS NOT NULL DROP TABLE #CASE_PRE
		SELECT  A.APPL_NO , S.PAYT_TERM AS PAYT_NUM --,S.PAYT_NUM
			--JIMMY : 先把資料抓足,下方INSERT POOLDATA 不用再重複JOIN ARSTATISMF
			,S.PAYT_TERM,S.TERM_AMT,S.NONPAYT_TERM,S.OVERDUE_AMT,S.OVERDUE_DAY,S.LAST_PAYT_DATE,S.User_Name
		  INTO  #CASE_PRE
		  FROM SQYHFC07.ZZIPPROD.dbo.APPLNO_M_CRM  A WITH(NOLOCK)
		  --LEFT JOIN #TEMP02 S  WITH(NOLOCK) ON A.APPL_NO=S.APPL_NO
		  --CRM..ARSTATISMF 有增加催收經辦欄位,不可以用其他DB的ARSTATISMF
		  LEFT JOIN CRM..ARSTATISMF S WITH(NOLOCK)  ON A.APPL_NO=S.CONTNO
		  --LEFT JOIN #TEMP_ARRETURNDF  T WITH(NOLOCK) ON A.CUSTO_NO=T.CUSTID	--20220824 法務件改寫
		  LEFT JOIN POOLDATA_LAW T WITH(NOLOCK) ON A.CUSTO_NO=T.CUSTO_NO	--20220824 法務件改寫
		  INNER JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_BAMCUST_M CUS WITH(NOLOCK) ON A.CUSTO_NO=CUS.CUSTO_NO   
		 WHERE  A.STA_CODE>='05' AND A.STA_CODE<='98'
		  --AND T.CUSTID IS NULL			--非法務件
		  AND T.CUSTO_NO IS NULL			--非法務件	--20220824 法務件改寫
		  AND A.CUST_NAME NOT LIKE '%租賃%' --租賃/計程車件　JASON
		  AND A.CUST_NAME NOT LIKE '%交通%'
		  AND A.CUST_NAME NOT LIKE '%租車%'
		  AND A.NO_DUTY <>'Y'
		  AND CUS.BITBE_DATE >DATEADD(YEAR,-70,@WORKDT)	--<70歲
		  AND LEN(CUS.CELLULAR)=10						--20220725 手機號碼不足10碼的排除
		  AND A.LOAN_CAPITAL>=10000						--20220803 本金大於10000
		  --AND NOT EXISTS(SELECT * FROM  SQYHFC07.ZZIPPROD.dbo.APPLNO_M_CRM WITH(NOLOCK) WHERE  CUSTO_NO =A.CUSTO_NO  AND  (STA_CODE ='91' OR STA_CODE ='92')) --ADD BY JOAN 20140731 客戶有扣回車者也不篩
		  AND A.STA_CODE NOT IN ('91','92')	--20220824 客戶有扣回車者也不篩(改寫)

		 

		--增加名單篩選條件欄位  產品類別/產品分類
		TRUNCATE TABLE OBPOOLDATA;
		INSERT INTO OBPOOLDATA (
					A_PRGID	,A_USERID		,A_SYSDT	,U_PRGID	,U_USERID
					,U_SYSDT	,ORGNO	,APPL_NO	,CUSTO_NO	,CUST_NAME
					,LIC_NO	,STA_CODE_NA	,PROJECT_TP	,SPEC_NO	,SPEC_NAME
					,DEPT_NAME	,PAY_RESOUC_CODE	,BREAK_PCT	,EXTEND_DAY	,PAY_RESOUC
					,COMMUTE	,CYCLE_PAY_NA	,CYCLE_PAY_VAL	,DEAL_NUM	,PRO_RATE
					,B_CASE_IRR	,FIRST_PAY_DT	,FAPCON_DT	,MATURITY_DT	,DEAL_MARK
					,PAY_WAY		,LOAN_TOTAMT	,LOAN_CAPITAL	,LOAN_ODDAMT	,COMMISSION
					,SETTLE_DATE	,LOAN_RATE	,STA_CODE	,OFI_DATE	,DEPT_ID
					,PAY_WAY_NA	,BRNH_NO	,DLR_NO	,[BROKER]	,SALES_NO
					,BROKER_AGENT	,HFS_SALES	,SALES	,AGENT_HEAD_ID	,PROMOTER_DEPT
					,AGENT_ID	,PROMOTER	,BRAND_NO	,BRAND_NAME	,CAR_NAME
					,INQUIRY	,APPROVAL	,MANAGER_LIMIT	,SPEC_MK_NA,SPEC_TYPE_NA
					,ATM_BUSINESS	,NO_DUTY	,YEAR_PRODU	,DLR_NAME	,BRNH_NAME
					,PROJECT_TP_CD	,APPL_DATE	,APMACC_MEMO	,SALES_STS_NA	,SUB_CODE
					,CC_NBR	,THROU_MON	,FUND_SRC	,SECRET_FLG	,RATE_CHOICE
					,PER_INFO	,TIE_DOWN_NUM	,REST_AMT	,OVER_TIE_NUM	,OPEN_CODE
					,EMPLID	,EMPLID_DEPTID	,CASE_TYPE	,HOTAI_AGREE	,CALL_DEPT
					,C_CLASS	,PAYT_NUM	,LIST_TYPE	,PROD_TYPE	,PROD_TYPE_NAME
					,PROD_CLASS	,PROD_CLASS_NAME		,PROD_KIND	,PROD_KIND_NAME	,BEST_CASE
					,ACC_DATE	,ORDER1	,ORDER2	,PAYT_TERM	,TERM_AMT
					,NONPAYT_TERM	,OVERDUE_AMT	,OVERDUE_DAY	,COLL_EMPL	,CAR_MODEL
					,PAY_USER	,PAY_ADD	,FLEET_CAR	,PROMOTER_TEL	,SALES_TEL
					,MEMO1	,CASEYEAR	,OB_DEPT	,OB_EMPLID	,LAST_PAY_DATE
					,MONTH_CNT	,YEAR_CNT	,SETTLE_SRC	,SPEC_TP	,CUS_LEVEL)--20230920 Peter 改表列
		   SELECT 'OBPOOLDATA'
				  ,'BATCH'
				  ,GETDATE()
				  ,'OBPOOLDATA'
				  ,'BATCH'
				  ,GETDATE()
				  --A.*,	20230920 Peter 改表列
				,A.ORGNO	,A.APPL_NO	,A.CUSTO_NO	,A.CUST_NAME	,A.LIC_NO
				,A.STA_CODE_NA	,A.PROJECT_TP	,A.SPEC_NO	,A.SPEC_NAME	,A.DEPT_NAME
				,A.PAY_RESOUC_CODE		,A.BREAK_PCT	,A.EXTEND_DAY	,A.PAY_RESOUC	,A.COMMUTE
				,A.CYCLE_PAY_NA	,A.CYCLE_PAY_VAL	,A.DEAL_NUM	,A.PRO_RATE	,A.B_CASE_IRR
				,A.FIRST_PAY_DT	,A.FAPCON_DT	,A.MATURITY_DT	,A.DEAL_MARK	,A.PAY_WAY
				,A.LOAN_TOTAMT	,A.LOAN_CAPITAL	,A.LOAN_ODDAMT	,A.COMMISSION	,A.SETTLE_DATE
				,A.LOAN_RATE	,A.STA_CODE	,A.OFI_DATE	,A.DEPT_ID	,A.PAY_WAY_NA
				,A.BRNH_NO	,A.DLR_NO	,A.[BROKER]	,A.SALES_NO	,A.BROKER_AGENT
				,A.HFS_SALES	,A.SALES	,A.AGENT_HEAD_ID	,A.PROMOTER_DEPT	,A.AGENT_ID
				,A.PROMOTER	,A.BRAND_NO	,A.BRAND_NAME	,A.CAR_NAME	,A.INQUIRY
				,A.APPROVAL		,A.MANAGER_LIMIT	,A.SPEC_MK_NA	,A.SPEC_TYPE_NA	,A.ATM_BUSINESS
				,A.NO_DUTY		,A.YEAR_PRODU	,A.DLR_NAME	,A.BRNH_NAME	,A.PROJECT_TP_CD
				,A.APPL_DATE	,A.APMACC_MEMO	,A.SALES_STS_NA	,A.SUB_CODE	,A.CC_NBR
				,A.THROU_MON	,A.FUND_SRC	,A.SECRET_FLG	,A.RATE_CHOICE	,A.PER_INFO
				,A.TIE_DOWN_NUM	,A.REST_AMT	,A.OVER_TIE_NUM	,A.OPEN_CODE	,A.EMPLID
				,A.EMPLID_DEPTID	,A.CASE_TYPE	,A.HOTAI_AGREE	,A.CALL_DEPT	,A.C_CLASS
				  ,B.PAYT_NUM,
				  CASE
					  WHEN A.STA_CODE >= '05'
						   AND A.STA_CODE <= '89'
						 --  AND DATEDIFF(MONTH, GETDATE(), MATURITY_DT) > 1
						 --AND DATEDIFF(MONTH, @WORKDT, MATURITY_DT) > 1
						--	AND (DATEDIFF(MONTH, @WORKDT, MATURITY_DT) > 0  --UPD BY JOAN 20191001 
						--	  OR (CAST(A.DEAL_NUM AS INT)- ISNULL(CAST(B.PAYT_NUM AS INT),0)) >1)
						--提前一個月納入即將滿期
							AND (DATEDIFF(MONTH, @WORKDT, A.MATURITY_DT) > 1   
							  OR (CAST(A.DEAL_NUM AS INT)- ISNULL(CAST(B.PAYT_NUM AS INT),0)) >2) --兩期以上未繳
					  THEN '01'  --期中&非當月滿期
					  WHEN A.STA_CODE = '98'
					  THEN '02' --中結
					  WHEN A.STA_CODE >= '05'
						   AND A.STA_CODE <= '89'
						   --AND DATEDIFF(MONTH, GETDATE(), MATURITY_DT) <= 1
						   --AND DATEDIFF(MONTH, @WORKDT, MATURITY_DT) <= 1
						   --AND DATEDIFF(MONTH, @WORKDT, MATURITY_DT) <= 0
						   --AND A.DEAL_NUM - ISNULL(B.PAYT_NUM,0) <=1  --至少超過一期未繳  --ADD BY JOAN 20191002
						   --提前一個月納入即將滿期
						   AND DATEDIFF(MONTH,@WORKDT,A.MATURITY_DT) <=1
						   AND A.DEAL_NUM - ISNULL(B.PAYT_NUM,0) <=2 --兩期以下未繳
					  THEN '03'  --期中&當月滿期
					  WHEN A.STA_CODE = '90'
					  THEN '04' --滿期
					ELSE ''
					END AS LIST_TYPE, --名單類別 
				  D.PROD_TYPE, --產品分類 
				  O.TBL_DESC1 PROD_TYPE_NAME, --產品分類名稱 
				  D_FT.PROD_CLASS,
				  CLASS_NM.TBL_DESC1 AS PROD_CLASS_NAME, --20150311 Owen 	商品類別    
				  CASE
					  WHEN D.PROD_TYPE IN('01', '02', '03', '04', '05', '42')
					  THEN '01'  --汽車
					  WHEN D.PROD_TYPE IN('51', '76')
						   OR CLASS_NM.TBL_VAL3 NOT IN('A', 'B')
					  THEN '03' --一般商品
					  WHEN CLASS_NM.TBL_VAL3 IN('A', 'B') OR A.CASE_TYPE='03'
					  THEN '02'  --機車
										ELSE ''
										END AS PROD_KIND, --產品類別
				  CASE
					  WHEN D.PROD_TYPE IN('01', '02', '03', '04', '05', '42')
					  THEN '汽車'  --汽車
					  WHEN D.PROD_TYPE IN('51', '76')
						   OR CLASS_NM.TBL_VAL3 NOT IN('A', 'B')
					  THEN '一般商品' --一般商品
					  WHEN CLASS_NM.TBL_VAL3 IN('A', 'B') OR A.CASE_TYPE='03'
					  THEN '機車'  --機車
											   ELSE ''
											   END AS PROD_KIND_NAME, --產品類別 
				  '' AS BEST_CASE,		--優勢案件
				  E.ACC_DATE AS ACC_DATE, --結清日 
				  NULL AS ORDER1,			--順序1
				  NULL AS ORDER2,			--順序2
				  CASE WHEN  A.STA_CODE = '05' THEN  ISNULL(B.PAYT_TERM ,0) ELSE B.PAYT_TERM END  AS PAYT_TERM,	--已繳期數
				  B.TERM_AMT AS TERM_AMT,	--
				  B.NONPAYT_TERM AS NONPAYT_TERM,	--未繳期數
				  B.OVERDUE_AMT AS OVERDUE_AMT,		--逾期金額
				  B.OVERDUE_DAY AS OVERDUE_DAY,		--逾期天數
				  B.User_Name AS COLL_EMPL,			--催收經辦 ???
				  APP.CAR_MODEL AS CAR_MODEL,			--車型
				  APP.PAY_USER AS PAY_USER,				--匯款單收件人
				  APP.PAY_ADD AS PAY_ADD,				--匯款單寄件地址
				  APM.FLEET_CAR AS FLEET_CAR,			--靠行註記
					   CASE RTRIM(ISNULL(D_CRM.CELL_PHONE, ''))
						   WHEN ''
						   THEN CASE RTRIM(ISNULL(D_CRM.CTEL_NO1, ''))
									WHEN ''
									THEN CASE RTRIM(ISNULL(D_CRM.CTEL_NO2, ''))
											 WHEN ''
											 THEN '無資料'
										 ELSE RTRIM(ISNULL(D_CRM.CAREA_NO2, ''))+'-'+RTRIM(ISNULL(D_CRM.CTEL_NO2, ''))+'-'+RTRIM(ISNULL(D_CRM.CEXTEN_NO2, ''))
										 END
								ELSE RTRIM(ISNULL(D_CRM.CAREA_NO1, ''))+'-'+RTRIM(ISNULL(D_CRM.CTEL_NO1, ''))+'-'+RTRIM(ISNULL(D_CRM.CEXTEN_NO1, ''))
								END
												 ELSE RTRIM(ISNULL(D_CRM.CELL_PHONE, ''))
												 END AS 'PROMOTER_TEL', --承辦人電話  AS '承辦人電話',
					   CASE RTRIM(ISNULL(C.TEL_NO3, ''))
						   WHEN ''
						   THEN CASE RTRIM(ISNULL(C.CTEL_NO1, ''))
									WHEN ''
									THEN CASE RTRIM(ISNULL(C.CTEL_NO2, ''))
											 WHEN ''
											 THEN '無資料'
										 ELSE RTRIM(ISNULL(C.CAREA_NO2, ''))+'-'+RTRIM(ISNULL(C.CTEL_NO2, ''))+'-'+RTRIM(ISNULL(C.CEXTEN_NO2, ''))
										 END
								ELSE RTRIM(ISNULL(C.CAREA_NO1, ''))+'-'+RTRIM(ISNULL(C.CTEL_NO1, ''))+'-'+RTRIM(ISNULL(C.CEXTEN_NO1, ''))
								END
						 ELSE RTRIM(ISNULL(C.TEL_NO3, ''))
						 END AS 'SALES_TEL', --, AS '分期業代電話',
			   '' AS MEMO1,
			   CASEYEAR		= CASE WHEN ISNULL(YEAR(A.APPL_DATE),'')='' THEN '' ELSE CAST(YEAR(A.APPL_DATE) as varchar) END	--案件年份
			   ,NULL
			   ,NULL
			   ,B.LAST_PAYT_DATE  AS LAST_PAYT_DATE--上次繳款日(滿期的最後一次繳款日)
			   ,NULL  --進件月數/中結月數/滿期月數   期中指繳款期數/中結後距今幾個月/滿期後距今幾個月
			   ,NULL
			   ,'N'
			   ,D.SPEC_TP --專案類別 
			   ,NULL
		   FROM SQYHFC07.ZZIPPROD.dbo.APPLNO_M_CRM A WITH (NOLOCK)
				JOIN #CASE_PRE B WITH (NOLOCK) ON A.APPL_NO = B.APPL_NO
				JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_APMAPPL_M D WITH (NOLOCK) ON A.APPL_NO = D.APPL_NO
				LEFT JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_MIMENDS_M E WITH (NOLOCK) ON A.APPL_NO = E.APPL_NO
				LEFT JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_BAMCODE_D O WITH (NOLOCK) ON D.PROD_TYPE = O.TBL_CD
																				  AND O.TBL_ID = 'T1'
																				  AND O.SYSTEM_ID = 'IP'
				LEFT JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_BADBUSI_D_FT D_FT WITH (NOLOCK) ON D.DLR_NO = D_FT.DLR_NO
																						AND D.BRNH_NO = D_FT.BRNH_NO --AND D_FT.PROD_CLASS IN ('01', '10')
				LEFT JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_BAMCODE_D CLASS_NM WITH (NOLOCK) ON D_FT.PROD_CLASS = CLASS_NM.TBL_CD
																						 AND CLASS_NM.TBL_ID = 'V2'
				--LEFT JOIN SQYHFC07.CRM.dbo.ARSTATISMF AS AR_ST WITH (NOLOCK) ON B.APPL_NO = AR_ST.CONTNO
				LEFT JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_APMAPPL_M AS APP WITH (NOLOCK) ON A.APPL_NO = APP.APPL_NO
				LEFT JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_APMAPPL_EX AS APM WITH (NOLOCK) ON A.APPL_NO = APM.APPL_NO
				LEFT JOIN SQYHFC07.CRM.dbo.BAMSALE_M_CRM AS C WITH (NOLOCK) ON A.SALES_NO = C.SALES_NO
				LEFT JOIN SQYHFC07.CRM.dbo.BADBUSI_D_CRM AS D_CRM WITH (NOLOCK) ON D_CRM.BRNH_NO = D.BRNH_NO
																		AND D_CRM.DLR_NO = D.DLR_NO
		   WHERE D.PROD_TYPE NOT IN('11', '12')
			 AND SUBSTRING(A.APPL_NO, 3, 1)<>'2'
	   
		   --20220308 MinYann 加入機車分期
		   INSERT INTO OBPOOLDATA(
					A_PRGID	,A_USERID		,A_SYSDT	,U_PRGID	,U_USERID
					,U_SYSDT	,ORGNO	,APPL_NO	,CUSTO_NO	,CUST_NAME
					,LIC_NO	,STA_CODE_NA	,PROJECT_TP	,SPEC_NO	,SPEC_NAME
					,DEPT_NAME	,PAY_RESOUC_CODE	,BREAK_PCT	,EXTEND_DAY	,PAY_RESOUC
					,COMMUTE	,CYCLE_PAY_NA	,CYCLE_PAY_VAL	,DEAL_NUM	,PRO_RATE
					,B_CASE_IRR	,FIRST_PAY_DT	,FAPCON_DT	,MATURITY_DT	,DEAL_MARK
					,PAY_WAY		,LOAN_TOTAMT	,LOAN_CAPITAL	,LOAN_ODDAMT	,COMMISSION
					,SETTLE_DATE	,LOAN_RATE	,STA_CODE	,OFI_DATE	,DEPT_ID
					,PAY_WAY_NA	,BRNH_NO	,DLR_NO	,[BROKER]	,SALES_NO
					,BROKER_AGENT	,HFS_SALES	,SALES	,AGENT_HEAD_ID	,PROMOTER_DEPT
					,AGENT_ID	,PROMOTER	,BRAND_NO	,BRAND_NAME	,CAR_NAME
					,INQUIRY	,APPROVAL	,MANAGER_LIMIT	,SPEC_MK_NA,SPEC_TYPE_NA
					,ATM_BUSINESS	,NO_DUTY	,YEAR_PRODU	,DLR_NAME	,BRNH_NAME
					,PROJECT_TP_CD	,APPL_DATE	,APMACC_MEMO	,SALES_STS_NA	,SUB_CODE
					,CC_NBR	,THROU_MON	,FUND_SRC	,SECRET_FLG	,RATE_CHOICE
					,PER_INFO	,TIE_DOWN_NUM	,REST_AMT	,OVER_TIE_NUM	,OPEN_CODE
					,EMPLID	,EMPLID_DEPTID	,CASE_TYPE	,HOTAI_AGREE	,CALL_DEPT
					,C_CLASS	,PAYT_NUM	,LIST_TYPE	,PROD_TYPE	,PROD_TYPE_NAME
					,PROD_CLASS	,PROD_CLASS_NAME		,PROD_KIND	,PROD_KIND_NAME	,BEST_CASE
					,ACC_DATE	,ORDER1	,ORDER2	,PAYT_TERM	,TERM_AMT
					,NONPAYT_TERM	,OVERDUE_AMT	,OVERDUE_DAY	,COLL_EMPL	,CAR_MODEL
					,PAY_USER	,PAY_ADD	,FLEET_CAR	,PROMOTER_TEL	,SALES_TEL
					,MEMO1	,CASEYEAR	,OB_DEPT	,OB_EMPLID	,LAST_PAY_DATE
					,MONTH_CNT	,YEAR_CNT	,SETTLE_SRC	,SPEC_TP	,CUS_LEVEL)--20230920 Peter 改表列
		   SELECT 'OBPOOLDATA'
				  ,'BATCH'
				  ,GETDATE()
				  ,'OBPOOLDATA'
				  ,'BATCH'
				  ,GETDATE()
				  --A.*,	20230920 Peter 改表列
				,A.ORGNO	,A.APPL_NO	,A.CUSTO_NO	,A.CUST_NAME	,A.LIC_NO
				,A.STA_CODE_NA	,A.PROJECT_TP	,A.SPEC_NO	,A.SPEC_NAME	,A.DEPT_NAME
				,A.PAY_RESOUC_CODE		,A.BREAK_PCT	,A.EXTEND_DAY	,A.PAY_RESOUC	,A.COMMUTE
				,A.CYCLE_PAY_NA	,A.CYCLE_PAY_VAL	,A.DEAL_NUM	,A.PRO_RATE	,A.B_CASE_IRR
				,A.FIRST_PAY_DT	,A.FAPCON_DT	,A.MATURITY_DT	,A.DEAL_MARK	,A.PAY_WAY
				,A.LOAN_TOTAMT	,A.LOAN_CAPITAL	,A.LOAN_ODDAMT	,A.COMMISSION	,A.SETTLE_DATE
				,A.LOAN_RATE	,A.STA_CODE	,A.OFI_DATE	,A.DEPT_ID	,A.PAY_WAY_NA
				,A.BRNH_NO	,A.DLR_NO	,A.[BROKER]	,A.SALES_NO	,A.BROKER_AGENT
				,A.HFS_SALES	,A.SALES	,A.AGENT_HEAD_ID	,A.PROMOTER_DEPT	,A.AGENT_ID
				,A.PROMOTER	,A.BRAND_NO	,A.BRAND_NAME	,A.CAR_NAME	,A.INQUIRY
				,A.APPROVAL		,A.MANAGER_LIMIT	,A.SPEC_MK_NA	,A.SPEC_TYPE_NA	,A.ATM_BUSINESS
				,A.NO_DUTY		,A.YEAR_PRODU	,A.DLR_NAME	,A.BRNH_NAME	,A.PROJECT_TP_CD
				,A.APPL_DATE	,A.APMACC_MEMO	,A.SALES_STS_NA	,A.SUB_CODE	,A.CC_NBR
				,A.THROU_MON	,A.FUND_SRC	,A.SECRET_FLG	,A.RATE_CHOICE	,A.PER_INFO
				,A.TIE_DOWN_NUM	,A.REST_AMT	,A.OVER_TIE_NUM	,A.OPEN_CODE	,A.EMPLID
				,A.EMPLID_DEPTID	,A.CASE_TYPE	,A.HOTAI_AGREE	,A.CALL_DEPT	,A.C_CLASS
				  ,B.PAYT_NUM
				  ,CASE
					  WHEN A.STA_CODE >= '05'
						   AND A.STA_CODE <= '89'
						 --  AND DATEDIFF(MONTH, GETDATE(), MATURITY_DT) > 1
						 --AND DATEDIFF(MONTH, @WORKDT, MATURITY_DT) > 1
							AND (DATEDIFF(MONTH, @WORKDT, A.MATURITY_DT) > 0  --UPD BY JOAN 20191001 
							  OR (CAST(A.DEAL_NUM AS INT)- ISNULL(CAST(B.PAYT_NUM AS INT),0)) >1)
							--提前一個月納入即將滿期
							AND (DATEDIFF(MONTH, @WORKDT, A.MATURITY_DT) > 1   
							  OR (CAST(A.DEAL_NUM AS INT)- ISNULL(CAST(B.PAYT_NUM AS INT),0)) >2) --兩期以上未繳
					  THEN '01'  --期中&非當月滿期
					  WHEN A.STA_CODE = '98'
					  THEN '02' --中結
					  WHEN A.STA_CODE >= '05'
						   AND A.STA_CODE <= '89'
						   --AND DATEDIFF(MONTH, GETDATE(), MATURITY_DT) <= 1
						   --AND DATEDIFF(MONTH, @WORKDT, MATURITY_DT) <= 1
							-- AND DATEDIFF(MONTH, @WORKDT, A.MATURITY_DT) <= 0
							-- AND A.DEAL_NUM - ISNULL(B.PAYT_NUM,0) <=1  --至少超過一期未繳  --ADD BY JOAN 20191002
						  --提前一個月納入即將滿期
						   AND DATEDIFF(MONTH,@WORKDT,A.MATURITY_DT) <=1
						   AND A.DEAL_NUM - ISNULL(B.PAYT_NUM,0) <=2 --兩期以下未繳
					  THEN '03'  --期中&當月滿期
					  WHEN A.STA_CODE = '90'
					  THEN '04' --滿期
					ELSE ''
					END AS LIST_TYPE, --名單類別 
				  D.PROD_TYPE, --產品分類 
				  O.TBL_DESC1 PROD_TYPE_NAME, --產品分類名稱 
				  D_FT.PROD_CLASS,
				  CLASS_NM.TBL_DESC1 AS PROD_CLASS_NAME, --20150311 Owen 	商品類別    
				  CASE
					  WHEN D.PROD_TYPE IN ('75')
					  THEN '02'  --機車
					  WHEN D.PROD_TYPE IN ('51', '76')
					  THEN '03' --一般商品
										ELSE ''
										END AS PROD_KIND, --產品類別
				  CASE
					  WHEN D.PROD_TYPE IN ('75')
					  THEN '機車'  --機車
					  WHEN D.PROD_TYPE IN ('51', '76')
					  THEN '一般商品' --一般商品
											   ELSE ''
											   END AS PROD_KIND_NAME, --產品類別 
				  '' AS BEST_CASE,		--優勢案件
				  E.ACC_DATE AS ACC_DATE, --結清日 
				  NULL AS ORDER1,			--順序1
				  NULL AS ORDER2,			--順序2
				  CASE WHEN  A.STA_CODE = '05' THEN  ISNULL(B.PAYT_TERM ,0) ELSE B.PAYT_TERM END  AS PAYT_TERM,	--已繳期數
				  B.TERM_AMT AS TERM_AMT,	--
				  B.NONPAYT_TERM AS NONPAYT_TERM,	--未繳期數
				  B.OVERDUE_AMT AS OVERDUE_AMT,		--逾期金額
				  B.OVERDUE_DAY AS OVERDUE_DAY,		--逾期天數
				  B.User_Name AS COLL_EMPL,			--催收經辦
				  APP.CAR_MODEL AS CAR_MODEL,			--車型
				  APP.PAY_USER AS PAY_USER,				--匯款單收件人
				  APP.PAY_ADD AS PAY_ADD,				--匯款單寄件地址
				  APM.FLEET_CAR AS FLEET_CAR,			--靠行註記
					   CASE RTRIM(ISNULL(D_CRM.CELL_PHONE, ''))
						   WHEN ''
						   THEN CASE RTRIM(ISNULL(D_CRM.CTEL_NO1, ''))
									WHEN ''
									THEN CASE RTRIM(ISNULL(D_CRM.CTEL_NO2, ''))
											 WHEN ''
											 THEN '無資料'
										 ELSE RTRIM(ISNULL(D_CRM.CAREA_NO2, ''))+'-'+RTRIM(ISNULL(D_CRM.CTEL_NO2, ''))+'-'+RTRIM(ISNULL(D_CRM.CEXTEN_NO2, ''))
										 END
								ELSE RTRIM(ISNULL(D_CRM.CAREA_NO1, ''))+'-'+RTRIM(ISNULL(D_CRM.CTEL_NO1, ''))+'-'+RTRIM(ISNULL(D_CRM.CEXTEN_NO1, ''))
								END
												 ELSE RTRIM(ISNULL(D_CRM.CELL_PHONE, ''))
												 END AS 'PROMOTER_TEL', --承辦人電話  AS '承辦人電話',
					   CASE RTRIM(ISNULL(C.TEL_NO3, ''))
						   WHEN ''
						   THEN CASE RTRIM(ISNULL(C.CTEL_NO1, ''))
									WHEN ''
									THEN CASE RTRIM(ISNULL(C.CTEL_NO2, ''))
											 WHEN ''
											 THEN '無資料'
										 ELSE RTRIM(ISNULL(C.CAREA_NO2, ''))+'-'+RTRIM(ISNULL(C.CTEL_NO2, ''))+'-'+RTRIM(ISNULL(C.CEXTEN_NO2, ''))
										 END
								ELSE RTRIM(ISNULL(C.CAREA_NO1, ''))+'-'+RTRIM(ISNULL(C.CTEL_NO1, ''))+'-'+RTRIM(ISNULL(C.CEXTEN_NO1, ''))
								END
						 ELSE RTRIM(ISNULL(C.TEL_NO3, ''))
						 END AS 'SALES_TEL', --, AS '分期業代電話',
			   '' AS MEMO1,
			   CASEYEAR		= CASE WHEN ISNULL(YEAR(A.APPL_DATE),'')='' THEN '' ELSE CAST(YEAR(A.APPL_DATE) as varchar) END	--案件年份
			   ,NULL
			   ,NULL
			   ,B.LAST_PAYT_DATE  AS LAST_PAYT_DATE--上次繳款日(滿期的最後一次繳款日)
			   ,NULL  --進件月數/中結月數/滿期月數   期中指繳款期數/中結後距今幾個月/滿期後距今幾個月
			   ,NULL
			   ,'N'
			   ,D.SPEC_TP --專案類別 
			   ,NULL
		   FROM SQYHFC07.ZZIPPROD.dbo.APPLNO_M_CRM A WITH (NOLOCK)
				JOIN #CASE_PRE B WITH (NOLOCK) ON A.APPL_NO = B.APPL_NO
				JOIN SQYHFC07.GTS.dbo.ZZIP_APMAPPL_M D WITH (NOLOCK) ON A.APPL_NO = D.APPL_NO
				LEFT JOIN SQYHFC07.GTS.dbo.ZZIP_MIMENDS_M E WITH (NOLOCK) ON A.APPL_NO = E.APPL_NO
				LEFT JOIN SQYHFC07.GTS.dbo.ZZIP_BAMCODE_D O WITH (NOLOCK) ON D.PROD_TYPE = O.TBL_CD
																				  AND O.TBL_ID = 'T1'
																				  AND O.SYSTEM_ID = 'GT'
				LEFT JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_BADBUSI_D_FT D_FT WITH (NOLOCK) ON D.DLR_NO = D_FT.DLR_NO
																						AND D.BRNH_NO = D_FT.BRNH_NO --AND D_FT.PROD_CLASS IN ('01', '10')
				LEFT JOIN SQYHFC07.GTS.dbo.ZZIP_BAMCODE_D CLASS_NM WITH (NOLOCK) ON D_FT.PROD_CLASS = CLASS_NM.TBL_CD
																						 AND CLASS_NM.TBL_ID = 'V2'
																						 AND CLASS_NM.SYSTEM_ID='GT'
				--LEFT JOIN SQYHFC07.CRM.dbo.ARSTATISMF AS AR_ST WITH (NOLOCK) ON B.APPL_NO = AR_ST.CONTNO
				LEFT JOIN SQYHFC07.GTS.dbo.ZZIP_APMAPPL_M AS APP WITH (NOLOCK) ON A.APPL_NO = APP.APPL_NO
				LEFT JOIN SQYHFC07.GTS.dbo.ZZIP_APMAPPL_EX AS APM WITH (NOLOCK) ON A.APPL_NO = APM.APPL_NO
				LEFT JOIN SQYHFC07.CRM.dbo.BAMSALE_M_CRM AS C WITH (NOLOCK) ON A.SALES_NO = C.SALES_NO
				LEFT JOIN SQYHFC07.CRM.dbo.BADBUSI_D_CRM AS D_CRM WITH (NOLOCK) ON D_CRM.BRNH_NO = D.BRNH_NO
																		AND D_CRM.DLR_NO = D.DLR_NO
				LEFT JOIN OBPOOLDATA AS POOLDATA WITH(NOLOCK) ON D.APPL_NO=POOLDATA.APPL_NO
		   WHERE D.PROD_TYPE NOT IN ('11', '12')
			 AND POOLDATA.APPL_NO IS NULL	--不存在現有pool內

			--20250217 Peter 微型電動機車視為商品類案件(彥蓉)
			UPDATE OBPOOLDATA
			SET PROD_KIND='03'
					,PROD_KIND_NAME = '一般商品'
			WHERE	LIC_NO='電動車'
					AND PROD_KIND='02'


			--ADD BY JOAN 20190911 靜華新增專案   期中、中結5年以內、滿期5年以內名單車齡年限   本牌及雙B車齡延長至20年 /  非本牌及非雙B車齡延長至17年
			--原五年以以上 開放15年照舊 SP_INFOT_ASSIGNEXPORTNAMELIST_st1_list處理
			--(先把年份非數字、非null且非空白者，更新為null)(有的資料打Q或\造成報錯)
			update OBPOOLDATA set YEAR_PRODU=null WHERE YEAR_PRODU NOT LIKE '%[0-9]%' AND YEAR_PRODU IS NOT NULL AND YEAR_PRODU<>''
		
			/* 汽機車案件排除條件 20220513 註記掉
			delete from OBPOOLDATA WHERE PROD_KIND='01' AND ISNULL(YEAR_PRODU,'1900')<DATEPART(YEAR,@WORKDT)-20 AND ISNULL(BRAND_NAME,'X')  IN ('TOYOTA','LEXUS','BMW','M-BENZ')
			delete from OBPOOLDATA WHERE PROD_KIND='01' AND ISNULL(YEAR_PRODU,'1900')<DATEPART(YEAR,@WORKDT)-17 AND ISNULL(BRAND_NAME,'X') NOT IN ('TOYOTA','LEXUS','BMW','M-BENZ')
			--機車案件去掉車齡>7
			--delete from OBPOOLDATA WHERE PROD_KIND='02' AND ISNULL(YEAR_PRODU,'1900') < DATEPART(YEAR,@WORKDT) - 7
			*/

			--20220513 MinYann 汽車案件都改為排除>20年，機車不設車齡限制
			delete from OBPOOLDATA WHERE PROD_KIND='01' AND ISNULL(YEAR_PRODU,'1900')<DATEPART(YEAR,@WORKDT)-20 
			--20241231 Peter 機車案件排除>5年
			delete from OBPOOLDATA WHERE PROD_KIND='02' AND ISNULL(YEAR_PRODU,'1900')<DATEPART(YEAR,@WORKDT)-5


		  UPDATE OBPOOLDATA
			 SET PAYT_NUM = 0,
	　			 PAYT_TERM = 0
		   WHERE STA_CODE='05' AND PAYT_NUM IS NULL

		--去勿行銷   CRM+OB
		IF OBJECT_ID('tempdb..#TMP_OBOUT') IS NOT NULL DROP TABLE #TMP_OBOUT
		CREATE TABLE #TMP_OBOUT (CUSTID	VARCHAR(20)	,CNTRNO	VARCHAR(20)	,ATTRIBCD VARCHAR(2))	
		INSERT INTO #TMP_OBOUT 
			EXEC dbo.SP_GET_CUSTATTRIB_OB '','03','18'
		INSERT INTO #TMP_OBOUT 
			EXEC dbo.SP_GET_CUSTATTRIB_OB '','03','31'

		/*
		--勿行銷的欄位@電話行銷系統 2018/11/16
		INSERT INTO #TMP_OBOUT (CUSTID)
		SELECT B.CUSTO_NO
		FROM SQYHFC10.OB.dbo.tblExtContactData AS TB_A WITH (NOLOCK)
		JOIN SQYHFC07.ZZIPPROD.dbo.APPLNO_M_CRM B WITH (NOLOCK) ON TB_A.ExtendField01=B.APPL_NO
		WHERE TB_A.IsBlack = 'Y'
		UNION 
		*/

		--20211029 MinYann CRM勿行銷
		INSERT INTO #TMP_OBOUT (CUSTID)
		SELECT DISTINCT
			   CUSTID
		FROM CRM..CRMSRVREC WITH (NOLOCK)
		WHERE BIZTYPE = '03'
		AND ((SRVTYPE = '18' AND RECRESULT IN('11'))
			OR SRVTYPE = '31')	--增加'31'勿行銷(JOAN) Add By Eric 20190308
	
		----20211029 MinYann OB勿行銷
		--INSERT INTO #TMP_OBOUT (CUSTID)
		--SELECT DISTINCT B.CUSTO_NO
		--  FROM OBCASE_RESULT A
		--  JOIN OBCASE_LIST B ON A.APPL_NO=B.APPL_NO
		-- WHERE RESULT_ID=2 AND RESULT_ITEM=2	--電話空號/勿行銷

		--20251012 Peter 新版勿行銷
		INSERT INTO #TMP_OBOUT(CUSTID)
		SELECT DISTINCT  onma.CUSTO_NO
		FROM OBCUST_NO_MKT_ARCHIVE onma --舊邏輯建立的勿行銷清單

		INSERT INTO #TMP_OBOUT(CUSTID)
		SELECT DISTINCT  onm.CUSTO_NO --新版電銷勿行銷主檔
		FROM OBCUST_NO_MKT onm
		WHERE @WORKDT BETWEEN onm.START_DATE AND onm.END_DATE


		--20221123 Rumin 曾經91.扣回車 92.呆帳的客戶
		INSERT INTO #TMP_OBOUT (CUSTID)
		SELECT DISTINCT A.CUSTO_NO
		  FROM SQYHFC07.ZZIPPROD.dbo.APPLNO_M_CRM A WITH(NOLOCK)
		 WHERE A.STA_CODE IN ('91','92')

		 --20240319 Peter 移除和泰集團主管名單
		 INSERT INTO #TMP_OBOUT(CUSTID)
		 SELECT CUSTO_NO FROM HOTAI_CO_NOMKT WITH(NOLOCK)

		DELETE FROM OBPOOLDATA WHERE CUSTO_NO IN	(SELECT DISTINCT CUSTID  FROM #TMP_OBOUT)	

		--20231101 Peter 移除曾經產生本裁案件
		DELETE A 
		FROM OBPOOLDATA A
		JOIN CS..LAW_PLAINT PL WITH(NOLOCK) ON A.APPL_NO = PL.CASE_NO

		--無法承作/客戶資料有誤案件 案件去除@電話行銷系統 20190517 靜華
		 DELETE FROM OBPOOLDATA 
		 WHERE APPL_NO IN (	SELECT DISTINCT
			   CNTRNO
		FROM CRM..CRMSRVREC WITH (NOLOCK)
		WHERE BIZTYPE = '03'
		AND (SRVTYPE = '18' AND RECRESULT IN('12','7'))	)--7客戶資料有誤  /12無法承作
		
		--20231226 Peter 排除條件 案件為：[營業車(非原融)] 且 [借款人為法人] 且 [非靠行車輛] 電銷人員無法承作  (企劃彥蓉)
		 DELETE FROM OBPOOLDATA
		  where 1=1 
		  AND ISNUMERIC(CUSTO_NO)=1						--法人
		  AND PROJECT_TP_CD IN ('03','05','13','15')	--03:本牌營業車 05:本牌中古營業車 13:他牌營業車 15:他牌中古營業車 若為原融或原融代償營業車則可以承做
		  AND ISNULL(FLEET_CAR, '') <> '1'					--非靠行車
		  


		UPDATE OBPOOLDATA
		SET ACC_DATE=MATURITY_DT
		WHERE ACC_DATE IS NULL 

		--去掉近三個月有進件的客戶
		IF OBJECT_ID('tempdb..#CUST') IS NOT NULL DROP TABLE #CUST
		SELECT CUSTO_NO 
		INTO #CUST
		FROM  SQYHFC07.ZZIPPROD.dbo.ZZIP_APMAPPL_M A WITH(NOLOCK)
				--JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_PAYCONF_M B WITH(NOLOCK) ON A.APPL_NO=B.APPL_NO
		WHERE A.APPL_DATE >=DATEADD(MONTH,-3,@WORKDT)


		DELETE P
		FROM OBPOOLDATA P
		JOIN #CUST APP ON P.CUSTO_NO=APP.CUSTO_NO

		
		IF OBJECT_ID('tempdb.dbo.#TMP_LIC','U') is not null drop table #TMP_LIC

		SELECT *
		INTO #TMP_LIC
		FROM OBPOOLDATA WHERE LIC_NO IN (
		SELECT LIC_NO FROM OBPOOLDATA WHERE STA_CODE>='90' AND STA_CODE<'99')
		AND STA_CODE<'90' --已終結滿期有進件車號


		DECLARE @MIN_DEAL INT --名單開始期數 ,依設定檔
		SELECT TOP 1 @MIN_DEAL=TBL_DESC1 FROM [dbo].[OBMCODEDF] WHERE SYSTEM_ID ='OB' AND TBL_ID='04'
		PRINT @MIN_DEAL
		IF ISNULL(@MIN_DEAL,'')=''  SET @MIN_DEAL= 0 


		DECLARE @BREAK_NUM INT --名單間格期數 ,依設定檔
		SELECT TOP 1 @BREAK_NUM =TBL_DESC1 FROM [dbo].[OBMCODEDF] WHERE SYSTEM_ID ='OB' AND TBL_ID='05'
		PRINT @BREAK_NUM
		IF ISNULL(@BREAK_NUM,'')=''  SET @BREAK_NUM= 4 

		
		--20240523 優勢案件改先篩選同借款人同車號
		IF OBJECT_ID('tempdb.dbo.#latest_cases','U') is not null DROP TABLE #latest_cases
		--有車號案件取最新一案
		;with cte as (select APPL_NO,APPL_DATE,CUSTO_NO,LIC_NO
		,ROW_NUMBER() over (PARTITION by CUSTO_NO,LIC_NO order by FAPCON_DT desc,APPL_DATE desc ) rowno
		from OBPOOLDATA with (nolock)
		where isnull(LIC_NO,'')<>'')
		select a.*  into #latest_cases
		from OBPOOLDATA a with(nolock)
		join cte on cte.APPL_NO=a.APPL_NO
		and cte.CUSTO_NO=a.CUSTO_NO
		where cte.rowno=1

		--無車號補入
		insert #latest_cases
		select * from OBPOOLDATA with (nolock)
		where isnull(LIC_NO,'')=''

	
		--最佳優勢案件篩選
		IF OBJECT_ID('tempdb..#ORDER') IS NOT NULL DROP TABLE #ORDER
		--順序1-1   期中>12期
		SELECT APPL_NO,CUSTO_NO,1 AS ORDER1 ,ROW_NUMBER () OVER (PARTITION BY CUSTO_NO ORDER BY ISNULL(PAYT_NUM,0),FAPCON_DT ASC ) ORDER2
		INTO #ORDER
		--FROM OBPOOLDATA WITH(NOLOCK)
		FROM #latest_cases --20240523 篩選同借款人同車號
		WHERE LIST_TYPE='01' AND ISNULL(PAYT_NUM,0)>=@MIN_DEAL
		AND SPEC_NAME NOT LIKE '%白牌%'
		AND PROD_KIND='01' --汽車優先分派20240722


		---順序1-2   當月滿期
		INSERT INTO #ORDER
		SELECT APPL_NO,CUSTO_NO,2 AS ORDER1 ,ROW_NUMBER () OVER (PARTITION BY CUSTO_NO ORDER BY MATURITY_DT DESC ) ORDER2
		--FROM OBPOOLDATA WITH(NOLOCK)
		FROM #latest_cases --20240523 篩選同借款人同車號
		WHERE LIST_TYPE='03' 
		AND PROD_KIND='01' --汽車優先分派20240722
		



		---順序1-3   中結>=4個月
		INSERT INTO #ORDER
		SELECT APPL_NO,CUSTO_NO,3 AS ORDER1 ,ROW_NUMBER () OVER (PARTITION BY CUSTO_NO ORDER BY ACC_DATE DESC ) ORDER2
		--FROM OBPOOLDATA WITH(NOLOCK)
		FROM #latest_cases --20240523 篩選同借款人同車號
		--WHERE LIST_TYPE='02' AND DATEDIFF(MONTH,ACC_DATE,GETDATE())>=@BREAK_NUM  --結清日
		WHERE LIST_TYPE='02' AND DATEDIFF(MONTH,ACC_DATE,@WORKDT)>=@BREAK_NUM  --結清日
		--AND LIC_NO NOT IN (SELECT LIC_NO FROM #TMP_LIC)  --進 件撥款中案件不取
		AND PROD_KIND='01' --汽車優先分派20240722




		---順序1-4   滿期>=4個月
		INSERT INTO #ORDER
		SELECT APPL_NO,CUSTO_NO,4 AS ORDER1  ,ROW_NUMBER () OVER (PARTITION BY CUSTO_NO ORDER BY MATURITY_DT DESC ) ORDER2
		--FROM OBPOOLDATA WITH(NOLOCK)
		FROM #latest_cases --20240523 篩選同借款人同車號
		--WHERE LIST_TYPE='04' AND DATEDIFF(MONTH,MATURITY_DT,GETDATE())>=@BREAK_NUM   --最後一期繳款日
		WHERE LIST_TYPE='04' AND DATEDIFF(MONTH,MATURITY_DT,@WORKDT)>=@BREAK_NUM   --最後一期繳款日
		--AND LIC_NO NOT IN (SELECT LIC_NO FROM #TMP_LIC)  --進 件撥款中案件不取
		AND PROD_KIND='01' --汽車優先分派20240722

		---順序1-5   滿期<4個月
		INSERT INTO #ORDER
		SELECT APPL_NO,CUSTO_NO,5 AS ORDER1 ,ROW_NUMBER () OVER (PARTITION BY CUSTO_NO ORDER BY MATURITY_DT DESC ) ORDER2
		--FROM OBPOOLDATA WITH(NOLOCK)
		FROM #latest_cases --20240523 篩選同借款人同車號
		--WHERE LIST_TYPE='04' AND  DATEDIFF(MONTH,MATURITY_DT,GETDATE())<@BREAK_NUM  --結清日
		WHERE LIST_TYPE='04' AND  DATEDIFF(MONTH,MATURITY_DT,@WORKDT)<@BREAK_NUM  --結清日
		AND LIC_NO NOT IN (SELECT LIC_NO FROM #TMP_LIC)  --進 件撥款中案件不取
		AND PROD_KIND='01' --汽車優先分派20240722

		-----順序1-6   期中未滿12期
		--INSERT INTO #ORDER
		--SELECT APPL_NO,CUSTO_NO,6 AS ORDER1,ROW_NUMBER () OVER (PARTITION BY CUSTO_NO ORDER BY PAYT_NUM DESC ) ORDER2
		--FROM OBPOOLDATA WITH(NOLOCK)
		--WHERE LIST_TYPE='01' AND PAYT_NUM<@MIN_DEAL
		--AND SPEC_NAME NOT LIKE '%白牌%'

		---順序1-7   中結<=4個月
		INSERT INTO #ORDER
		SELECT APPL_NO,CUSTO_NO,7 AS ORDER1 ,ROW_NUMBER () OVER (PARTITION BY CUSTO_NO ORDER BY ACC_DATE DESC ) ORDER2
		--FROM OBPOOLDATA WITH(NOLOCK)
		FROM #latest_cases --20240523 篩選同借款人同車號
		--WHERE LIST_TYPE='02' AND  DATEDIFF(MONTH,ACC_DATE,GETDATE())<@BREAK_NUM  --結清日
		WHERE LIST_TYPE='02' AND  DATEDIFF(MONTH,ACC_DATE,@WORKDT)<@BREAK_NUM  --結清日
		AND LIC_NO NOT IN (SELECT LIC_NO FROM #TMP_LIC)  --進 件撥款中案件不取
		AND PROD_KIND='01' --汽車優先分派20240722


		--順序2-1   期中>12期
		INSERT INTO #ORDER
		SELECT APPL_NO,CUSTO_NO,21 AS ORDER1 ,ROW_NUMBER () OVER (PARTITION BY CUSTO_NO ORDER BY ISNULL(PAYT_NUM,0),FAPCON_DT ASC ) ORDER2
		--FROM OBPOOLDATA WITH(NOLOCK)
		FROM #latest_cases --20240523 篩選同借款人同車號
		WHERE LIST_TYPE='01' AND ISNULL(PAYT_NUM,0)>=@MIN_DEAL
		AND SPEC_NAME NOT LIKE '%白牌%'
		AND PROD_KIND IN ('02','03') --汽車優先分派20240722


		---順序2-2   當月滿期
		INSERT INTO #ORDER
		SELECT APPL_NO,CUSTO_NO,22 AS ORDER1 ,ROW_NUMBER () OVER (PARTITION BY CUSTO_NO ORDER BY MATURITY_DT DESC ) ORDER2
		--FROM OBPOOLDATA WITH(NOLOCK)
		FROM #latest_cases --20240523 篩選同借款人同車號
		WHERE LIST_TYPE='03' 
		AND PROD_KIND IN ('02','03') --汽車優先分派20240722
		



		---順序2-3   中結>=4個月
		INSERT INTO #ORDER
		SELECT APPL_NO,CUSTO_NO,23 AS ORDER1 ,ROW_NUMBER () OVER (PARTITION BY CUSTO_NO ORDER BY ACC_DATE DESC ) ORDER2
		--FROM OBPOOLDATA WITH(NOLOCK)
		FROM #latest_cases --20240523 篩選同借款人同車號
		--WHERE LIST_TYPE='02' AND DATEDIFF(MONTH,ACC_DATE,GETDATE())>=@BREAK_NUM  --結清日
		WHERE LIST_TYPE='02' AND DATEDIFF(MONTH,ACC_DATE,@WORKDT)>=@BREAK_NUM  --結清日
		--AND LIC_NO NOT IN (SELECT LIC_NO FROM #TMP_LIC)  --進 件撥款中案件不取
		AND PROD_KIND IN ('02','03') --汽車優先分派20240722
		




		---順序2-4   滿期>=4個月
		INSERT INTO #ORDER
		SELECT APPL_NO,CUSTO_NO,24 AS ORDER1  ,ROW_NUMBER () OVER (PARTITION BY CUSTO_NO ORDER BY MATURITY_DT DESC ) ORDER2
		--FROM OBPOOLDATA WITH(NOLOCK)
		FROM #latest_cases --20240523 篩選同借款人同車號
		--WHERE LIST_TYPE='04' AND DATEDIFF(MONTH,MATURITY_DT,GETDATE())>=@BREAK_NUM   --最後一期繳款日
		WHERE LIST_TYPE='04' AND DATEDIFF(MONTH,MATURITY_DT,@WORKDT)>=@BREAK_NUM   --最後一期繳款日
		--AND LIC_NO NOT IN (SELECT LIC_NO FROM #TMP_LIC)  --進 件撥款中案件不取
		AND PROD_KIND IN ('02','03') --汽車優先分派20240722
		

		---順序2-5   滿期<4個月
		INSERT INTO #ORDER
		SELECT APPL_NO,CUSTO_NO,25 AS ORDER1 ,ROW_NUMBER () OVER (PARTITION BY CUSTO_NO ORDER BY MATURITY_DT DESC ) ORDER2
		--FROM OBPOOLDATA WITH(NOLOCK)
		FROM #latest_cases --20240523 篩選同借款人同車號
		--WHERE LIST_TYPE='04' AND  DATEDIFF(MONTH,MATURITY_DT,GETDATE())<@BREAK_NUM  --結清日
		WHERE LIST_TYPE='04' AND  DATEDIFF(MONTH,MATURITY_DT,@WORKDT)<@BREAK_NUM  --結清日
		AND LIC_NO NOT IN (SELECT LIC_NO FROM #TMP_LIC)  --進 件撥款中案件不取
		AND PROD_KIND IN ('02','03') --汽車優先分派20240722
		

		-----順序2-6   期中未滿12期
		--INSERT INTO #ORDER
		--SELECT APPL_NO,CUSTO_NO,6 AS ORDER1,ROW_NUMBER () OVER (PARTITION BY CUSTO_NO ORDER BY PAYT_NUM DESC ) ORDER2
		--FROM OBPOOLDATA WITH(NOLOCK)
		--WHERE LIST_TYPE='01' AND PAYT_NUM<@MIN_DEAL
		--AND SPEC_NAME NOT LIKE '%白牌%'

		---順序2-7   中結<=4個月
		INSERT INTO #ORDER
		SELECT APPL_NO,CUSTO_NO,27 AS ORDER1 ,ROW_NUMBER () OVER (PARTITION BY CUSTO_NO ORDER BY ACC_DATE DESC ) ORDER2
		--FROM OBPOOLDATA WITH(NOLOCK)
		FROM #latest_cases --20240523 篩選同借款人同車號
		--WHERE LIST_TYPE='02' AND  DATEDIFF(MONTH,ACC_DATE,GETDATE())<@BREAK_NUM  --結清日
		WHERE LIST_TYPE='02' AND  DATEDIFF(MONTH,ACC_DATE,@WORKDT)<@BREAK_NUM  --結清日
		AND LIC_NO NOT IN (SELECT LIC_NO FROM #TMP_LIC)  --進 件撥款中案件不取
		AND PROD_KIND IN ('02','03') --汽車優先分派20240722
		

		---順序8  其他
		INSERT INTO #ORDER
		SELECT APPL_NO,CUSTO_NO,28 AS ORDER1 ,ROW_NUMBER () OVER (PARTITION BY CUSTO_NO ORDER BY FAPCON_DT DESC ) ORDER2
		--FROM OBPOOLDATA WITH(NOLOCK)
		FROM #latest_cases --20240523 篩選同借款人同車號
		WHERE APPL_NO NOT IN (SELECT APPL_NO FROM #ORDER)
		AND LIC_NO NOT IN (SELECT LIC_NO FROM #TMP_LIC)  --進 件撥款中案件不取
		AND PROD_KIND IN ('01','02','03') --汽車優先分派，20240722


		UPDATE A --OBPOOLDATA
		SET ORDER1=ISNULL(B.ORDER1,'99'),
			ORDER2=ISNULL(B.ORDER2,'99')
		--FROM OBPOOLDATA WITH(NOLOCK)
		FROM #latest_cases A --20240523 篩選同借款人同車號
		LEFT JOIN #ORDER B ON A.APPL_NO=B.APPL_NO 

		IF OBJECT_ID('tempdb..#BEST_CASE') IS NOT NULL DROP TABLE #BEST_CASE
		SELECT CUSTO_NO,APPL_NO,ORDER1,ORDER2,ROW_NUMBER () OVER (PARTITION BY CUSTO_NO ORDER BY CUSTO_NO,ORDER1,ORDER2 ASC ) SEQ
		INTO #BEST_CASE
		--FROM OBPOOLDATA WITH(NOLOCK)
		FROM #latest_cases --20240523 篩選同借款人同車號
		ORDER BY CUSTO_NO,ORDER1,ORDER2


		UPDATE OBPOOLDATA
		SET  BEST_CASE='Y'
		FROM OBPOOLDATA A
		JOIN #BEST_CASE B ON A.APPL_NO=B.APPL_NO AND B.SEQ=1


		UPDATE OBPOOLDATA
		SET MONTH_CNT= CASE LIST_TYPE WHEN '01' THEN PAYT_NUM 
									  --WHEN '02' THEN DATEDIFF(MONTH,ISNULL(ACC_DATE,'2009/01/01'),GETDATE())
									  WHEN '02' THEN DATEDIFF(MONTH,ISNULL(ACC_DATE,'2009/01/01'),@WORKDT)
									  WHEN '03' THEN 0
									  --WHEN '04' THEN DATEDIFF(MONTH,ISNULL(LAST_PAY_DATE,'2009/01/01'),GETDATE())
									  WHEN '04' THEN DATEDIFF(MONTH,ISNULL(LAST_PAY_DATE,'2009/01/01'),@WORKDT)
									  END,
			YEAR_CNT = CASE LIST_TYPE WHEN '01' THEN PAYT_NUM /12
									  --WHEN '02' THEN DATEDIFF(MONTH,ISNULL(ACC_DATE,'2009/01/01'),GETDATE())/12
									  WHEN '02' THEN DATEDIFF(MONTH,ISNULL(ACC_DATE,'2009/01/01'),@WORKDT)/12
									  WHEN '03' THEN 0
									  --WHEN '04' THEN DATEDIFF(MONTH,ISNULL(LAST_PAY_DATE,'2009/01/01'),GETDATE())/12
									   WHEN '04' THEN DATEDIFF(MONTH,ISNULL(LAST_PAY_DATE,'2009/01/01'),@WORKDT)/12
									  END

						  
		 UPDATE OBPOOLDATA
		 SET SETTLE_SRC='Y'	  
		 FROM  OBPOOLDATA A 
		 JOIN SQYHFC07.ZZIPPROD.dbo.ZZIP_SETREC_D B ON A.APPL_NO = B.APPL_NO
		WHERE LIST_TYPE='02' --中結
			  AND (B.REMITTER LIKE '%台新%'
				OR B.REMITTER LIKE '%中租%'
				OR B.REMITTER LIKE '%裕融%'
				OR B.REMITTER LIKE '%匯豐%'
				OR B.REMITTER LIKE '%合迪%')



			--UPD BY JOAN 20190821 期中客戶分級 靜華
			/*期數     原融    本新    中古    他新
			 12-17      A       -       B        C
			 18-23      A       -       C        D
			 24-35      B       B       C        D
			 >35        C       B       D        D   */
		UPDATE OBPOOLDATA
		SET	CUS_LEVEL = CASE WHEN SPEC_TP IN ('01','03') AND MONTH_CNT  >=24   THEN 'B'                --本新>=24
							 WHEN SPEC_TP IN ('11','13') AND MONTH_CNT BETWEEN 12 AND 17 THEN 'C'     --他新12-17 
							 WHEN SPEC_TP IN ('11','13') AND MONTH_CNT>=18  THEN 'D'					 --他新>=18
							 WHEN SPEC_TP IN ('04','06','14','16','20','21','22','23') AND MONTH_CNT BETWEEN 12 AND 23   THEN 'A'	 --原融 12-23
							 WHEN SPEC_TP IN ('04','06','14','16','20','21','22','23') AND MONTH_CNT BETWEEN 24 AND 35   THEN 'B'	 --原融 25-35
							 WHEN SPEC_TP IN ('04','06','14','16','20','21','22','23') AND MONTH_CNT >=36   THEN 'B'				--原融 >=36
							 WHEN SPEC_TP IN ('02','05','12','15') AND MONTH_CNT  BETWEEN 12 AND 17   THEN 'B'						--中古車 12-17
							 WHEN SPEC_TP IN ('02','05','12','15') AND MONTH_CNT  BETWEEN 18 AND 35   THEN 'C'						--中古車 19-35
							 WHEN SPEC_TP IN ('02','05','12','15') AND MONTH_CNT   >=36    THEN 'D'									--中古車 >=36
					   ELSE '' END 
		WHERE LIST_TYPE='01'


		--20240626 名單年月202407 起 原融類高成數案件 卡控已繳期數比例，未達比例則不發放

		/*
		貸款比例(%)			已繳期數比例下限
										0.9
		180
			~							0.8
		170
			~							0.7
		140
			~							0.6
		130
										(不限)
		
		*/
				--20240927 名單年月202410 起 原融類高成數案件 卡控已繳期數比例，未達比例則不發放(放寬)

		/*
		貸款比例(%)			已繳期數比例下限
										0.8
		180
			~							0.7
		150
			~							0.6
		140
			~							0.5
		130
										(不限)
		
		*/

					--20250822 名單年月202509 起 原融類高成數案件 卡控已繳期數比例，未達比例則不發放(放寬)

		/*
		貸款比例(%)			已繳期數比例下限
										0.7
		180
			~							0.6
		150
			~							0.5
		140
			~							0.4
		130
										(不限)
		
		*/

		/* 202505先拉除預估此段邏輯
		*/
		UPDATE OBPOOLDATA
		SET BEST_CASE='' --(移除優勢案件註記即不會被發放) 
		WHERE LIST_TYPE='01'
		AND PROD_KIND='01'	--汽車
		AND BEST_CASE='Y'		--優勢案件
		AND  SPEC_TP IN ('04','06','14','16','20','21','22','23') 
		AND (			
					(LOAN_RATE>130 AND MONTH_CNT/DEAL_NUM<0.35)
			OR	(LOAN_RATE>140 AND MONTH_CNT/DEAL_NUM<0.45)
			OR	(LOAN_RATE>150 AND MONTH_CNT/DEAL_NUM<0.55)
			OR	(LOAN_RATE>180 AND MONTH_CNT/DEAL_NUM<0.65)
		) 
		--20251126 競賽月，再下降5%
		--AND (			
		--			(LOAN_RATE>130 AND MONTH_CNT/DEAL_NUM<0.4)
		--	OR	(LOAN_RATE>140 AND MONTH_CNT/DEAL_NUM<0.5)
		--	OR	(LOAN_RATE>150 AND MONTH_CNT/DEAL_NUM<0.6)
		--	OR	(LOAN_RATE>180 AND MONTH_CNT/DEAL_NUM<0.7)
		--) 
		--20250822 九月起門檻下降10%
		--AND (			
		--			(LOAN_RATE>130 AND MONTH_CNT/DEAL_NUM<0.5)
		--	OR (LOAN_RATE>140 AND MONTH_CNT/DEAL_NUM<0.6)
		--	OR (LOAN_RATE>150 AND MONTH_CNT/DEAL_NUM<0.7)
		--	OR (LOAN_RATE>180 AND MONTH_CNT/DEAL_NUM<0.8)
		--)

		--20251230 尾付專案即將滿除排除行銷(移除優勢案件，交由分期流程追蹤案件後送)
		UPDATE OBPOOLDATA
		SET BEST_CASE=''
		WHERE BEST_CASE='Y'
		AND LIST_TYPE IN ('01','03')--期中或當月滿期
		and SPEC_NO IN(
		 'AAA1911002'		--LEXUS智選專案
		,'AAA2303001'		--TOYOTA尊享專案(階段尾付)
		,'AAA2304001'		--LEXUS尊享專案(階段尾付)
		,'AAA2305001'		--2023 LEXUS智選專案
		,'ACD2308001'		--他牌新車豪享專案
		,'ACD2501007'		--202502他牌新車豪享專案(3.99%)
		,'ACD2501008'		--202502他牌新車豪享專案(4.25%)
		,'ACZ2404032'		--	202404中古尊榮輕鬆購(無佣)
		,'ACZ2406007'		--	202406中古尊榮輕鬆購
		,'ACZ2404019'		--	202404CARPOST車博資訊附尾款專案
		,'ACD2410019'		--202411寶嘉三階段尾付低利補貼專案
		,'ACK2504002'		--	重機-新車專案(附尾款)
		,'ACK2504004'		--	重機-新車補貼專案(附尾款)
		)
		AND DEAL_NUM-PAYT_TERM<4




	END
	
END


